{% extends "emailsystem/emailsystembase.html" %}
{% block content %}
    {{ block.super }}


    <form method="post" id="model_form">
        {% csrf_token %}

        <table border="1">
            <tr>
                <th>이메일</th>
                <th>비번</th>
                <th>ImapServer</th>
                <th>ImapPort</th>
                <th>PopServer</th>
                <th>PopPort</th>
                <th>Imap사용</th>
                <th>활성화</th>
                <th>이메일동기화개수(0=전체)</th>


            </tr>
            <tr>
                <td><input name="syncemail" type="email"></td>
                <td><input name="password" type="password"></td>
                <td><input name="imapServer" type="text"></td>
                <td><input name="imapPort" type="number"></td>
                <td><input name="popServer" type="text"></td>
                <td><input name="popPort" type="number"></td>
                <td><input name="isImap" onclick="clickcheck(this)" type="checkbox" checked="checked" value="on"></td>
                <td><input name="isActive" onclick="clickcheck(this)" type="checkbox" checked="checked" value="on"></td>
                <td><input name="syncEmailCount" type="number"></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-primary" value="New">
    </form>



    <form action="{% url 'emailsystem:emailsetting' %}" method="post">
        {% csrf_token %}

        <table border="1">
            <tr>


                <th>이메일</th>
                <th>비번</th>
                <th>ImapServer</th>
                <th>ImapPort</th>
                <th>smtpServer</th>
                <th>smtpPort</th>
                <th>PopServer</th>
                <th>PopPort</th>
                <th>Imap사용</th>
                <th>활성화</th>
                <th>이메일동기화개수(0=전체)</th>


            </tr>

            {% if emailsetting %}
                {% for data in emailsetting %}
                    <tr>
                        <input type="hidden" name="id_{{ data.id }}" type="number" value="{{ data.id }}">
                        <td><input name="syncemail_{{ data.id }}" type="email" value="{{ data.syncEmail }}"></td>
                        <td><input name="password_{{ data.id }}" type="password" value="{{ data.password }}"></td>
                        <td><input name="imapServer_{{ data.id }}" type="text" value="{{ data.imapServer }}"></td>
                        <td><input name="imapPort_{{ data.id }}" type="number" value="{{ data.imapPort }}"></td>
                         <td><input name="smtpServer_{{ data.id }}" type="text" value="{{ data.smtpServer }}"></td>
                        <td><input name="smtpPort_{{ data.id }}" type="number" value="{{ data.smtpPort }}"></td>
                        <td><input name="popServer_{{ data.id }}" type="text" value="{{ data.popServer }}"></td>
                        <td><input name="popPort_{{ data.id }}" type="number" value="{{ data.popPort }}"></td>
                        <td><input name="isImap_{{ data.id }}" onclick="clickcheck(this)" type="checkbox"
                                   {% if data.isImap %}checked="checked" value="on"
                                   {% else %} value="off"
                                   {% endif %}></td>
                        <td><input name="isActive_{{ data.id }}" onclick="clickcheck(this)" type="checkbox"
                                   {% if data.isActive %}checked="checked" value="on"
                                   {% else %} value="off"
                                   {% endif %}></td>
                        <td><input name="syncEmailCount_{{ data.id }}" type="number" value="{{ data.syncEmailCount }}">
                        </td>
                        <td><a class="button" href="{% url 'emailsystem:syncmail' %}?emailsettingid={{ data.id }}">이메일
                            가져오기</a></td>
                    </tr>
                {% endfor %}
            {% endif %}

        </table>
        <input type="submit" class="btn btn-primary" value="Modify">
    </form>
    <br><br>

    <!-- 이메일 옵션 선택-->
    <p>이메일 옵션 이름</p>
    {% for eo in email_option %}

        <div>{{  eo.optionName }}
        {% if eo.optionName == 'SYSTEM_EMAIL_ACCOUNT' %}
           {{ eo.opationName }} : {{ eo.emailoption_emailoptioncode.first.code }}({{ eo.emailoption_emailoptioncode.first.explanation }})
        {% else %}

        <select class="email_option" id="{{ eo.id }}">
                <option value="none">-------</option>
            {% for emailoptioncode in eo.emailoption_emailoptioncode.all %}
                    {% for choice in user_emailoption_choice %}
                        {% if emailoptioncode.id == choice.email_option_code.id and choice.email_option.optionName == 'ACK_ACCOUNT_CHOICE' %}
                             <option value="{{ choice.email_option_code.id }}" selected>{{ choice.email_option_code.code }}({{ choice.email_option_code.explanation }})</option>
                        {% elif choice.email_option.optionName == 'ACK_ACCOUNT_CHOICE' %}
                            <option value="{{ emailoptioncode.id }}" >{{ emailoptioncode.code }}({{ emailoptioncode.explanation }})</option>
                        {% endif %}
                    {% endfor %}






            {% endfor %}
        </select>

    {% endif %}
          </div>

    {% endfor %}





    <br><br>
    <form method="post" action="{% url 'emailsystem:emailsetting_ack' %}">
    {% csrf_token %}
        {{ ackform.as_table }}
        <input type="submit" value="ACK 추가">
    </form>

    <table border="1" class="basictable">
        {% for ack in allacks %}
            <tr>
                <td>
                    {% autoescape off %}{{ ack.ack_content }}{% endautoescape %}
                </td>
                <td><a href="{% url 'emailsystem:emailsetting_ack' ack.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>

      <form method="post" action="{% url 'emailsystem:emailsetting_signature' %}">
    {% csrf_token %}
        {{ signatureform.as_table }}
        <input type="submit" value="SIGNATURE 추가">
    </form>

    <table border="1" class="basictable">
        {% for sig in allsignature %}
            <tr>
                <td>
                    {% autoescape off %}{{ sig.signature }}{% endautoescape %}
                </td>
                <td><a href="{% url 'emailsystem:emailsetting_signature' sig.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>




<p><strong>ACK/SIGNATURE 선택</strong></p>

    {% for emailinfo in allemailinfo %}
        <p><strong>{{ emailinfo.syncEmail }}</strong></p>
        <span>
        <select class="ack_sig_select" id="ack{{ emailinfo.id }}">
                <option value="none">-------</option>
            {% for ack in allacks %}
                {% if ack.id == emailinfo.ack_content_id %}
                <option value="{{ ack.id }}" selected>{% autoescape off %}{{ ack.ack_content }}{% endautoescape %}</option>
                {% else %}
                <option value="{{ ack.id }}" >{% autoescape off %}{{ ack.ack_content }}{% endautoescape %}</option>
                {% endif %}
            {% endfor %}
        </select>
        </span>
          <span>
        <select class="ack_sig_select" id="sig{{ emailinfo.id }}">
                <option value="none">-------</option>
            {% for sig in allsignature %}
                {% if sig.id == emailinfo.signature_id %}
                <option value="{{ sig.id }}" selected>{% autoescape off %}{{ sig.signature }}{% endautoescape %}</option>
                {% else %}
                <option value="{{ sig.id }}" >{% autoescape off %}{{ sig.signature }}{% endautoescape %}</option>
                {% endif %}
            {% endfor %}
        </select>
        </span>

  {% endfor %}


    <br>

    <br>


    <script>
        function clickcheck(check) {
            if ($(check).is(":checked")) {
                $(check).val('on')
            } else {
                //$(check).prop("checked", false);
                $(check).val('off')
            }
        }

        $(document).ready(function () {
            $(document).on('submit', '#model_form', function (e) {


                var csrftoken = $("[name=csrfmiddlewaretoken]").val();

                $.ajax({
                    type: 'post',
                    url: '{% url 'emailsystem:newemailsetting' %}',
                    async: false,
                    data: $(this).serialize(),
                    success: function (data) {
                        window.location.reload();
                    },

                });
                event.preventDefault();
            });
        });


          $('select[class=ack_sig_select]').change(function () {

            var emailinfoid = $(this).attr('id');
             var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            var result = {}
              if (emailinfoid.includes("ack"))
              {


                  result = { 'emailinfo_id': emailinfoid.replace("ack",""),
                    'ack_id': this.value,
                    csrfmiddlewaretoken: csrftoken};

              }
              else
              {

                   result = { 'emailinfo_id': emailinfoid.replace("sig",""),
                    'sig_id': this.value,
                    csrfmiddlewaretoken: csrftoken};
              }

                //JSON.stringify(result)
            $.ajax({
                type: 'POST',
                url: '{% url 'emailsystem:emailsetting_ack_sig_change' %}',
                data: result,
                dataType: 'json',
                success: function (data) {
                    window.location.reload();

                },
                error: function(xhr, ajaxOptions, thrownError) {
                alert(xhr.status + ' Error: ' + thrownError);
            }
            });
        })


     $('select[class=email_option]').change(function () {

            var emailoptioncodeid = this.value;
             var csrftoken = $("[name=csrfmiddlewaretoken]").val();
             var emailoptionid = $(this).attr('id')


                //JSON.stringify(result)
            $.ajax({
                type: 'POST',
                url: '{% url 'emailsystem:emailsetting_emailoption_choice' %}',
                data: {'emailoptioncodeid':emailoptioncodeid,
                    csrfmiddlewaretoken: csrftoken,
                    'emailoptionid':emailoptionid},
                dataType: 'json',
                success: function (data) {
                    window.location.reload();

                },
                error: function(xhr, ajaxOptions, thrownError) {
                alert(xhr.status + ' Error: ' + thrownError);
            }
            });
        })
    </script>
{% endblock %}