<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% autoescape off %}{{ email.body }}{% endautoescape %}
<script>
    $(document).ready(function () {


            $( "img[src*='cid:']" ).each(function( index ) {
    var a = $(this).attr('src');
    $(this).attr('src','{% url 'emailsystem:email_showcidimg' %}?emailid=+{{ email.id }}&cid=' + a)

        });




    })
</script>

