{% extends "emailsystem/emailsystembase.html" %}
{% block content %}
    {{ block.super }}

    <h2>{{ _("applicantstable") }}</h2>

    <div>
        <form type="post" id="upload" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>HTML File Upload</legend>

                <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000"/>

                <div>
                    <label for="fileselect">Files to upload:</label>
                    <input type="file" id="fileselect" name="fileselect[]" multiple="multiple"/>
                    <div id="filedrag">or drop files here</div>
                </div>

                <div id="submitbutton">
                    <button type="submit">Upload Files</button>
                </div>

            </fieldset>


        </form>
        <div id="messages">
            <p>Status Messages</p>
        </div>
    </div>


    <script type="text/javascript">
        // Popup window code


        $(document).ready(function () {
        if (window.File && window.FileList && window.FileReader) {
	Init();
}

        });

        function Init() {

	var fileselect = $id("fileselect"),
		filedrag = $id("filedrag"),
		submitbutton = $id("submitbutton");

	// file select
	fileselect.addEventListener("change", FileSelectHandler, false);

	// is XHR2 available?
	var xhr = new XMLHttpRequest();
	if (xhr.upload) {

		// file drop
		filedrag.addEventListener("dragover", FileDragHover, false);
		filedrag.addEventListener("dragleave", FileDragHover, false);
		filedrag.addEventListener("drop", FileSelectHandler, false);
		filedrag.style.display = "block";

		// remove submit button
		submitbutton.style.display = "none";
	}

}
function $id(id) {
	return document.getElementById(id);
}
function Output(msg) {
	var m = $id("messages");
	m.innerHTML = msg + m.innerHTML;
}
function FileDragHover(e) {
	e.stopPropagation();
	e.preventDefault();
	e.target.className = (e.type == "dragover" ? "hover" : "");
}
function FileSelectHandler(e) {

	// cancel event and hover styling
	FileDragHover(e);

	// fetch FileList object
	var files = e.target.files || e.dataTransfer.files;

	// process all File objects
	for (var i = 0, f; f = files[i]; i++) {
		ParseFile(f);
	}

}
function ParseFile(file) {

	Output(
		"<p>File information: <strong>" + file.name +
		"</strong> type: <strong>" + file.type +
		"</strong> size: <strong>" + file.size +
		"</strong> bytes</p>"
	);

}
    </script>
{% endblock %}