{% extends "emailsystem/emailsystembase.html" %}
{% block content %}
    {{ block.super }}

    <h2>{{ _("applicantstable") }}</h2>

    <div>
        <a class="btn btn-primary" href="{% url 'emailsystem:testemail' %}">Make Test Email</a>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'emailsystem:syncemailfile' %}">Sync Email</a>
    </div>
    <div id="drop-area">
        <form class="my-form">
            {% csrf_token %}
            <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed
                region</p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
            <label class="button" for="fileElem">Select some files</label>
        </form>
        <div id="gallery"></div>
        <progress id="progress-bar" max=100 value=0></progress>
    </div>

    <input type="file" onchange="getfolder(event)" id="ctrl" webkitdirectory directory multiple/>
    <br>

    <div class="duplicate_container">

        <div class="d-table duplicate">
          {% if duplicate_list %}
                {% for data in duplicate_list %}
            <div class="d-table-row">
                <div class="d-table-cell">구분</div>
                {% for t in data.duplicateReference.all %}
                         <div class="d-table-cell">오리진</div>
                            {% endfor %}
                <div class="d-table-cell">추가</div>

            </div>

                     <div class="d-table-row" id="clickedrow" onclick='clickrow("{{data.emailId}}")'>
                        <div class="d-table-cell">아이디</div>
                        {% for t in data.duplicateReference.all %}
                         <div class="d-table-cell">{{ t.emailId }}</div>
                            {% endfor %}
                        <div class="d-table-cell">{{ data.emailId }}</div>


                    </div>
                      <div class="d-table-row" id="clickedrow" onclick='clickrow("{{data.emailId}}")'>
                        <div class="d-table-cell">참조아이디</div>
                      {% for t in data.duplicateReference.all %}
                         <div class="d-table-cell"></div>
                            {% endfor %}
                         <div class="d-table-cell">
                               {% for t in data.duplicateReference.all %}
                                   {{ t.emailId }},
                                    {% endfor %}
                         </div>




                    </div>
                    <div class="d-table-row" id="clickedrow" onclick='clickrow("{{data.emailId}}")'>
                        <div class="d-table-cell">제목</div>
                        {% for t in data.duplicateReference.all %}
                         <div class="d-table-cell">{{ t.subject }}</div>
                            {% endfor %}
                        <div class="d-table-cell">{{ data.subject }}</div>


                    </div>
                    <div class="d-table-row hiderow" name="{{data.emailId}}">
                        <div class="d-table-cell">내용</div>
                        {% for t in data.duplicateReference.all %}
                         <div class="d-table-cell">{{ t.body }}</div>
                            {% endfor %}
                        <div class="d-table-cell">{{ data.body }}</div>


                    </div>
                    <div class="d-table-row hiderow" name="{{data.emailId}}">
                        <div class="d-table-cell">수신날짜</div>
                        {% for t in data.duplicateReference.all %}
                         <div class="d-table-cell">{{ t.receivedDate }}</div>
                            {% endfor %}
                        <div class="d-table-cell">{{ data.receivedDate }}</div>

                    </div>
                     <div class="d-table-row hiderow" name="{{data.emailId}}">
                        <div class="d-table-cell">입력</div>
                       {% for t in data.duplicateReference.all %}
                         <div class="d-table-cell"><a class="button btn-light btn" href="{% url 'emailsystem:addduplicateparentemail' t.emailId %}">추가</a><a class="button btn-danger" href="{% url 'emailsystem:deleteduplicateparentemail' t.emailId %}">삭제</a></div>
                            {% endfor %}
                        <div class="d-table-cell">
                            {% if data.duplicateReference.all.count == 1 %}
                            <a class="button btn-light btn" href="{% url 'emailsystem:addduplicatechildemail' data.emailId %}">추가</a><a class="button btn-danger" href="{% url 'emailsystem:deleteduplicatechildemail' data.emailId %}">삭제</a>
                            {% endif %}
                        </div>

                    </div>
                    <br>
                    <br>
                {% endfor %}
            {% endif %}
        </div>

    </div>

     <div>
        {% if file_list %}
            {% for file in file_list %}
                <div>{{ file }}</div>
            {% endfor %}
        {% endif %}
    </div>


    <script type="text/javascript">

        function clickrow(e) {


            var rows = Array.prototype.slice.call(document.getElementsByName(e));


            for(var i =0; i < rows.length; i++)
            {

                if (rows[i].style.display !== "table-row") {

                    rows[i].style.setProperty('display', 'table-row', 'important');
                    //x.style.display = "block";
                } else {
                    //x.style.display = "none";
                    rows[i].style.setProperty('display', 'none', 'important');
                }
            }
        }

        function getfolder(e) {

            var files = e.target.files;
            files = [...files]
            uploadFile(files)
            //var path = files[0].webkitRelativePath;
            //var Folder = path.split("/");

        }


        let uploadurl = '{%  url 'emailsystem:emailuploading' %}'


        function preventDefaults(e) {
            e.preventDefault()
            e.stopPropagation()
        }

        function highlight(e) {
            dropArea.classList.add('highlight')
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight')
        }


        function handleDrop(e) {
            let dt = e.dataTransfer
            let files = dt.files

            handleFiles(files)
        }

        function handleFiles(files) {
            files = [...files]
            initializeProgress(files.length)
            uploadFile(files)
            //files.forEach(previewFile)
        }

            function uploadFolderFile(files) {

            //let url = 'http://127.0.0.1:8000/emailsystem/emailuploading'
            let formData = new FormData()

                for (var i=0; i<files.length; i++)
                {
                    formData.append('files[]', files[i])
                }

            formData.append('csrfmiddlewaretoken', $('#csrf-helper input[name="csrfmiddlewaretoken"]').attr('value'));
            fetch(uploadurl, {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            }).then(response =>
                    {
                        alert('success.')
                        location.reload()
                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }

        function uploadFile(files) {
            //let url = 'http://127.0.0.1:8000/emailsystem/emailuploading'
            let formData = new FormData()
            for(var i =0; i<files.length; i++)
            {
            formData.append('files[]', files[i])
            }

            formData.append('csrfmiddlewaretoken', $('#csrf-helper input[name="csrfmiddlewaretoken"]').attr('value'));
            fetch(uploadurl, {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {
                        alert('success.')
                        location.reload()
                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }

        function uploadFile1(file) {
            var url = 'YOUR URL HERE'
            var xhr = new XMLHttpRequest()
            var formData = new FormData()
            xhr.open('POST', url, true)

            // Add following event listener
            xhr.upload.addEventListener("progress", function (e) {
                updateProgress(i, (e.loaded * 100.0 / e.total) || 100)
            })

            xhr.addEventListener('readystatechange', function (e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Done. Inform the user
                } else if (xhr.readyState == 4 && xhr.status != 200) {
                    // Error. Inform the user
                }
            })

            formData.append('file', file)
            xhr.send(formData)
        }

        function previewFile(file) {
            let reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onloadend = function () {
                let img = document.createElement('img')
                img.src = reader.result
                document.getElementById('gallery').appendChild(img)
            }
        }


        function progressDone() {
            filesDone++
            progressBar.value = filesDone / filesToDo * 100
        }


        function initializeProgress(numFiles) {
            progressBar.value = 0
            uploadProgress = []

            for (let i = numFiles; i > 0; i--) {
                uploadProgress.push(0)
            }
        }

        function updateProgress(fileNumber, percent) {
            uploadProgress[fileNumber] = percent
            let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
            progressBar.value = total
        }


        let dropArea = document.getElementById('drop-area')
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)

            ;['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, highlight, false)
            })

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, unhighlight, false)
            })

            dropArea.addEventListener('drop', handleDrop, false)
        })

        let filesDone = 0
        let filesToDo = 0
        let progressBar = document.getElementById('progress-bar')
    </script>
{% endblock %}