{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="innernav">
    <span class="innermenu"><a id="emailsmsg"  href="{% url 'message:emailmessage' %}">{{_("emailmsg")}}</a></span>
        <span class="innermenu"><a id="emails"  href="{% url 'emailsystem:emaillist' %}">{{_("email")}}</a></span>
        <span class="innermenu"><a id="email_upload"  href="{% url 'emailsystem:emailupload' %}">{{_("email_upload")}}</a></span>
        {% if user.is_authenticated %}
        <span class="innermenu"><a id="emailsetting"
                         href="{% url 'emailsystem:emailsetting' %}">{{ _("emailsetting") }}</a></span>
        {% endif %}

    </div>
    </div>
{% endblock %}
{% block maincontent %}
{% endblock %}