{% extends "emailsystem/emailsystembase.html" %}
{% block content %}
    {{ block.super }}

    <h2>이메일</h2>
    <form action="{% url 'emailsystem:searchemail' %}" method="get">
            {% csrf_token %}
            <select name="SearchColumn" id="SelectList">
                <option value="empty" selected disabled hidden></option>
                <option value="subject" selected>제목</option>
                <option value="body">본문</option>


            </select>
            <input id="search" name="Search" type="text" placeholder="Search..."
                   value="{{ searchtxt }}"> <input name="searchbtn" type="submit" value="{{ _("search") }}">
      </form>


     <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>
              {% for pn in model_list.1.paginator.customrange %}
                {% if pn == model_list.1.number %}
                    <strong><a href="?page={{pn}}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{pn}}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
    <div>
        <form type="post" id="model_form">
            {% csrf_token %}
        <div>

        </div>
            <table border="1" class="model_list basictable">
            <colgroup>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="60%"/>
                <col width="10%"/>
            </colgroup>
                <tr>
                    {% if model_list.0 %}
                        <th>파일이름</th>
                        <th>{{ model_list.0.fromEmail }}</th>
                        <th>{{ model_list.0.to_person }}</th>
                        <th>{{ model_list.0.subject }}</th>
                        <th>{{ model_list.0.sentDate }}</th>



                    {% endif %}
                </tr>
                {% if model_list.1 %}
                    {% for data in model_list.1 %}
                        <tr data-id="{{ data.id }}" onclick="window.location.href='{% url "emailsystem:email_content" data.id %}'">
                        <td>{{ data.emailFileName }}</td>
                            <td>{{ data.fromEmail.email }}</td>
                        <td>{% for to in data.to_person.all %}
                            <p>{{ to.emailName }}</p>
                            {% endfor %}
                            </td>
                            <td>{{ data.subject }}</td>

                            <td>{{ data.sentDate }}</td>
                            </td>


                        </tr>
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>


        </form>

      <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>
  {% for pn in model_list.1.paginator.customrange %}
                {% if pn == model_list.1.number %}
                    <strong><a href="?page={{pn}}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{pn}}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
    </div>


    <script type="text/javascript">
        // Popup window code


        $(document).ready(function () {


        });


        $(document).on('submit', '#model_form', function (e) {

            var datas = getCheckedTable('model_list')

            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            //csrfmiddlewaretoken:csrftoken

            $.ajax({
                type: 'POST',
                url: '{% url 'application_patent_domestic:applicant_delete' %}',
                async: false,
                data: {
                    'm_list_ids': datas,
                    csrfmiddlewaretoken: csrftoken
                },
                success: function (data) {
                    if (data.status == 'ok') {

                    }

                },

            });
            event.preventDefault();
        });
    </script>
{% endblock %}