.duplicate_container
{
   padding: 10px;
}
.d-table, .d-table-cell,.d-table-row
{
   border: 1px solid #bcbcbc;
   min-width: 200px;
}

.d-table-row.hiderow
{
    display: none !important;
}
.button
{
    margin:10px;
}

.emailmsgsummaryarea
{
    width: 40%;
    height: 800px;
    overflow-y: scroll;
    display: flex;
    overflow-x: scroll;
}
.emalimsgtable {
    width: 100%;
    font-size: 8pt;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}

.emalimsgtable th{
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}

.emalimsgtable td{
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
.emailtdsummary > iframe
{
    height:60px;
}

.emailtitle{
    font-weight: bold;
    font-size: 10pt;
}
.emailtitlebold{
    font-weight: bold;
}



