{% extends "management/managementbase.html" %}
{% block content %}
    {{ block.super }}
    {% regroup model_list by codeType as code_list %}
    <div class="codeul" >
         {% for key, values in codetypedic.items %}


                  <span class="codetype" >

                    {{ values }}
                <br>
            <br>
                    <div class="codenames">
                      {% for codetype, codenames in code_list %}

                {% if key == codetype %}
                    {% for code in codenames %}
                            <div><span>{{ code.codeName }}</span><span class="spandelete"> <button id="{{ code.id }}"
                                                                                              class="btn-primary"
                                                                                              onclick="deleteCode(this.id)"><i
                                class="fa fa-close"></i></button></span></div>
                    {% endfor %}
                {% endif %}
                  {% endfor %}
                    <div><input style="width: 80px" type="text" class="{{ key }}"></div>
                    <div><button style="width: 80px" class="btn btn-primary" onclick="createCode('{{ key }}')">추가
                    </button></div>
                </div>


            </span>






         {% endfor %}



    </div>

<br>
    <div style="clear: both;"><button onclick="save_all_multiplelang()">MutipleLanguage Save</button></div>
    <br>
    {% if code_list %}

        {% for codetype, codenames in code_list %}
            <table border="1">
                <tr>

                    <th></th>
                    {% for mcode in codenames.0.cml%}
                        <th>{{ mcode.languageCode }}</th>
                    {% endfor %}
                </tr>
                {% for code in codenames %}

                    <tr class="clicktr">
                        <td>{{ code.codeName }}</td>
                        {% for mcode in code.cml %}
                            <td><input type="text" value="{{ mcode.name }}" id="{{ mcode.id }}"
                                       class="multiplelangcodename"></td>
                        {% endfor %}

                    </tr>
                {% endfor %}
            </table>
        {% endfor %}


    {% endif %}

    <script>
        function save_all_multiplelang() {
            var multiplelang = document.getElementsByClassName('multiplelangcodename')

            let formData = new FormData()

            for (var i = 0; i < multiplelang.length; i++) {

                formData.append(multiplelang[i].id, multiplelang[i].value)
                //formData.append('multiplelang[1]', multiplelang[i].value)
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fetch('{% url 'management:update_multiplelanguagecode' %}', {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {
                        alert('success.')
                        location.reload()
                    }
                )
                .catch(() => {
                    alert('fail')
                })

        }

        function createCode(codetype) {
            var codeinput = document.getElementsByClassName(codetype)
            var codeName = codeinput[0].value
            if (codeName == '') {
                return;
            }

            let formData = new FormData()

            formData.append('codeName', codeName)
            formData.append('codeType', codetype)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fetch('{% url 'management:create_codeinfo' %}', {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {

                        alert('reload');
                        location.reload();
                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }

        function deleteCode(codeid) {


            if (codeid == '') {
                return
            }

            let formData = new FormData()

            formData.append('pk', codeid)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fetch('{% url 'management:delete_codeinfo' %}', {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {

                        location.reload()
                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }
    </script>
{% endblock %}