{% extends "management/managementbase.html" %}

{% block title %}{% endblock %}

{% block content %}
 {{ block.super }}

    <div class="main-container">
    <a class="button" href="{% url 'management:initdb_customfieldName' %}">다국어 DB 필드명 저장</a>
        <a class="button" href="{% url 'management:initdb_countrycode' %}">국가 코드 다국어 저장</a>
        <a class="button" href="{% url 'management:initdb_codeinfoformultiplelanguage' %}">코드 다국어 저장</a>
    <a class="button" href="{% url 'management:test' %}">이메일 보내기 테스트</a>
    <a class="button" href="{% url 'emailsystem:realtimeemail' %}">실시간이메일</a>
     <a class="button" href="{% url 'management:managementtest' %}">커스텀 테스트</a>

    </div>
    <p>TASK NAME : {{ taskinfo.task_name }}</p>
    <p>TASK STATUS : {{ taskinfo.status }}</p>
    <p>TASK LAST DONE : {{ taskinfo.date_done }}</p>
    </div>
    <p>result : {{ result }}</p>
    <style>
    p
    {
        font-size: 15px;
    }
    </style>
    <script>

   $( document ).ready(function() {


});



$(function() {



  // Handler for .ready() called.
});
    </script>
{% endblock %}


