{% extends "management/managementbase.html" %}
{% block content %}
    {{ block.super }}
    <button onclick="save_all_multiplelang()">MutipleLanguage Save</button>
      <table border="1">
                <tr>

                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for data in model_list %}

                    <tr class="clicktr">
                        <td>{{ data.countryCode }}</td>
                        {% for lcode in data.cml %}
                            <td><p>{{ lcode.languageCode }}</p><input type="text" value="{{ lcode.name }}" id="{{ lcode.id }}"
                                       class="multiplelangcodename"></td>
                        {% endfor %}

                    </tr>
                {% endfor %}
            </table>
    <button onclick="save_all_multiplelang()">MutipleLanguage Save</button>
    <script>
     function save_all_multiplelang() {
            var multiplelang = document.getElementsByClassName('multiplelangcodename')

            let formData = new FormData()
            var mylist = []
            for (var i = 0; i < multiplelang.length; i++) {

                if (multiplelang[i].value != null)
                {
                    var dic = {};
                    dic[multiplelang[i].id] = multiplelang[i].value;
                    mylist.push(JSON.stringify(dic));
                }
            }
            formData.append('multiplelanguage', JSON.stringify(mylist));
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fetch('{% url 'management:update_multiplelanguagecountrycode' %}', {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {
                        alert('success.');
                        location.reload();
                    }
                )
                .catch(() => {
                    alert('fail')
                })

        }
    </script>
{% endblock %}