{% extends "management/managementbase.html" %}

{% block title %}{% endblock %}

{% block content %}
      {{ block.super }}
    <form action="{% url 'management:savedb_customfieldName' %}" method="post">
    {%  csrf_token %}
    <input type="submit" value="save" class="btn-primary btn">
    <input type="hidden" name="tabletype" value="{{ ttype }}">
  {% if fieldnamelist %}
      {% for field in fieldnamelist %}

          <div class="title">
          <span><a>{{ field.1 }} - </a></span>
          <span><a>{{ field.0 }}</a></span>
          </div>

      <table border="1" class="fieldnamelist">
            <tr>
            {% for title in field.2 %}
                <th>
                    {{ title.dbfieldname__originFieldName }}
                </th>
            {% endfor %}
            </tr>
             <tr>
                {% for title in field.2 %}
                        <td>
                            <input name="{{ field.0 }}_{{ field.1 }}_{{ title.dbfieldname__originFieldName }}" type="text" value="{{ title.customFieldName }}"></td>

                {% endfor %}
            </tr>
       <tr>
                {% for title in field.2 %}
                        <td>
                            <input name="{{ field.0 }}_{{ field.1 }}_{{ title.dbfieldname__originFieldName }}_explanation" type="text" value="{{ title.explanation }}"></td>

                {% endfor %}
            </tr>
        </table>
      {% endfor %}
      {% endif %}
    <input type="submit" value="save" class="btn-primary btn">
    </form>
{% endblock %}