{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="innernav">
            <span class="innermenu"><a id="commonmgrname" onclick="javascript:menuclick('commonmgrname')"
                                       href="{% url 'management:common_mgr' %}">{{ _("commonmgr") }}</a></span>


            <span class="dropdown innermenu">
      <a class="dropbtn" id="modifyfield">{{ _("editfield") }}</a>
      <div class="dropdown-content">
        <a href="{% url 'management:custom_dbfieldname' %}?fieldtype=patent_domestic"
           >출원</a>
          <a href="{% url 'management:custom_dbfieldname' %}?fieldtype=emailsystem"
             >이메일</a>
        <a href="{% url 'management:custom_dbfieldname' %}?fieldtype=people"
           >사람</a>
        <a href="{% url 'management:custom_dbfieldname' %}?fieldtype=case"
           >사건</a>
          <a href="{% url 'management:custom_dbfieldname' %}?fieldtype=message"
             >메시지</a>

      </div>


    </span>

            <span class="innermenu"><a id="syncexcel"
                                       href="{% url 'management:excelupload' %}">{{ _("syncexcel") }}</a></span>
            <span class="innermenu"><a id="codemgr"
                                       href="{% url 'management:codeinfo' %}">코드 관리</a></span>
            <span class="innermenu"><a id="countrycodemgr"
                                       href="{% url 'management:countrycodeinfo' %}">국가코드 관리</a></span>
            <span class="innermenu"><a id="tagmgr"
                                       href="{% url 'management:tags' %}">태그 관리</a></span>
            <span class="innermenu"><a id="tasktemplatemgr"
                                       href="{% url 'management:task_template' %}">사건 템플릿 관리</a></span>


        </div>
    </div>
{% endblock %}
{% block maincontent %}
{% endblock %}