{% extends "management/managementbase.html" %}
{% block content %}
    {{ block.super }}
    {% load static %}
    <script src="{% static "js/vendor/raphael.js" %}"></script>
    <script src="{% static "js/Treant.js" %}"></script>
    {% for i in all_id %}
        {{ i.id }}
    {% endfor %}

    {% for model in model_list %}
        <p id="{{ model.id }}_{{ model.code }}_{{ model.parent.id }}" class="tags">id : {{ model.id }} // code
            :  {% for c in tag_lang %}
                {% if c.0 == model.code %}
                            {{ c.1 }}
                {% endif %}
                    {% endfor %}
            // parent : {{ model.parent.id }} <select class="parent_tag" id="{{ model.id }}">

                <option selected>none</option>
                {% for i in all_id %}
                    {% if model.id != i.id %}
                        <option {% if model.parent.id == i.id %}selected{% endif %}
                                value="{{ i.id }}">{{ i.id }}</option>
                    {% endif %}
                {% endfor %}

            </select>

        </p>
    {% endfor %}


    <body>
    <div id="treearea">
    </div>
    </body>
    <script>

        $(document).ready(function () {

            let i;
            var tags = document.getElementsByClassName("tags")
            var child = []
            let parent = []
            let existParent = false;
            for (i = 0; i < tags.length; i++) {
                var val = tags[i].id.split('_')

                if (val[2]=='')
                {
                      existParent = true;
                      let codelang = ''
                    {% for c in tag_lang %}
                        if ('{{ c.0 }}' == val[1])
                        {

                            codelang = '{{ c.1 }}'
                        }
                    {% endfor %}
                      parent.push({'id': val[0], 'code': codelang, 'parent': val[2]})
                }
                else
                {
                      let codelang = ''
                    {% for c in tag_lang %}
                        if ('{{ c.0 }}' == val[1])
                        {
                            codelang = '{{ c.1 }}'
                        }
                    {% endfor %}
                      child.push({'id': val[0], 'code': codelang, 'parent': val[2]})
                }

            }
            if (!existParent)
            {

                alert('root is not exist.');
                return;
            }
            for (let k=0; k<parent.length; k++)
            {
                const did ='tree' + k
                $('#treearea').append('<div id="'+did+'" style="width:400px; height: 200px"></div>\n' +
                    '        </div>')
                maketree(did, parent[k],child)
            }




        });
        function findchild(parent, child, node, pnode)
        {
            for (var i=0; i<child.length; i++)
            {

                if (parent['id'] == child[i]['parent'])
                {
                    let nodeinfo = {}

                    nodeinfo['parent'] = pnode
                    let nodeinner = {}
                    nodeinner['name'] = child[i]['code']
                    nodeinfo['text'] = nodeinner
                    node.push(nodeinfo)
                    //node.push({parent:pnode,
                    //text:{name:child[i]['code']}})


                    findchild(child[i],child,node, nodeinfo)
                }
            }

        }
        function maketree(divid, parent, child)
        {

            config = {
                container: "#"+divid
            };


            //////////////////////////////
            var nodes = []
            let pnode = {
                text:{name:parent['code']}
            }
            nodes.push(pnode)

            findchild(parent, child, nodes, pnode)
            /*
            for (i = 0; i < parse.length; i++) {
                for (let j = 0; j < child.length; j++) {
                    if (child[i]['parent'] != '' && child[i]['parent'] == child[j]['id']) {
                        for (let k in nodes) {
                            if ('text' in nodes[k]) {

                                if (nodes[k]['text']['name'] == child[j]['code']) {

                                    for (let v in nodes) {
                                        if ('text' in nodes[v]) {

                                            if (nodes[v]['text']['name'] == child[i]['code']) {
                                                nodes[v]['parent'] = nodes[k]

                                            }
                                        }
                                    }
                                }
                            }
                        }


                    }


                }

            }
            */
            nodes.push(config)


            var my_chart = new Treant(nodes);
        }
        function onloaded() {
            var canvas = document.getElementById("treecanvas");
            var context = canvas.getContext('2d');
            var addparentx = 0;
            var addchildx = 0;
            var addchildy = 0;
            var childx = 0;
            var childy = 0;
            var parentx = 0;
            var parenty = 0;
            var tags = document.getElementsByClassName("tags")
            var parse = []
            var parents = []

            for (var i = 0; i < tags.length; i++) {
                var val = tags[i].id.split('_')
                parse.push({'id': val[0], 'code': val[1], 'parent': val[2]})
                if (val[2] === 'None') {
                    parents.push({'id': val[0], 'code': val[1], 'parent': val[2]})

                }


            }


            parentx = 100;
            parenty = 40;
            addchildx = 40;
            for (var i = 0; i < parents.length; i++) {

                context.fillText(parents[i]['code'], parentx, parenty);
                findchild(parse, parse[i]['id'], parentx, parenty)

            }
            /*
          for (var i = 0; i < parse.length; i++) {

              context.fillText(parse[i]['code'], parentx, parenty);
              for (var j = 0; i < parse.length; i++) {
                  if (parse[j]['id'] == parse[i]['parent'])
                      childx = parentx - 50
                      childy = parenty - 40
                      context.fillText(parse[i]['code'], childx + addchildx, childy);
                      parentx = parentx + addparentx
                  }
          }*/


        }


        $('select[class=parent_tag]').change(function () {

            var parentid = this.value;
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            var tagid = $(this).attr('id');
            //JSON.stringify(result)
            $.ajax({
                type: 'POST',
                url: '{% url 'management:tags_parent_update' %}',
                data: {
                    'parentid': parentid,
                    csrfmiddlewaretoken: csrftoken,
                    'tagid': tagid
                },
                success: function (data) {
                    window.location.reload();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status + ' Error: ' + thrownError);
                    window.location.reload();
                }
            });
        })


    </script>
{% endblock %}