{% extends "management/managementbase.html" %}
{% block content %}
    {{ block.super }}


    <br>
    <br>


    <label><strong>고객종류</strong></label>
    <br>
    <label for="{{ ref_form.client.id_for_label }}">{{ ref_form.client.label }}</label>
    {{ ref_form.client }}
    <br>
    <label><strong>해당 고객 사건 템플릿 리스트</strong></label>
    <br>
    <label for="{{ ref_form.patentType.id_for_label }}">{{ ref_form.patentType.label }}</label>
    {{ ref_form.patentType }}
    <label for="{{ ref_form.nationType.id_for_label }}">{{ ref_form.nationType.label }}</label>
    {{ ref_form.nationType }}
    <label for="{{ ref_form.countryCode.id_for_label }}">{{ ref_form.countryCode.label }}</label>
    {{ ref_form.countryCode }}


    <br><label><strong>사건 템플릿 리스트</strong></label><br>
    <div id="casetemplate_list" style="border: 1px solid black; width: 400px; height: 200px"></div>


    <label><strong>사건 템플릿 추가</strong></label><br>
    <label for="{{ ref_form.caseCode.id_for_label }}">{{ ref_form.caseCode.label }}</label>
    {{ ref_form.caseCode }}
    <label for="{{ ref_form.isSpecialTemplate.id_for_label }}">{{ ref_form.isSpecialTemplate.label }}</label>
    {{ ref_form.isSpecialTemplate }}
    <label for="{{ ref_form.specialTemplateName.id_for_label }}">{{ ref_form.specialTemplateName.label }}</label>
    {{ ref_form.specialTemplateName }}
    <button class="btn btn-primary" onclick="ajax_create_tasktemplate_ref()">사건생성</button>








    <br>



    <iframe style="width: 1600px; height: 1000px;" frameborder="0" class="tasktemplateiframe"></iframe>
    <br>










    <script>


        function ajax_create_tasktemplate_ref() {
            var countryCode = ''
            const client = $("select#id_client option:selected").val();
            const patentType = $("select#id_patentType option:selected").val();
            const nationType = $("select#id_nationType option:selected").val();

            const caseType = $("select#id_caseCode option:selected").val();

            const isSpecialTemp = $("select#id_isSpecialTemplate option:selected").val();

            const specialTemp = $("#id_specialTemplateName").val();


            if (client === '' || patentType === '' || nationType === '' || caseType === ''
                || isSpecialTemp === '') {
                return
            }
            if (isSpecialTemp === 'spc' && specialTemp.length === 0) {
                return
            }
            if (nationType === 'O') {
                countryCode = $("select#id_countryCode option:selected").val();
                if (countryCode === '') {
                    return
                }
            }


            $.ajax({
                url: '{% url 'management:create_task_template_ref' %}',
                data: {
                    'client': client,
                    'patentType': patentType,
                    'nationType': nationType,
                    'countryCode': countryCode,
                    'caseType': caseType,
                    'isSpecialTemp': isSpecialTemp,
                    'specialTemp': specialTemp

                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.state === 'success') {
                        alert('success');
                        set_casetemplate_list(data)
                    } else {
                        alert('fail');
                        location.reload()
                    }

                }
            });
        }

        /*
        $("#tasktemplate_form").submit(function () {
            const client = $("select#id_client option:selected").val();
            const patentType = $("select#id_patentType option:selected").val();
            const nationType = $("select#id_nationType option:selected").val();
            const countryCode = $("select#id_countryCode option:selected").val();
            const caseType = $("select#id_caseCode option:selected").val();


            if (patentType == "" || nationType == "" || countryCode == "" || caseType == ""
                || client == "") {

                event.preventDefault(event)
                return;
            }
        })
        */
        function get_TaskTemplate_REF() {
            const client = $("select#id_client option:selected").val();
            const patentType = $("select#id_patentType option:selected").val();
            const nationType = $("select#id_nationType option:selected").val();
            const countryCode = $("select#id_countryCode option:selected").val();
            if (nationType === "O") {
                if (patentType == "" || nationType == "" || client == "" || countryCode == "") {
                    $('#casetemplate_list').empty()
                    event.preventDefault(event)
                    return;
                }

            } else {
                if (patentType == "" || nationType == "" || client == "") {
                    $('#casetemplate_list').empty()
                    event.preventDefault(event)
                    return;
                }
            }


            $.ajax({
                url: '{% url 'management:gettemplateref' %}',
                data: {
                    'clientid': client,
                    'patenttype': patentType,
                    'nationtype': nationType,
                    'countrycode': countryCode
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#casetemplate_list').empty()
                    if (data.state === 'success') {

                        $('#casetemplate_list').empty()
                        set_casetemplate_list(data)
                    } else {
                        alert('fail');
                        location.reload()
                    }

                }
            });


        }

        function set_casetemplate_list(data) {
             $('#casetemplate_list').empty()
            for (var i = 0; i < data.result.length; i++) {


                let txt = ''


                if (data.result[i].countryCode === null) {
                    txt = data.result[i].patentType + "_" + data.result[i].patentNationType+ "_" + data.result[i].caseType
                } else {
                    txt = data.result[i].patentType + "_" + data.result[i].patentNationType+ "_" + data.result[i].countryCode + '_' + data.result[i].caseType
                }


                const url = '{% url 'management:task_template_iframe' %}?pk=' + data.result[i].id;


                $('#casetemplate_list').append(
                    "<label>" + txt + "</label>" + "<input onclick='set_Iframes(\"" + url + "\")' name='templateref_radio' type='radio' value='" + data.result[i].id + "'/> <br>"
                )
            }
        }

        function set_Iframes(url) {
            $(".tasktemplateiframe").attr('src', url)
        }

        $("#id_nationType").change(function () {
            const index = $("select#id_nationType option:selected").val();

            if (index == "O") {
                $('#id_countryCode option:selected').removeAttr('selected');
                $("#id_countryCode").attr('disabled', false)

            } else {
                $("#id_countryCode").attr('disabled', true)
            }
            get_TaskTemplate_REF()
        })
        $("#id_client").change(function () {

            get_TaskTemplate_REF()

        })
        $("#id_patentType").change(function () {
            get_TaskTemplate_REF()
        })
        $("#id_countryCode").change(function () {
            get_TaskTemplate_REF()
        })

        /*
        $("#id_template_index")
            .change(function () {
                const index = $("select#id_template_index option:selected").val();
                const tempid = $(this).attr('class')
                ajax_set_index(tempid, index)
            })
        $("#id_template_child")
            .change(function () {
                const child = $("select#id_template_child option:selected").val();
                const parent = $(this).attr('class')
                ajax_link_child(parent, child)
            })
        $("#id_Message_CaseTaskType")
            .change(function () {
                const mctcode = $("select#id_Message_CaseTaskType option:selected").val();
                const tempid = $(this).attr('class')
                ajax_set_casetask_message(tempid, mctcode)
            })

        function ajax_link_child(parentid, childid) {
            if (parentid == "" || childid == "")
            {
                return
            }
            $.ajax({
                url: '',
                data: {
                    'parentid' : parentid,
                    'childid': childid,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.state === 'success') {

                    } else {
                        alert('fail');
                        location.reload()
                    }

                }
            });
        }

        function ajax_set_index(tempid, index) {
            if (tempid == "" || index == "")
            {
                return
            }
            $.ajax({
                url: '',
                data: {
                    'tempid' : tempid,
                    'index': index,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.state === 'success') {

                    } else {
                        alert('fail');
                        location.reload()
                    }

                }
            });
        }
         function ajax_set_casetask_message(tempid, code) {
            if (tempid == "" || code == "")
            {
                return
            }
            $.ajax({
                url: '',
                data: {
                    'tempid' : tempid,
                    'code': code,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.state === 'success') {

                    } else {
                        alert('fail');
                        location.reload()
                    }

                }
            });
        }

          */


    </script>
{% endblock %}

