{% extends 'basicbase.html' %}

{% block content %}
{% load static %}
<script src="{% static "js/sigma/sigma.min.js" %}"></script>
<script src="{% static "js/sigma/sigma.parsers.json.min.js" %}"></script>

<br>
<label><strong>{{ custom_tem_ref_name }}</strong></label>
<br>
<div id="treearea">
</div>


<span>
            <strong>MessageType : </strong>
    {% for tm in tem_ref.tasktemplaterefmessagetype_tasktemplateref.all %}
        {% for mct in Message_CaseTaskType %}
            {% if tm.messageType == mct.0 %}
                {{ mct.1 }},
            {% endif %}
        {% endfor %}
    {% endfor %}
    // <strong>CaseState :</strong>
    {% for tm in tem_ref.tasktemplaterefcasestate_tasktemplateref.all %}
        {% for cct in Case_CaseState %}
            {% if tm.caseState == cct.0 %}
                {{ cct.1 }},
            {% endif %}
        {% endfor %}
    {% endfor %}
    // <strong>CaseState Change Condition : </strong>
    {% for tm in tem_ref.tasktemplaterefcasestatechangecondition_tasktemplateref.all %}
        {% for mct in Message_CaseTaskType %}
            {% if tm.messageType == mct.0 %}
                {{ mct.1 }},
            {% endif %}
        {% endfor %}
        -
        {% for cct in Case_CaseState %}
            {% if tm.caseState == cct.0 %}
                {{ cct.1 }},
            {% endif %}
        {% endfor %}
    {% endfor %}
        </span>
<br>
<br>
<span>
            <label><strong>Message Case Type</strong></label>
            <select id="id_Message_CaseTaskType{{ tem_ref.id }}" multiple>
                {% for mct in Message_CaseTaskType %}
                    <option value="{{ mct.0 }}">{{ mct.1 }}</option>
                {% endfor %}
            </select>
        <button onclick="ajax_update_messagetype_tasktemplateref('{{ tem_ref.id }}')"
                class="btn btn-primary">수정</button>
            <label><strong>Case State</strong></label>
           <select id="id_Case_CaseState{{ tem_ref.id }}" multiple>
                {% for cct in Case_CaseState %}
                    <option value="{{ cct.0 }}">{{ cct.1 }}</option>
                {% endfor %}
            </select>
        <button onclick="ajax_update_casestate_tasktemplateref('{{ tem_ref.id }}')"
                class="btn btn-primary">수정</button>

        <label><strong>Case State Change Condition</strong></label>
         <select id="id_Message_CaseTaskType_Condition{{ tem_ref.id }}">
                {% for mct in Message_CaseTaskType %}
                    <option value="{{ mct.0 }}">{{ mct.1 }}</option>
                {% endfor %}
            </select>
        <select id="id_Case_CaseState_Condition{{ tem_ref.id }}" multiple>
                {% for cct in Case_CaseState %}
                    <option value="{{ cct.0 }}">{{ cct.1 }}</option>
                {% endfor %}
            </select>
          <button onclick="ajax_update_casestatechangecondition_tasktemplateref('{{ tem_ref.id }}')"
                  class="btn btn-primary">수정</button>
        </span>
<br><br>
<label><strong>업무추가</strong></label>
<select id="id_taskCode">
    {% for tmc in taskmultiplecode %}
        <option value="{{ tmc.0 }}">{{ tmc.1 }}</option>
    {% endfor %}
</select>

<button onclick="ajax_create_tasktemplate('{{ tem_ref.id }}')" class="btn btn-primary">업무생성</button>
<br>
<br>

<div>{% for temp in tem_ref.tasktemplate_tasktemplateref.all %}
    <strong>id : {{ temp.id }}</strong>
    <strong>Task Code : </strong>
    {% for ttype in taskmultiplecode %}
        {% if ttype.0 == temp.taskCode and ttype.0 %}
            {{ ttype.1 }}
        {% endif %}
    {% endfor %}
    <strong>Child : </strong>
    {% for ttype in taskmultiplecode %}
        {% if ttype.0 == temp.child %}
            {{ ttype.1 }}
        {% endif %}
    {% endfor %}

    <strong>TaskState :</strong>
    {% for tstate in temp.tasktemplatetaskstate_tasktemplate.all %}
        {% for tstate in Task_TaskState %}
            {% if tstate.0 == tstate.taskState %}
                {{ tstate.1 }},
            {% endif %}
        {% endfor %}
    {% endfor %}
    <strong>RequestCaseMessage :</strong>
    {% for t in temp.tasktemplatetaskrequestcasemessage_tasktemplate.all %}
        {% for cttype in Message_CaseTaskType %}
        {% if cttype.0 == t.taskRequestCaseMessage %}
            {{ cttype.1 }},
        {% endif %}
    {% endfor %}
{% endfor %}
    <strong>RequestReceiptMessage : </strong>
    {% for t in temp.tasktemplatetaskreceiptcasemessage_tasktemplate.all %}
        {% for cttype in Message_CaseTaskType %}
        {% if cttype.0 == t.taskReceiptCaseMessage %}
            {{ cttype.1 }},
        {% endif %}
    {% endfor %}
    {% endfor %}
    <strong>Tag :</strong>
    {% for t in temp.all_table_foreign_case_task_template.all %}
        {% for ta in Tag_list %}
            {% if ta.0 == t.tag_list.code %}
                {{ ta.1 }},
            {% endif %}
        {% endfor %}
    {% endfor %}
    <strong>TaskTemplate 삭제 :</strong>
    <button class="btn btn-danger" onclick="ajax_delete_tasktemplate({{ temp.id }})">삭제</button>

    <br>
    <label>{{ Task_Template_label.child }}</label>
    <select id="id_template_child{{ temp.id }}" class="{{ temp.id }}">
        <option value="">------</option>
        {% for alltemp in tem_ref.tasktemplate_tasktemplateref.all %}
            {% if alltemp != temp %}
                {% for tcode in taskmultiplecode %}
                    {% if tcode.0 == alltemp.taskCode %}
                        <option value="{{ alltemp.id }}">{{ tcode.1 }}</option>
                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}
    </select>
    <button class="btn btn-primary" onclick="ajax_update_child_tasktemplate({{ temp.id }})">저장</button>

    <strong>TasKState</strong>
    <select id="id_Task_TaskState{{ temp.id }}" multiple>
        {% for tt in Task_TaskState %}
            <option value="{{ tt.0 }}">{{ tt.1 }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary" onclick="ajax_update_taskstate_tasktemplate({{ temp.id }})">저장</button>
    <strong>TaskRequestCaseMessage</strong>
    <select id="id_TaskRequestCaseMessage{{ temp.id }}">
        <option value="">------</option>
        {% for tm in tem_ref.tasktemplaterefmessagetype_tasktemplateref.all %}
            {% for mct in Message_CaseTaskType %}
                {% if mct.0 == tm.messageType %}
                    <option value="{{ mct.0 }}">{{ mct.1 }}</option>
                {% endif %}
            {% endfor %}

        {% endfor %}
    </select>
    <button class="btn btn-primary"
            onclick="ajax_update_taskrequestcasemessage_tasktemplate({{ temp.id }})">저장
    </button>
    <strong>TaskReceiptCaseMessage</strong>
    <select id="id_TaskReceiptCaseMessage{{ temp.id }}">
        <option value="">------</option>
        {% for tm in tem_ref.tasktemplaterefmessagetype_tasktemplateref.all %}
            {% for mct in Message_CaseTaskType %}
                {% if mct.0 == tm.messageType %}
                    <option value="{{ mct.0 }}">{{ mct.1 }}</option>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </select>
    <button class="btn btn-primary"
            onclick="ajax_update_taskreceiptcasemessage_tasktemplate({{ temp.id }})">저장
    </button>
    <strong>Tag</strong>
    <select id="id_TagList{{ temp.id }}" multiple>
        {% for tag in Tag_list %}
            <option value="{{ tag.0 }}">{{ tag.1 }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary"
            onclick="ajax_update_tag_tasktemplate({{ temp.id }})">저장
    </button>

    <br>
    <br>
    <br>
    {% endfor %}


</div>
<script>
    function ajax_create_tasktemplate(tempid) {
        const taskcode = $("select#id_taskCode option:selected").val();
        $.ajax({
            url: '{% url 'management:create_task_template' %}',
            data: {
                'taskCode': taskcode,
                'tasktemplaterefid': tempid,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    alert('success');
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });

    }

    function ajax_update_casestate_tasktemplateref(temprefid) {
        const codes = []
        $("#id_Case_CaseState" + temprefid + " :selected").each(function (i, sel) {
            codes.push($(sel).val());
        });
        if (temprefid === "") {
            return
        }

        $.ajax({
            url: '{% url 'management:update_casestate_tasktemplateref' %}',
            data: {
                'temprefid': temprefid,
                'caseState': codes,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }

    function ajax_update_tag_tasktemplate(tempid) {

        const tag = []
        $("#id_TagList" + tempid + " :selected").each(function (i, sel) {
            tag.push($(sel).val());
        });


        if (tempid === "") {

            return
        }


        $.ajax({
            url: '{% url 'management:update_task_template_tag' %}',
            data: {
                'tempid': tempid,
                'tag': tag,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }

    function ajax_update_messagetype_tasktemplateref(temprefid) {
        const codes = []
        $("#id_Message_CaseTaskType" + temprefid + " :selected").each(function (i, sel) {
            codes.push($(sel).val());
        });
        if (temprefid === "" || codes.length === 0) {
            return
        }

        $.ajax({
            url: '{% url 'management:update_messagetype_tasktemplateref' %}',
            data: {
                'temprefid': temprefid,
                'messageType': codes,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }

    function ajax_update_taskreceiptcasemessage_tasktemplate(tempid) {


        const code = $("select#id_TaskReceiptCaseMessage" + tempid + " option:selected").val();


        if (tempid === "") {

            return
        }


        $.ajax({
            url: '{% url 'management:update_task_template_receiptcasemessage' %}',
            data: {
                'tempid': tempid,
                'code': code,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }

    function ajax_update_taskrequestcasemessage_tasktemplate(tempid) {

        const code = $("select#id_TaskRequestCaseMessage" + tempid + " option:selected").val();


        if (tempid === "") {

            return
        }

        $.ajax({
            url: '{% url 'management:update_task_template_requestcasemessage' %}',
            data: {
                'tempid': tempid,
                'code': code,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }

    function ajax_update_taskstate_tasktemplate(tempid) {


        const taskState = []
        $("#id_Task_TaskState" + tempid + " :selected").each(function (i, sel) {
            taskState.push($(sel).val());
        });

        if (tempid === "") {

            return
        }

        $.ajax({
            url: '{% url 'management:update_task_template_state' %}',
            data: {
                'tempid': tempid,
                'taskstate': taskState,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }

    function ajax_update_child_tasktemplate(tempid) {

        const childid = $("select#id_template_child" + tempid + " option:selected").val();


        if (tempid === "" || childid === "") {

            return
        }

        $.ajax({
            url: '{% url 'management:update_child_task_template' %}',
            data: {
                'tempid': tempid,
                'childid': childid,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }

    function ajax_delete_tasktemplate(tempid) {
        $.ajax({
            url: '{% url 'management:delete_task_template' %}',
            data: {
                'tempid': tempid,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }

    function ajax_update_casestatechangecondition_tasktemplateref(temprefid) {
        const codes = []
        $("#id_Case_CaseState_Condition" + temprefid + " :selected").each(function (i, sel) {
            codes.push($(sel).val());
        });
        const casetype = $("#id_Message_CaseTaskType_Condition" + temprefid + " :selected").val();
        if (temprefid === "" || casetype === "") {
            return
        }


        $.ajax({
            url: '{% url 'management:update_casestatechangecondition_tasktemplateref' %}',
            data: {
                'temprefid': temprefid,
                'caseState': codes,
                'messageCaseType': casetype
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    location.reload()
                } else {
                    alert('fail');
                    location.reload()
                }

            }
        });
    }


    function setTaskCodeMultiple(taskcode) {

        var temp = ''
        {% for tm in taskmultiplecode %}

            if ('{{ tm.0 }}' === taskcode) {
                temp = '{{ tm.1 }}'
            }{% endfor %}

        return temp;
    }

    function generateRandomNumber() {
        var min = 0.15,
            max = 0.5,
            highlightedNumber = Math.random() * (max - min) + min;

        return highlightedNumber;
    };

    function maketree(treeid, tempid, taskcode, childid, data, count, childcode, x, y) {


        let node = {}
        node = {
            id: treeid + taskcode
            , label: taskcode
            , x: x
            , y: y
            , size: 2
        }
        data['nodes'].push(node)

        if (childid != "" && childid != "None") {

            let target = ""
            target = treeid + childcode


            let edge = {
                id: treeid + "e" + count,
                target: target,
                size: 10,
                source: treeid + taskcode,
                type: "arrow",
                color: '#FF0000'


            }
            data["edges"].push(edge)
        }


    }

    $(document).ready(function (e) {
        let count = 0;
        let tid = '';
        let data = {}
        let tempcount = 0;
        let childcode = ""
        let x = 0.05
        let y = 0.05
        let value = 0.25
        let addy = false

        tid = 'tree' + count;
        var labelname = '{{ tem_ref }}'

        $('#treearea').append('<div id="' + tid + '" style="width:400px; height: 400px; border: 1px solid black;"></div>\n' +
            '        </div>')

        data = {'nodes': [], 'edges': []}
        tempcount = 0;
        childcode = ""
        x = 0.05
        y = 0.05
        value = 0.25
        addy = false
        {% for temp in tem_ref.tasktemplate_tasktemplateref.all %}

            {% for subtemp in tem_ref.tasktemplate_tasktemplateref.all %}
                if ('{{ temp.child_id }}' != "" && '{{ temp.child_id }}' != "None" && '{{ subtemp.id }}' == '{{ temp.child_id }}') {
                    childcode = setTaskCodeMultiple('{{ subtemp.taskCode }}')

                }
            {% endfor %}
            tempcount++
            if (tempcount % 4 === 0) {
                x = x + value
                y = 0.1
            } else {
                if (!addy) {
                    addy = true
                    y = y + generateRandomNumber()
                } else {
                    addy = false
                    y = y + generateRandomNumber()
                }

            }
            if (tempcount === 1) {
                x = 0.05
                y = 0.05
            }
            maketree(tid, '{{temp.id}}', setTaskCodeMultiple('{{temp.taskCode}}'), '{{temp.child_id}}', data, tempcount, childcode, x, y)
        {% endfor %}

        s = new sigma({
            renderer: {
                container: document.getElementById(tid),
                type: 'canvas'
            },
            settings: {
                defaultNodeColor: '#ec5148',
                minEdgeSize: 0.1,
                maxEdgeSize: 2,
                minNodeSize: 1,
                maxNodeSize: 8,
            },
        });
        // Load the graph in sigma
        s.graph.read(data);
        // Ask sigma to draw it
        s.refresh();
        count++


    });
</script>
{% endblock %}