ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}
.container
{
  margin: 0;
  padding: 0;
  background-color: #333;
  width: auto;
}

li {
  float: left;
    padding: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 0px;
  margin-left: -5px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h2{
  margin-top: 10px;
}



        td.checked {
            width: 30px;
        }

        td {
            text-align: center;
            vertical-align: center;

            width: 65px;
            height: 30px;
        }

        input[type=checkbox] {
            margin: 0 auto;
            display: table;
        }

        th {
            text-align: center;
            vertical-align: center;
            height: 30px;
            background: #EEE;
        }

        table {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    .tableopt
    {
        margin-left: 10px;

    }
