{% load static %}
<script src="{% static "js/sigma/sigma.min.js" %}"></script>
<script src="{% static "js/sigma/sigma.parsers.json.min.js" %}"></script>
<p class="emailtitle">사건 추가</p>
<br>

<input name="msgid" value="{{ linkmsg }}" hidden>


<label for="{{ form.master.id_for_label }}">{{ form.labeldic.master }}</label>
{{ form.master }}
<br>

<label for="{{ form.caseCode.id_for_label }}">{{ form.labeldic.caseCode }}</label>
{{ form.caseCode }}
<label {{ form.labeldic.caseNumber }}>{{ form.labeldic.caseNumber }}</label>
{{ form.caseNumber }}

<br>
<br>
<span>
   <label for="id_case_message_type" class="emailtitlebold">케이스-메시지 타입</label>
    <select name="case_message_type" id="id_case_message_type" multiple>
    </select>
</span>
<span>
   <label for="id_case_state" class="emailtitlebold">케이스-상태</label>
    <select name="case_state" id="id_case_state">
    </select>
</span>
<span>
    <label for="id_tasktemplate_ref" class="emailtitlebold">테스크템플릿_레퍼런스</label>
    <select name="tasktemplate_ref" id="id_tasktemplate_ref">
    </select>
</span>
<span>
    <label for="id_tasktemplate" class="emailtitlebold">테스크템플릿</label>
    <select name="tasktemplate" id="id_tasktemplate" multiple>
    </select>
</span>
<br><br>
<label for="{{ form.receptionDate.id_for_label }}">{{ form.labeldic.receptionDate }}</label>
{{ form.receptionDate }}
<label for="{{ form.recentCaseDocumentSubmissionDueDate.id_for_label }}">{{ form.labeldic.recentCaseDocumentSubmissionDueDate }}</label>
{{ form.recentCaseDocumentSubmissionDueDate }}
<label for="{{ form.initialCaseDocumentSubmissionDueDate.id_for_label }}">{{ form.labeldic.initialCaseDocumentSubmissionDueDate }}</label>
{{ form.initialCaseDocumentSubmissionDueDate }}
<label for="{{ form.isNeedSendReport.id_for_label }}">{{ form.labeldic.isNeedSendReport }}</label>
{{ form.isNeedSendReport }}
<label for="{{ form.isNeedSubmissionReport.id_for_label }}">{{ form.labeldic.isNeedSubmissionReport }}</label>
{{ form.isNeedSubmissionReport }}
<br>

<div>
    <span>
<label for="{{ form.isReferencedClient.id_for_label }}">isReferencedPatent</label>
    {{ form.isReferencedClient }}
          </span>
    <span>
<label for="{{ form.case_client.id_for_label }}">{{ form.labeldic.case_client }}</label>
{{ form.case_client }}
      </span>
</div>
<br>
<span>
  <label for="{{ form.isReferencedClientManager.id_for_label }}">isReferencedPatent</label>
{{ form.isReferencedClientManager }}
</span>
<span>
<label for="{{ form.case_clientmanagement.id_for_label }}">{{ form.labeldic.case_clientmanagement }}</label>
{{ form.case_clientmanagement }}
</span>
<br>
<span>
  <label for="{{ form.isReferencedourCompanyManager.id_for_label }}">isReferencedPatent</label>
{{ form.isReferencedourCompanyManager }}
</span>
<span>
<label for="{{ form.case_ourcompanymanagement.id_for_label }}">{{ form.labeldic.case_ourcompanymanagement }}</label>
{{ form.case_ourcompanymanagement }}
</span>
<br>
<label for="{{ form.tag.id_for_label }}">{{ form.labeldic.tag }}</label>
{{ form.tag }}


<span>
        <span>
        <label for="{{ form.case_evidence_file.id_for_label }}">{{ form.case_evidence_file.label }}</label>
    {{ form.case_evidence_file }}
        </span>
 </span>

<span class="emailtitlebold">청구서 선택</span>
<select name="revenue_invoice" id="id_revenue_invoice">
</select>


<div id="treearea" style="height: 400px;width: 400px;border: 1px solid black">
</div>


<script>
    $(document).ready(function () {


        $("#id_receptionDate").val('{{ receptionDate }}')
        //$("#id_receptionDate").prop("disabled", true);
        //$("#id_caseNumber").prop("disabled", true);

        $("#id_case_client option").eq(0).before($("<option></option>").val("").text("------"));
        $("#id_case_clientmanagement option").eq(0).before($("<option></option>").val("").text("------"));
        $("#id_case_ourcompanymanagement option").eq(0).before($("<option></option>").val("").text("------"));

        {% for cmt in case_task_message_type %}
            var val = '{{ cmt.0 }}'
            var txt = '{{ cmt.1 }}'
            if (val === 'RECP') {
                $('#id_case_message_type').append('<option selected value="' + val + '">' + txt + '</option>')
            } else {
                $('#id_case_message_type').append('<option value="' + val + '">' + txt + '</option>')
            }


        {% endfor %}
        {% for cmt in case_state %}
            var val = '{{ cmt.0 }}'
            var txt = '{{ cmt.1 }}'
            if (val === 'RECP')
            {
                $('#id_case_state').append('<option selected value="' + val + '">' + txt + '</option>')
            }
            else
            {
            $('#id_case_state').append('<option value="' + val + '">' + txt + '</option>')
            }

        {% endfor %}

        /*
         $('#id_case_evidence_file').find('option').remove()
        $('#id_case_evidence_file').append('<option value="">------</option>')
        {% for f in caseevidencefile %}
            var mid = '{{ f.id }}'
            var m = '{{ f }}'
            $('#id_case_evidence_file').append('<option value="' + mid + '">' + m + '</option>')
        {% endfor %}
        */

        $("#id_isReferencedClient").click()
        $("#id_isReferencedClientManager").click()
        $("#id_isReferencedourCompanyManager").click()

        $('#id_master').removeAttr('multiple');
        $('#id_master').find('option').remove()
        $('#id_master').append('<option value="">------</option>')
        {% for m in master %}
            var mid = '{{ m.id }}'
            var m = '{{ m }}'
            $('#id_master').append('<option selected value="' + mid + '">' + m + '</option>')
        {% endfor %}


        {% if deadlinedate %}
            $('#id_recentCaseDocumentSubmissionDueDate').val('{{ deadlinedate }}')
            $('#id_initialCaseDocumentSubmissionDueDate').val('{{ deadlinedate }}')
        {% endif %}
    });
    $("#caseform").submit(function (e) {
        const patentid = $("select#id_master option:selected").val();
        const casecodename = $("select#id_caseCode option:selected").val();
        const caseNumber = $("#id_caseNumber").val();

        if (patentid == '' || casecodename == '' || typeof patentid == 'undefined'
            || typeof casecodename == 'undefined' || caseNumber == '' || typeof caseNumber == 'undefined') {
            alert('patent id or case code or case number is empty.');
            e.preventDefault(e);
        }
    })

    function check_template_ref_argu() {
        const patentid = $("select#id_master option:selected").val();
        const casemessagetype = []
        $("select#id_case_message_type option:selected").each(function (i, sel) {
            casemessagetype.push($(sel).val());
        });
        var casestate = $("select#id_case_state option:selected").val();
        const casecodename = $("select#id_caseCode option:selected").val();
        ajax_get_tasktemplate_ref(patentid, casecodename, casemessagetype, casestate)
    }

    $("#id_master")
        .change(function () {
            const patentid = $("select#id_master option:selected").val();
            const casecodename = $("select#id_caseCode option:selected").val();
            ajax_for_generate_casecode(patentid, casecodename)
            ajax_for_patentrelation(patentid)
            if (patentid != '') {
                const ourcompanyNumber = $("select#id_master option:selected").attr('id')
                ajax_for_revenuinvoice_byourcomnumber(ourcompanyNumber)
            }
            check_template_ref_argu()


        })
    $("#id_caseCode")
        .change(function () {
            var patentid = $("select#id_master option:selected").val();
            var casecodename = $("select#id_caseCode option:selected").val();

            ajax_for_generate_casecode(patentid, casecodename)
            check_template_ref_argu()

        })
    $("#id_case_message_type").change(function () {
        check_template_ref_argu()

    });
    $("#id_case_state").change(function () {
        check_template_ref_argu()

    });

    $("#id_tasktemplate_ref").change(function () {
        var tasktemplaterefid = $(this).val();

    });
    $("#id_tasktemplate").change(function () {


        const ttid = []
        $("#id_tasktemplate :selected").each(function (i, sel) {
            ttid.push($(sel).val());
        });
        ajax_load_tasktemplate(ttid)


    })

    $("#id_isReferencedClient").click(function () {
        if ($(this).is(':checked')) {
            $('#id_case_client').attr("disabled", true);
            $('#id_case_client option:selected').attr('selected', false);

        } else {
            $('#id_case_client').attr("disabled", false);

            ajax_for_patentrelation($('#id_master').val())
        }
        ;
    });

    $("#id_isReferencedClientManager").click(function () {
        if ($(this).is(':checked')) {
            $('#id_case_clientmanagement').attr("disabled", true);
            $('#id_case_clientmanagement option:selected').attr('selected', false);


        } else {
            $('#id_case_clientmanagement').attr("disabled", false);
            ajax_for_patentrelation($('#id_master').val())
        }
        ;
    });

    $("#id_isReferencedourCompanyManager").click(function () {
        if ($(this).is(':checked')) {
            $('#id_case_ourcompanymanagement').attr("disabled", true);
            $('#id_case_ourcompanymanagement option:selected').attr('selected', false);
        } else {
            $('#id_case_ourcompanymanagement').attr("disabled", false);
            ajax_for_patentrelation($('#id_master').val())
        }
        ;
    });

    /*
    $("#id_receptionDate")
        .change(function () {
            var patentid = $("select#masterselect option:selected").val();
            var dtime = $("#id_receptionDate").val();
            var casecodename = $("select#id_caseCode option:selected").val();

            ajax_for_generate_casecode(patentid, casecodename, dtime)


        })
*/
    function ajax_for_generate_casecode(patentid, casecodename, dtime = '') {
        if (patentid == '' || casecodename == '' || typeof patentid == 'undefined'
            || typeof casecodename == 'undefined') {
            return
        }
        $.ajax({
            url: '{% url 'case:case_number_load' %}',
            data: {
                'patentid': patentid,
                'casecodename': casecodename,
                'msgid': '{{ linkmsg }}',
                'dtime': dtime
            },
            type: 'GET',

            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    $("#id_caseNumber").val(data.result);

                } else {
                    alert(data.result);
                }

            }
        });
    }

    function ajax_for_patentrelation(patentid) {

        if (patentid == '') {
            $('#id_case_client option:selected').attr('selected', false);
            $('#id_case_clientmanagement option:selected').attr('selected', false);
            $('#id_case_ourcompanymanagement option:selected').attr('selected', false);
            return
        }


        $.ajax({
            url: '{% url 'application_patent_domestic:master_relation_get' %}',
            data: {
                'patentid': patentid,
            },
            type: 'GET',

            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {

                    if (!$('#id_isReferencedClient').is(':checked')) {
                        decideselected('id_case_client', data.client)
                    }
                    if (!$('#id_isReferencedClientManager').is(':checked')) {
                        decideselected('id_case_clientmanagement', data.clientmgr)
                    }
                    if (!$('#id_isReferencedourCompanyManager').is(':checked')) {
                        decideselected('id_case_ourcompanymanagement', data.managerofourcompany)
                    }


                } else {
                    alert(data.result);
                }

            }
        });
    }

    function ajax_for_revenuinvoice_byourcomnumber(ourcomnumber) {

        if (ourcomnumber == '') {
            alert('our company number is not selected');
            return
        }
        $.ajax({
            url: '{% url 'case:revenueinvoice_search' %}',
            data: {
                'searchournum': ourcomnumber,
            },
            type: 'GET',

            dataType: 'json',
            success: function (data) {

                if (data.state == 'success') {
                    $('#id_revenue_invoice').find('option').remove()
                    $('#id_revenue_invoice').append('<option value="">------</option>')
                    for (let i = 0; i < data.result.length; i++) {

                        $('#id_revenue_invoice').append(
                            '<option value="' + data.result[i].id + '">' + data.result[i].ourCompanyNumber + '</option>'
                        )
                    }


                } else {
                    alert(data.result);
                }

            }
        });
    }

    function ajax_get_tasktemplate_ref(patentid, casecode, casemessagetypecode, casestate) {

        if (patentid == '' || casecode == '' || casemessagetypecode.length == 0) {

            return
        }
        $.ajax({
            url: '{% url 'case:case_tasktemplate_ref_get' %}',
            data: {
                'patentid': patentid,
                'casecode': casecode,
                'casemessagetypecode': casemessagetypecode,
                'casestate': casestate
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                if (data.state == 'success') {
                    $('#id_tasktemplate_ref').find('option').remove()
                    $('#id_tasktemplate_ref').append('<option value="">------</option>')
                    if (data.result.length == 0) {
                        $('#id_tasktemplate').find('option').remove()
                    }
                    for (let i = 0; i < data.result.length; i++) {
                        $('#id_tasktemplate_ref').append(
                            '<option selected value="' + data.result[i].id + '">' + data.result[i].str + '</option>'
                        )
                        ajax_get_tasktemplate(data.result[i].id);
                        break;

                    }


                } else {
                    alert(data.result);
                }

            }
        });
    }

    function ajax_get_tasktemplate(tasktemplaterefid) {


        if (tasktemplaterefid === "") {

            $('#id_tasktemplate').find('option').remove()
            return
        }
        $.ajax({
            url: '{% url 'case:case_tasktemplate_get' %}',
            data: {
                'tasktemplaterefid': tasktemplaterefid,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                if (data.state == 'success') {
                    const ttid = []
                    $('#id_tasktemplate').find('option').remove()
                    $('#id_tasktemplate').append('<option value="">------</option>')
                    for (let i = 0; i < data.result.length; i++) {
                        $('#id_tasktemplate').append(
                            '<option value="' + data.result[i].id + '" selected>' + data.result[i].str + '</option>'
                        )
                        ttid.push(data.result[i].id)
                    }
                    ajax_load_tasktemplate(ttid)

                } else {
                    alert(data.result);
                }

            }
        });
    }

    function generateRandomNumber() {
        var min = 0.1,
            max = 0.4,
            highlightedNumber = Math.random() * (max - min) + min;

        return highlightedNumber;
    };

    function ajax_load_tasktemplate(tasktemplateid) {

        if (tasktemplateid == '') {
            return
        }
        $.ajax({
            url: '{% url 'case:case_tasktemplate_load' %}',
            data: {
                'tasktemplateid': tasktemplateid,
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                $("#treearea").empty();


                if (data.state == 'success') {
                    nodedata = {'nodes': [], 'edges': []}

                    let x = 0.15
                    let y = 0.1
                    let value = 0.25
                    let addy = false
                    let count = 0;
                    for (let i = 0; i < data.nodelist.length; i++) {

                        count++
                        var nodeid = data.nodelist[i].id.toString()
                        var tcode = data.nodelist[i].taskCode.toString()
                        let node = {}
                        if (count % 4 == 0) {
                            x = x + value
                            y = 0.1
                        } else {
                            if (!addy) {
                                addy = true
                                y = y + generateRandomNumber()
                            } else {
                                addy = false
                                y = y + generateRandomNumber()
                            }

                        }
                        if (count == 1) {
                            x = 0.15
                            y = 0.1
                        }

                        node = {
                            id: nodeid
                            , label: tcode
                            , x: x
                            , y: y
                            , size: 2
                        }
                        nodedata['nodes'].push(node)
                    }
                    for (let i = 0; i < data.edges.length; i++) {

                        var source = data.edges[i].source.toString()
                        var target = data.edges[i].target.toString()

                        let edge = {
                            id: source + 'e' + target,
                            target: target,
                            size: 10,
                            source: source,
                            type: "arrow",
                            color: '#FF0000'
                        }
                        nodedata["edges"].push(edge)


                    }


                    s = new sigma({
                        renderer: {
                            container: document.getElementById("treearea"),
                            type: 'canvas'
                        },
                        settings: {
                            defaultNodeColor: '#ec5148',
                            minEdgeSize: 0.1,
                            maxEdgeSize: 2,
                            minNodeSize: 1,
                            maxNodeSize: 8,
                        },
                    });
                    // Load the graph in sigma
                    s.graph.read(nodedata);
                    // Ask sigma to draw it
                    s.refresh();


                } else {
                    alert(data.result);
                }

            }
        });
    }

    function decideselected(oid, result) {

        $('#' + oid + " option:selected").attr('selected', false);
        for (let i = 0; i < result.length; i++) {
            $("#" + oid + " > option").each(function () {

                $("#" + oid + " option[value=" + result[i] + "]").attr("selected", "selected")
                $("#" + oid).val(result[i]).change()
            });
        }
    }
</script>