<p class="emailtitle">업무 추가</p>
<br>


<input name="msgid" value="{{ linkmsg }}" hidden>

{% with taskform as form %}
    <label for="{{ form.master.id_for_label }}">{{ form.labeldic.master }}</label>
    {{ form.master }}

    <label for="{{ form.taskNumber.id_for_label }}">{{ form.labeldic.taskNumber }}</label>
    {{ form.taskNumber }}

    <label for="{{ form.taskCode.id_for_label }}">{{ form.labeldic.taskCode }}</label>
    {{ form.taskCode }}
    <label for="{{ form.state.id_for_label }}">{{ form.labeldic.state }}</label>
    {{ form.state }}
    <label for="{{ form.receptionDate.id_for_label }}">{{ form.labeldic.receptionDate }}</label>
    {{ form.receptionDate }}
    <br>
    <label for="{{ form.neededCompletionReporting.id_for_label }}">{{ form.labeldic.neededCompletionReporting }}</label>
    {{ form.neededCompletionReporting }}
    <label for="{{ form.internalCompletionDueDate.id_for_label }}">{{ form.labeldic.internalCompletionDueDate }}</label>
    {{ form.internalCompletionDueDate }}

    <label for="{{ form.completionDueDate.id_for_label }}">{{ form.labeldic.completionDueDate }}</label>
    {{ form.completionDueDate }}
    <label for="{{ form.isChargedExpense.id_for_label }}">{{ form.labeldic.isChargedExpense }}</label>
    {{ form.isChargedExpense }}
    <label for="{{ form.chargedExpense.id_for_label }}">{{ form.labeldic.chargedExpense }}</label>
    {{ form.chargedExpense }}
    <br>
    <label for="{{ form.chargedExpenseCurrency.id_for_label }}">{{ form.labeldic.chargedExpenseCurrency }}</label>
    {{ form.chargedExpenseCurrency }}
    <label for="{{ form.externalServicePrice.id_for_label }}">{{ form.labeldic.externalServicePrice }}</label>
    {{ form.externalServicePrice }}
    <label for="{{ form.externalServicePriceCurrency.id_for_label }}">{{ form.labeldic.externalServicePriceCurrency }}</label>
    {{ form.externalServicePriceCurrency }}
    <label for="{{ form.purchase_invoice.id_for_label }}">{{ form.labeldic.purchase_invoice }}</label>
    {{ form.purchase_invoice }}
    <label for="{{ form.externalservice_client.id_for_label }}">{{ form.labeldic.externalservice_client }}</label>
    {{ form.externalservice_client }}
    <label for="{{ form.externalservice_manager.id_for_label }}">{{ form.labeldic.externalservice_manager }}</label>
    {{ form.externalservice_manager }}
    <label for="{{ form.tag.id_for_label }}">{{ form.labeldic.tag }}</label>
    {{ form.tag }}
    <span class="emailtitlebold">케이스-메시지 타입</span>
    <select name="task_message_type" id="id_task_message_type">
    </select>
{% endwith %}
<script>
    $(document).ready(function () {
        $('#task_master').removeAttr('multiple');
        $('#task_master').find('option').remove()
        $('#task_master').append('<option value="">------</option>')
        {% for m in master %}
            var mid = '{{ m.id }}'
            var m = '{{ m }}'
            $('#task_master').append('<option value="' + mid + '">' + m + '</option>')
        {% endfor %}

        $("#task_receptionDate").val('{{ receptionDate }}')
        $("#task_internalCompletionDueDate").val('{{ internalCompletionDueDate }}')

        {% for cmt in case_task_message_type %}
            var val = '{{ cmt.0 }}'
            var txt = '{{ cmt.1 }}'
            $('#id_task_message_type').append('<option value="' + val + '">' + txt + '</option>')
        {% endfor %}
    });
    $("#task_taskCode")
        .change(function () {
            const taskcode = $("select#task_taskCode option:selected").val();
            ajax_for_generate_taskcode(taskcode)
        })

    function ajax_for_generate_taskcode(taskcode, dtime = '') {
        if (taskcode == '' || typeof taskcode == 'undefined') {
            return
        }
        $.ajax({
            url: '{% url 'case:task_number_load' %}',
            data: {
                'taskcode': taskcode,
                'msgid': '{{ linkmsg }}',
                'dtime': dtime
            },
            type: 'GET',

            dataType: 'json',
            success: function (data) {
                if (data.state === 'success') {
                    $("#task_taskNumber").val(data.result);

                } else {
                    alert(data.result);
                }

            }
        });
    }
</script>