div.main{
  width: 100%;
}

.side-top {
  color: rgba(245, 243, 228, 0.92);
  text-decoration: none;
  font-size: 25px;
  display: block;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.sidenav {
  float:left;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 5px 8px 5px 70px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}
#content
{
    width: 85%;
    float:right;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.basictable
{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}
.basictable th{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}
.basictable td{
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
.pagination
    {
        margin: 0px;
        padding: 5px;
        display: inline;
        font-size: 15px;
    }

.model_list  tr:hover{
    background-color: #edeb13;
}