ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
}
.container
{
  margin: 0;
  padding: 0;
  background-color: #333;
  width: auto;
}
.uppernav
{
  text-align: right;
  background: orange;
}
.mainimg
{
  width: 75%;
}
.myfooter
{
  background: #333;
  color: white;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
