{% extends "popupformbase.html" %}

{% block title %}{% endblock %}

{% block formblock %}
    <input hidden name="msgid" value="{{ msgid }}">
        <p>메시지 타입</p>
     <select name="casetype" >
            {% for case in casetype %}
                <option value="{{ case.value }}">
                    {{ case.value }}</option>
            {% endfor %}
        </select>

    {{ form.as_p }}
{% endblock %}