{% extends "popupformbase.html" %}

{% block title %}{% endblock %}

{% block formblock %}
    <input hidden name="msgid" value="{{ msgid }}">
      <p>메시지 타입</p>
     <select name="tasktype" >
            {% for task in tasktype %}
                <option value="{{ task.value }}">
                    {{ task.value }}</option>
            {% endfor %}
        </select>
    {{ form.as_p }}
{% endblock %}