{% extends "case/casebase.html" %}
{% block content %}
    {{ block.super }}
    <h2>계좌정보</h2>
     <table border="1" class="model_list">
                <tr>
                    <th>
                        <input id="checkall" type="checkbox" value="">
                    </th>
                    <th>{{ _("edit") }}</th>

                        <th>{{ model_list.0.bankName }}</th>
                        <th>{{ model_list.0.accountNumber }}</th>
                        <th>{{ model_list.0.depositorName }}</th>
                        <th>{{ model_list.0.isClientInfo }}</th>


                </tr>
                {% if model_list.1 %}
                    {% for data in model_list.1 %}
                        <tr class="clicktr" data-id="{{ data.id }}" id="">
                            <td class="checked">
                                <a href="JavaScript:deleteModel('{% url 'case:deletebankaccountinformation' %}','{{ data.id }}');">삭제</a>
                            </td>
                            <td class="clicktrexcept">
                                <a href="JavaScript:newPopup('{% url 'case:editbankaccountinformation' data.id %}');">{{ _("edit") }}</a>
                            </td>

                            <td>{{ data.bankName }}</td>
                            <td>{{ data.accountNumber }}</td>
                            <td>{{ data.depositorName }}</td>
                            <td>{{ data.isClientInfo }}</td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>


            <span class="tableopt">
                <a class="btn btn-primary"
                   onclick="newPopup('{% url 'case:createbankaccountinformation' %}')">{{ _("create") }}</a>
            </span>
            <br>
        </form>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
{% endblock %}