{% extends "base.html" %}
{% block content %}


    <div class="container">

                  <div class="innernav">
                      <span><a id="case"  href="{% url 'case:cases' %}">사건</a></span>
                    <span><a id="task" href="{%  url 'case:tasks' %}">업무</a></span>
                      <span><a id="revenue_invoice"  href="{%  url 'case:revenue_invoices' %}">매출청구서</a></span>
                      <span><a id="purchase_invoice"  href="{%  url 'case:purchase_invoices' %}">매입청구서</a></span>
                      <span><a id="transaction_history"  href="{%  url 'case:transactionhistory' %}">거래내역</a></span>
                      <span><a id="bankaccount_information"  href="{%  url 'case:bankaccountinformation' %}">계좌정보</a></span>


                  </div>

    </div>
{% endblock %}