{% extends "case/casebase.html" %}
{% block content %}
    {{ block.super }}
    <h2>사건</h2>
    <form action="{% url 'case:cases' %}" method="get">
    <span>
    <label for="all">All State</label><input type="radio" name="casestate" id="all" value="all"
            {% if not caseState or caseState == 'all' %}
                                             checked
            {% endif %}/>
    <label for="progress">진행 중</label><input type="radio" name="casestate" id="progress" value="progress"
            {% if caseState == 'progress' %}
                                             checked
            {% endif %}/>
    <label for="complete">완료</label><input type="radio" name="casestate" id="complete" value="complete"
            {% if caseState == 'complete' %}
                                           checked
            {% endif %}/>
    </span>
    </form>
    <table border="1" class="model_list">
        <tr>
            <th>
                <input id="checkall" type="checkbox" value="">
            </th>
            <th>{{ _("edit") }}</th>


            <th>{{ model_list.0.caseNumber }}</th>
            <th>{{ model_list.0.caseCode }}</th>
            <th>{{ model_list.0.state }}</th>
            <th>{{ model_list.0.receptionDate }}</th>
            <th>출원종류</th>
            <th>출원국가종류</th>
            <th>당소번호</th>
            <th>출원번호</th>
            <th>발명의명칭</th>
            <th>{{ model_list.0.recentCaseDocumentSubmissionDueDate }}</th>
            <th>{{ model_list.0.recentCaseDocumentSubmissionDate }}</th>
            <th>{{ model_list.0.isNeedSendReport }}</th>
            <th>{{ model_list.0.isNeedSubmissionReport }}</th>
            <th>{{ model_list.0.recentSubmissionInstructionReceiptDate }}</th>
            <th>{{ model_list.0.recentCompleteReportDate }}</th>
            <th>{{ model_list.0.case_client }}</th>
            <th>{{ model_list.0.case_clientmanagement }}</th>
            <th>{{ model_list.0.case_ourcompanymanagement }}</th>


        </tr>
        {% if model_list.1 %}
            {% for data in model_list.1 %}
                <tr class="clicktr" data-id="{% url 'case:cases_detail' data.id %}" id="">
                    <td class="clicktrexcept">
                        <a href="JavaScript:deleteModel('{% url 'case:deletecase' %}','{{ data.id }}');">삭제</a>
                    </td>
                    <td class="clicktrexcept">
                        <a href="JavaScript:newPopup('{% url 'case:editcase' data.id %}');">{{ _("edit") }}</a>
                    </td>

                    <td>{{ data.caseNumber }}</td>
                    <td>
                        {% for cm in case_code_multiplelang.Case_CaseType %}
                            {% if cm.0 == data.caseCode %}
                                {{ cm.1 }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for cm in case_code_multiplelang.Case_CaseState %}
                            {% if cm.0 == data.state %}
                                {{ cm.1 }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ data.receptionDate }}</td>
                    <td>
                        {% for master in data.master.all %}
                            {% for cm in ptype_code_multiplelang %}
                                {% if cm.0 == master.patentType %}
                                    {{ cm.1 }}
                                {% endif %}
                            {% endfor %}

                        {% endfor %}</td>
                    <td>
                        {% for master in data.master.all %}

                            {% for cm in ntype_code_multiplelang %}
                                {% if cm.0 == master.nationType %}
                                    {{ cm.1 }}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}</td>
                    <td>
                        {% for master in data.master.all %}
                            {{ master.ourCompanyNumber }}
                        {% endfor %}</td>
                    <td>
                        {% for master in data.master.all %}
                            {{ master.applicationNumber }}
                        {% endfor %}</td>
                    <td>
                        {% for master in data.master.all %}
                            {{ master.inventNameKor }}
                            {% if master.inventNameOrigin %}({{ master.inventNameOrigin }})
                            {% endif %}
                        {% endfor %}</td>


                    <td>{{ data.recentCaseDocumentSubmissionDueDate }}</td>
                    <td>{{ data.recentCaseDocumentSubmissionDate }}</td>
                    <td>{{ data.isNeedSendReport }}</td>
                    <td>{{ data.isNeedSubmissionReport }}</td>

                    <td>{{ data.recentSubmissionInstructionReceiptDate }}</td>
                    <td>{{ data.recentCompleteReportDate }}</td>
                    <td>{% for c in  data.case_client.all %}
                        {{ c }}
                    {% endfor %}
                    </td>
                    <td>{% for cm in data.case_clientmanagement.all %}
                        {{ cm }}
                    {% endfor %}
                    </td>
                    <td>{% for coc in data.case_ourcompanymanagement.all %}
                        {{ coc }}
                    {% endfor %}
                    </td>

                </tr>
            {% endfor %}
        {% else %}
            <td>{{ _("nodata") }}</td>
        {% endif %}
    </table>


    <br>
    </form>
    <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
    <script>
        $('input[type=radio]').on('change', function () {
            $(this).closest("form").submit();
        });
        $(document).ready(function () {


        });



        $(document).on("dblclick", "td", function () {
            var clickedBtnID = $(this).attr('class');
            if (clickedBtnID != 'clicktrexcept') {   //e.preventDefault();
                var did = $(this).parent().attr('data-id');
                MoveLocation(did);
            }

        });


    </script>
{% endblock %}

