{% extends "case/casebase.html" %}
{% block content %}
    {{ block.super }}
    <h2>사건 상세</h2>
    <p><strong>출원 정보</strong></p>
    {% for master in case.master.all %}
        <span><strong>당소번호 : </strong>{{ master.ourCompanyNumber }},<strong>출원번호 : </strong>{{ master.applicationNumber }},<strong>발명의 명칭 : </strong>{{ master.inventNameKor }},<strong>출원인 : </strong>
            {% for app in master.applicants.all %}
                {{ app.korFullName }}
            {% endfor %}</span>
        <br>
    {% endfor %}
    <br>
    <p><strong>사건 정보</strong></p>
    <strong>사건종류</strong> : {% for cc in case_code_multiplelang.Case_CaseType %}
    {% if cc.0 == case.caseCode %}
        {{ cc.1 }}
    {% endif %}
    {% endfor %}
     // <strong>사건상태</strong> :

    {% for cc in case_code_multiplelang.Case_CaseState %}
    {% if cc.0 == case.state %}
        {{ cc.1 }}
    {% endif %}
    {% endfor %} // <strong>사건번호</strong> : {{ case.caseNumber }}
    <table border="1" class="model_list">
        <tr>
            <th>
                <input id="checkall" type="checkbox" value="">
            </th>
            <th>{{ _("edit") }}</th>


            <th>{{ model_list.0.task_domesticmaster }}</th>
            <th>{{ model_list.0.case }}</th>
            <th>{{ model_list.0.taskNumber }}</th>
            <th>{{ model_list.0.taskCode }}</th>
            <th>{{ model_list.0.receptionDate }}</th>
            <th>{{ model_list.0.completionReportingDate }}</th>
            <th>{{ model_list.0.neededCompletionReporting }}</th>
            <th>{{ model_list.0.internalCompletionDueDate }}</th>
            <th>{{ model_list.0.completionDueDate }}</th>
            <th>{{ model_list.0.isChargedExpense }}</th>
            <th>{{ model_list.0.chargedExpense }}</th>
            <th>{{ model_list.0.chargedExpenseCurrency }}</th>
            <th>{{ model_list.0.externalServiceRequest }}</th>
            <th>{{ model_list.0.externalServiceResultsReceptionDate }}</th>
            <th>{{ model_list.0.externalServicePrice }}</th>
            <th>{{ model_list.0.externalServicePriceCurrency }}</th>
            <th>{{ model_list.0.purchase_invoice }}</th>
            <th>{{ model_list.0.task_client }}</th>
            <th>{{ model_list.0.task_clientmanagement }}</th>
            <th>{{ model_list.0.externalservice_client }}</th>
            <th>{{ model_list.0.externalservice_clientmanagement }}</th>
            <th>{{ model_list.0.externalService_message }}</th>


        </tr>
        {% if model_list.1 %}
            {% for data in model_list.1 %}
                <tr class="clicktr" data-id="{{ data.id }}" id="">
                    <td class="checked">
                        <a href="JavaScript:deleteModel('{% url 'case:deletetask' %}','{{ data.id }}')">삭제</a>
                    </td>
                    <td class="clicktrexcept">
                        <a href="JavaScript:newPopup('{% url 'case:edittask' data.id %}');">{{ _("edit") }}</a>
                    </td>
                    <td>{% for master in data.task_domesticmaster.all %}
                        <p>{{ master }}</p>
                    {% endfor %}
                    </td>
                    <td>{% for case in data.case.all %}
                        <p>{{ case }}</p>
                    {% endfor %}
                    </td>
                    <td>{{ data.taskNumber }}</td>
                    <td>
                        {% for tt in task_type_multiplelang %}
                            {% if tt.0 == data.taskCode %}
                                {{ tt.1 }}
                            {% endif %}
                            {% endfor %}
                        </td>
                    <td>{{ data.receptionDate }}</td>
                    <td>{{ data.completionReportingDate }}</td>

                    <td>{{ data.neededCompletionReporting }}</td>
                    <td>{{ data.internalCompletionDueDate }}</td>
                    <td>{{ data.completionDueDate }}</td>
                    <td>{{ data.isChargedExpense }}</td>
                    <td>{{ data.chargedExpense }}</td>
                    <td>{{ data.chargedExpenseCurrency }}</td>
                    <td>{{ data.externalServiceRequest }}</td>
                    <td>{{ data.externalServiceResultsReceptionDate }}</td>
                    <td>{{ data.externalServicePrice }}</td>
                    <td>{{ data.externalServicePriceCurrency }}</td>
                    <td>{{ data.purchase_invoice }}</td>
                    <td>{% for client in data.task_client.all %}
                        {{ client }}
                    {% endfor %}</td>
                    <td>{% for mgr in data.task_clientmanagement.all %}
                        {{ mgr }}
                    {% endfor %}</td>
                    <td>{% for ec in data.externalservice_client.all %}
                        {{ ec }}
                    {% endfor %}</td>
                    <td>{% for ecm in data.externalservice_clientmanagement.all %}
                        {{ ecm }}
                    {% endfor %}</td>
                    <td>{% for em in data.externalService_message.all %}
                        {{ em }}
                    {% endfor %}</td>

                </tr>
            {% endfor %}
        {% else %}
            <td>{{ _("nodata") }}</td>
        {% endif %}
    </table>

    <table border="1" class="model_list">
        <tr>
            <th>사건 연결</th>
            <th>{{ revenue_invoice.0.ourCompanyNumber }}</th>
            <th>{{ revenue_invoice.0.ourCompanyClaimNumber }}</th>
            <th>{{ revenue_invoice.0.case }}</th>
            <th>{{ revenue_invoice.0.claimDate }}</th>
            <th>{{ revenue_invoice.0.totalCharges }}</th>
            <th>{{ revenue_invoice.0.chargesCurrency }}</th>
            <th>{{ revenue_invoice.0.ourCompanyCharges }}</th>
            <th>{{ revenue_invoice.0.vat }}</th>
            <th>{{ revenue_invoice.0.depositDate }}</th>
            <th>{{ revenue_invoice.0.totalDepositAmount }}</th>
            <th>{{ revenue_invoice.0.paymentCompletionDate }}</th>
            <th>{{ revenue_invoice.0.revenue_invoice_client }}</th>
            <th>{{ revenue_invoice.0.revenue_invoice_clientmanagement }}</th>
            <th>{{ revenue_invoice.0.revenue_deposit_info }}</th>
        </tr>

        {% if revenue_invoice.1 %}
            {% for data in revenue_invoice.1 %}
                {% for master in case.master.all %}
                    {% if master.ourCompanyNumber == data.ourCompanyNumber %}

                    <tr>
                        <td>{% if data.case == case %}<button class="btn-danger btn" onclick="ajax_set_case_revenue_invoice('{{ case.id }}'
                                ,'{{ data.id }}',false)">사건연결해제</button>{% else %}
                            <button class="btn-primary btn" onclick="ajax_set_case_revenue_invoice('{{ case.id }}'
                                ,'{{ data.id }}',true)">사건연결</button>
                        {% endif %}</td>
                        <td>{{ data.ourCompanyNumber }}</td>
                        <td>{{ data.ourCompanyClaimNumber }}</td>
                        <td>{{ data.case }}</td>
                        <td>{{ data.claimDate }}</td>
                        <td>{{ data.totalCharges }}</td>

                        <td>{{ data.chargesCurrency }}</td>
                        <td>{{ data.ourCompanyCharges }}</td>
                        <td>{{ data.vat }}</td>
                        <td>{{ data.depositDate }}</td>
                        <td>{{ data.totalDepositAmount }}</td>
                        <td>{{ data.paymentCompletionDate }}</td>
                        <td>{% for cm in data.revenue_invoice_client.all %}
                            {{ cm }}
                        {% endfor %}
                        </td>
                        <td>{% for coc in data.revenue_invoice_clientmanagement.all %}
                            {{ coc }}
                        {% endfor %}
                        </td>
                        <td>{% for t in data.revenue_deposit_info.all %}
                            {{ t }}
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </table>
    <br>
    <p><strong>사건 - 최종 매출청구서 선택</strong></p>
    <select id="id_case_revenueinvoice">
    <option value="">------</option>
    {% for r in case.case_revenueinvoice.all %}
        {% if case.final_revenue_invoice == r %}
        <option value="{{ r.id }}" selected>{{ r.ourCompanyClaimNumber }}//{{ r.ourCompanyNumber }}</option>
        {% else %}
            <option value="{{ r.id }}">{{ r.ourCompanyClaimNumber }}//{{ r.ourCompanyNumber }}</option>
        {% endif %}
    {% endfor %}
    </select>

    <br><br>
    <label><strong>이메일 메시지</strong></label>
      <table border="1" class="model_list basictable">
            <colgroup>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="60%"/>
                <col width="10%"/>
            </colgroup>
                <tr>
                    {% if email_multilang %}
                        <th>파일이름</th>
                        <th>{{ email_multilang.fromEmail }}</th>
                        <th>{{ email_multilang.to_person }}</th>
                        <th>{{ email_multilang.subject }}</th>
                        <th>{{ email_multilang.sentDate }}</th>
                        <th>사건-메시지 연결해제</th>



                    {% endif %}
                </tr>
                {% if case_message.1 %}
                    {% for data in case_message.1 %}
                        {% if data.type == 'EM' %}
                        <tr data-id="{{ data.email.id }}" onclick="window.location.href='{% url "emailsystem:email_content" data.email.id %}'">
                        <td>{{ data.email.emailFileName }}</td>
                            <td>{{ data.email.fromEmail.email }}</td>
                        <td>{% for to in data.email.to_person.all %}
                            <p>{{ to.emailName }}</p>
                            {% endfor %}
                            </td>
                            <td>{{ data.email.subject }}</td>

                            <td>{{ data.email.sentDate }}</td>
                            <td>not now</td>

                        </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>

       <label><strong>통지서 메시지</strong></label>
       <table border="1" class="model_list basictable" >
            <tr>
                {% if patent_document_multilang and patent_document_attach_multilang %}
                    <th>{{ case_message.0.master_message }}</th>
                    <th>{{ case_message.0.case }}</th>
                    <th>{{ patent_document_multilang.docuCode }}</th>
                    <th>{{ patent_document_attach_multilang.sendDocuName }}</th>
                    <th>{{ Patent_Documentpatent_document_multilang_multilang.receiptSendCode }}</th>
                     <th>{{ patent_document_attach_multilang.deadLineDate }}</th>
                    <th>첨부문서</th>
                    <th>사건-메시지 연결해제</th>


                {% endif %}
            </tr>
            {% if case_message.1 %}
                {% for data in case_message.1 %}
                    {% if data.patent_docu.type == 'KP' %}
                    <tr data-id="{{ data.id }}">
                        <td>
                            <button class="btn btn-primary" id="{{ data.id }}" onclick="btnclick(this,'{% url 'message:searchmasterinemailmessage' data.id %}')">ADD
                            </button>
                            {% if data.master_message.all %}
                                {% for master_message in data.master_message.all %}
                                <p>{{ master_message.applicationNumber }}</p> <a class="btn btn-danger" onclick="deleterelation('{% url 'message:dellinkpatentmastermessage' %}',{{data.id}},{{ master_message.id }})" >delete</a>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}

                        </td>
                        <td> {% if data.master_message.all %}
                                <a class="btn btn-primary" href="JavaScript:newPopup('{% url 'case:customcasepopupform' data.id %}?type=patent')">사건추가</a>
                        {% endif %}
                        </td>
                        <td>{{ data.patent_docu.docuCode }}</td>
                        <td>
                            {% for attach in data.patent_docu.patentofficedocu_attachment.all %}
                                {{  attach.sendDocuName }}<br>
                                {% endfor %}
                        </td>
                         <td>
                            {{ data.patent_docu.receiptSendCode }}
                        </td>
                        <td>
                            {% for attach in data.patent_docu.patentofficedocu_attachment.all %}
                                {{  attach.deadLineDate }}<br>
                                {% endfor %}
                        </td>
                        <td>


                            {% for file in data.patent_docu.patentofficedocu_attachment.all %}
                                 {% if file.parent %}
                                    <p>child</p>
                                {% endif %}
                                <a href="{{ file.path.url }}">{{ file.sendDocuName }}</a>

                            {% endfor %}

                        </td>
                    <td>not now</td>


                    </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <td>{{ _("nodata") }}</td>
            {% endif %}
        </table>
    <script>

     $("#id_case_revenueinvoice").change(function () {

        const finalrevenueid = $("#id_case_revenueinvoice :selected").val()
        ajax_set_final_case_revenue_invoice('{{ case.id }}', finalrevenueid)

    })

        $(document).ready(function () {


        });


        function ajax_set_case_revenue_invoice(caseid, invoiceid) {

            if (caseid == '' || invoiceid == '') {

                return
            }
            $.ajax({
                url: '{% url 'case:linkcasetorevenueinvoice' %}',
                data: {
                    'caseid': caseid,
                    'invoiceid': invoiceid,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {

                    } else {
                        alert(data.result);
                    }

                }
            });
        }


         function ajax_set_case_revenue_invoice(caseid, invoiceid, forlink) {

            if (caseid == '' || invoiceid == '') {

                return
            }
            $.ajax({
                url: '{% url 'case:linkcasetorevenueinvoice' %}',
                data: {
                    'caseid': caseid,
                    'invoiceid': invoiceid,
                    'forlink':forlink
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {
                        location.reload();
                    } else {
                        alert(data.result);
                    }

                }
            });
        }
        function ajax_set_final_case_revenue_invoice(caseid, invoiceid) {

            if (caseid == '') {

                return
            }
            $.ajax({
                url: '{% url 'case:linkfinalcasetorevenueinvoice' %}',
                data: {
                    'caseid': caseid,
                    'invoiceid': invoiceid,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {
                        location.reload();
                    } else {
                        alert(data.result);
                    }

                }
            });
        }

        function ajax_set_unlink_case_message(caseid, msgid) {

            if (caseid == '') {

                return
            }
            $.ajax({
                url: '{% url 'case:unlinkcasetomessage' %}',
                data: {
                    'caseid': caseid,
                    'msgid': msgid,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {
                        location.reload();
                    } else {
                        alert(data.result);
                    }

                }
            });
        }
    </script>
{% endblock %}

