{% extends "case/casebase.html" %}
{% block content %}
    {{ block.super }}
    <h2>매출청구서</h2>
     <table border="1" class="model_list basictable" >
                <tr>
                    <th>
                        <input id="checkall" type="checkbox" value="">
                    </th>
                    <th>{{ _("edit") }}</th>

                        <th>{{ model_list.0.ourCompanyClaimNumber }}</th>
                        <th>{{ model_list.0.case }}</th>
                        <th>{{ model_list.0.claimDate }}</th>
                        <th>{{ model_list.0.totalCharges }}</th>
                        <th>{{ model_list.0.chargesCurrency }}</th>
                         <th>{{ model_list.0.ourCompanyCharges }}</th>
                        <th>{{ model_list.0.vat }}</th>
                        <th>{{ model_list.0.depositDate }}</th>
                        <th>{{ model_list.0.totalDepositAmount }}</th>
                        <th>{{ model_list.0.paymentCompletionDate }}</th>
                     <th>{{ model_list.0.revenue_invoice_client }}</th>
                     <th>{{ model_list.0.revenue_invoice_clientmanagement }}</th>
                     <th>{{ model_list.0.revenue_deposit_info }}</th>


                </tr>
                {% if model_list.1 %}
                    {% for data in model_list.1 %}
                        <tr class="clicktr" data-id="{{ data.id }}" id="">
                            <td class="checked">
                                <a href="JavaScript:deleteModel('{% url 'case:deleterevenueinvoice' %}','{{ data.id }}');">삭제</a>
                            </td>
                            <td class="clicktrexcept">
                                <a href="JavaScript:newPopup('{% url 'case:editrevenueinvoice' data.id %}');">{{ _("edit") }}</a>
                            </td>

                            <td>{{ data.ourCompanyClaimNumber }}</td>
                            <td>{{ data.case }}</td>
                            <td>{{ data.claimDate }}</td>
                            <td>{{ data.totalCharges }}</td>

                            <td>{{ data.chargesCurrency }}</td>
                            <td>{{ data.ourCompanyCharges }}</td>
                             <td>{{ data.vat }}</td>
                         <td>{{ data.depositDate }}</td>
                        <td>{{ data.totalDepositAmount }}</td>
                        <td>{{ data.paymentCompletionDate }}</td>
                        <td>{% for cm in data.revenue_invoice_client.all %}
                            {{ cm }}
                        {% endfor %}
                        </td>
                        <td>{% for coc in data.revenue_invoice_clientmanagement.all %}
                            {{ coc }}
                            {% endfor %}
                            </td>
                        <td>{% for t in data.revenue_deposit_info.all %}
                            {{ t }}
                            {% endfor %}
                        </td>



                        </tr>
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>


            <span class="tableopt">
                <a class="btn btn-primary"
                   onclick="newPopup('{% url 'case:createrevenueinvoice' %}')">{{ _("create") }}</a>
            </span>
            <br>
        </form>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
{% endblock %}