{% extends "popupformbase.html" %}

{% block title %}{% endblock %}

{% block formblock %}
    <p>
        <label>출원코드</label>
    </p>
    <p>
        <select id="id_patentType">
            {% for p in patentType %}
                <option value="{{ p.0 }}">{{ p.1 }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label>출원국가종류코드</label>
    </p>
    <p>
        <select id="id_nationType">
            {% for p in nationType %}
                <option value="{{ p.0 }}">{{ p.1 }}</option>
            {% endfor %}
        </select>
    </p>
    {{ form.as_p }}


    <script>

        $(document).ready(function () {
            if ('{{ serialnum }}') {
                $("#id_ourCompanyClaimNumber").val('{{ serialnum }}')
                var serial = '{{ serialnum }}'
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                var year = yyyy+'-'+ mm + '-' + dd
                $("#id_claimDate").val(year);
                $("#id_patentType").val(serial.slice(9,10));
                $("#id_nationType").val(serial.slice(0,1));
            }


        })

        $("#id_patentType")
            .change(function () {
                var txt = $("select#id_patentType option:selected").val();
                var ournum = $("#id_ourCompanyClaimNumber").val()
                if (txt != '' & ournum.length == 10) {

                    var newnum = ournum.slice(0,9) + txt

                    Ajax_for_searchourcom(newnum)
                }


            })

        $("#id_nationType")
            .change(function () {

                var txt = $("select#id_nationType option:selected").val();
                var ournum = $("#id_ourCompanyClaimNumber").val()
                if (txt != '' & ournum.length == 10) {


                    var newnum = txt + ournum.slice(1,10)
                    Ajax_for_searchourcom(newnum)
                }


            })

        $("#id_claimDate")
            .change(function () {
                var ournum = $("#id_ourCompanyClaimNumber").val()
                var txt = $("input#id_claimDate").val();
                if (txt != '' & ournum.length == 10)
                {
                    var newnum = ournum.slice(0,1) + txt.slice(2,4) + txt.slice(5,7) + ournum.slice(9,10)
                    Ajax_for_searchourcom(newnum)
                }
            })

        function Ajax_for_searchourcom(ournumforsearch) {
            $.ajax({
                url: '{% url 'revenueinvoiceourcomnumberload' %}',
                data: {
                    'searchournum': ournumforsearch
                },
                dataType: 'json',
                success: function (data) {

                    $("#id_ourCompanyClaimNumber").val(data.serialnum)
                }
            });
        }
    </script>
{% endblock %}
