{% extends "case/casebase.html" %}
{% block content %}
    {{ block.super }}
    <h2>업무</h2>
     <table border="1" class="model_list">
                <tr>
                    <th>
                        <input id="checkall" type="checkbox" value="">
                    </th>
                    <th>{{ _("edit") }}</th>


                        <th>{{ model_list.0.task_domesticmaster }}</th>
                        <th>{{ model_list.0.case }}</th>
                        <th>{{ model_list.0.taskNumber }}</th>
                        <th>{{ model_list.0.taskCode }}</th>
                    <th>{{ model_list.0.state }}</th>
                        <th>{{ model_list.0.receptionDate }}</th>
                        <th>{{ model_list.0.completionReportingDate }}</th>
                        <th>{{ model_list.0.neededCompletionReporting }}</th>
                        <th>{{ model_list.0.internalCompletionDueDate }}</th>
                        <th>{{ model_list.0.completionDueDate }}</th>
                        <th>{{ model_list.0.isChargedExpense }}</th>
                        <th>{{ model_list.0.chargedExpense }}</th>
                        <th>{{ model_list.0.chargedExpenseCurrency }}</th>
                        <th>{{ model_list.0.externalServiceRequest }}</th>
                        <th>{{ model_list.0.externalServiceResultsReceptionDate }}</th>
                        <th>{{ model_list.0.externalServicePrice }}</th>
                        <th>{{ model_list.0.externalServicePriceCurrency }}</th>
                        <th>{{ model_list.0.purchase_invoice }}</th>
                        <th>{{ model_list.0.task_client }}</th>
                        <th>{{ model_list.0.task_clientmanagement }}</th>
                        <th>{{ model_list.0.externalservice_client }}</th>
                        <th>{{ model_list.0.externalservice_clientmanagement }}</th>
                        <th>{{ model_list.0.externalService_message }}</th>


                </tr>
                {% if model_list.1 %}
                    {% for data in model_list.1 %}
                        <tr class="clicktr" data-id="{{ data.id }}" id="">
                            <td class="checked">
                                <a  href="JavaScript:deleteModel('{% url 'case:deletetask'%}','{{ data.id }}')">삭제</a>
                            </td>
                            <td class="clicktrexcept">
                                <a href="JavaScript:newPopup('{% url 'case:edittask' data.id %}');">{{ _("edit") }}</a>
                            </td>
                            <td>{%   for master in data.task_domesticmaster.all %}
                                <p>{{ master }}</p>
                                {% endfor %}
                                </td>
                            <td>{%   for master in data.case.all %}
                                <p>{{ master }}</p>
                                {% endfor %}
                                </td>
                            <td>{{ data.taskNumber }}</td>
                            <td>
                                {% for tc in task_code_multiplelang.Task_TaskType %}
                                    {% if tc.0 == data.taskCode %}
                                        {{ tc.1 }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                        <td>
                              {% for tc in task_code_multiplelang.Task_TaskState %}
                                    {% if tc.0 == data.state %}
                                        {{ tc.1 }}
                                    {% endif %}
                                    {% endfor %}
                            </td>
                            <td>{{ data.receptionDate }}</td>
                            <td>{{ data.completionReportingDate }}</td>

                            <td>{{ data.neededCompletionReporting }}</td>
                            <td>{{ data.internalCompletionDueDate }}</td>
                        <td>{{ data.completionDueDate }}</td>
                            <td>{{ data.isChargedExpense }}</td>
                             <td>{{ data.chargedExpense }}</td>
                        <td>{{ data.chargedExpenseCurrency }}</td>
                        <td>{{ data.externalServiceRequest }}</td>
                        <td>{{ data.externalServiceResultsReceptionDate }}</td>
                        <td>{{ data.externalServicePrice }}</td>
                        <td>{{ data.externalServicePriceCurrency }}</td>
                        <td>{{ data.purchase_invoice }}</td>
                        <td>{% for client in data.task_client.all %}
                            {{ client }}
                            {% endfor %}</td>
                        <td>{% for mgr in data.task_clientmanagement.all %}
                            {{ mgr }}
                            {% endfor %}</td>
                        <td>{% for ec in data.externalservice_client.all %}
                            {{ ec }}
                            {% endfor %}</td>
                         <td>{% for ecm in data.externalservice_clientmanagement.all %}
                            {{ ecm }}
                            {% endfor %}</td>
                        <td>{% for em in data.externalService_message.all %}
                            {{ em }}
                            {% endfor %}</td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>


            <span class="tableopt">
                <a class="btn btn-primary"
                   onclick="newPopup('{% url 'case:createtask' %}')">{{ _("create") }}</a>
            </span>
            <br>
        </form>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
{% endblock %}