{% extends "case/casebase.html" %}
{% block content %}
    {{ block.super }}
    <style>
        .ui-autocomplete {
            max-width: 300px !important;
            max-height: 600px;
            overflow-y: auto; /* prevent horizontal scrollbar */
            overflow-x: hidden; /* add padding to account for vertical scrollbar */
            z-index: 1000 !important;
        }
    </style>
    <h2>거래내역 상세</h2>
    <br>
    <p><strong>매출청구서 연결</strong></p>

    <span class="ui-widget">
        <label for="search_ourcompanyno">당소번호검색: </label>

        <input id="search_ourcompanyno">
    </span>

    <span>
    <form id="transaction_search_form" method="get" action="{% url 'case:transactionhistory_detail' tranid %}" hidden>
        <input id="id_ourcomno" name="ourcomno" type="text">
    </form>
    </span>
    <span>
    <label>사건 : </label>
    <select id="id_case">

        <option value="">------</option>
        {% for m in patent %}
            {% for c in m.case.all %}
                <option value="{{ c.id }}">{{ c.caseNumber }}</option>
                {% endfor %}
        {% endfor %}
    </select>
</span>
    <span>
    <label>최종매출통지서 : </label>
    <select id="id_revenue_invoice"></select>
    </span>
    <br>
    <br>
    <label>출원 : </label>
    <div id="patentdiv">

        {% for master in patent %}
            <table class="basictable">
                {% if forloop.first %}
                    {% include 'forinclude/patent/patent_simpleinfo_th.html' with h=masterfield_multiplelang patent=master.patentType nation=master.nationType %}
                {% endif %}
                {% include 'forinclude/patent/patent_simpleinfo_td.html' with data=master patent=master.patentType nation=master.nationType %}
            </table>
        {% endfor %}

    </div>
    <br>
    <br>
    <p><strong>최종 매출 청구서 리스트</strong></p>
    <br>
    입금액 : {{ deposit_amount }} {{ deposit_amount_currency }}
    <br>
    <br>
    <table border="1" class="model_list basictable">
        <tr>
            <th>{{ revenue_invoice_multilang.ourCompanyClaimNumber }}</th>
            <th>{{ revenue_invoice_multilang.case }}</th>
            <th>{{ revenue_invoice_multilang.claimDate }}</th>
            <th>{{ revenue_invoice_multilang.totalCharges }}</th>
            <th>{{ revenue_invoice_multilang.chargesCurrency }}</th>
            <th>{{ revenue_invoice_multilang.ourCompanyCharges }}</th>
            <th>{{ revenue_invoice_multilang.vat }}</th>
            <th>{{ revenue_invoice_multilang.depositDate }}</th>
            <th>{{ revenue_invoice_multilang.totalDepositAmount }}</th>
            <th>{{ revenue_invoice_multilang.paymentCompletionDate }}</th>
            <th>{{ revenue_invoice_multilang.revenue_invoice_client }}</th>
            <th>{{ revenue_invoice_multilang.revenue_invoice_clientmanagement }}</th>
            <th>{{ revenue_invoice_multilang.revenue_deposit_info }}</th>
            <th>연결금액</th>
            <th>수정</th>


        </tr>
        {% if deposit_info_list %}
            {% for data in deposit_info_list %}
                <tr class="clicktr" data-id="{{ data.revenue_invoice.id }}" id="">
                    <td>{{ data.revenue_invoice.ourCompanyClaimNumber }}</td>
                    <td>{{ data.revenue_invoice.case }}</td>
                    <td>{{ data.revenue_invoice.claimDate }}</td>
                    <td>{{ data.revenue_invoice.totalCharges }}</td>

                    <td>{{ data.revenue_invoice.chargesCurrency }}</td>
                    <td>{{ data.revenue_invoice.ourCompanyCharges }}</td>
                    <td>{{ data.revenue_invoice.vat }}</td>
                    <td>{{ data.revenue_invoice.depositDate }}</td>
                    <td>{{ data.revenue_invoice.totalDepositAmount }}</td>
                    <td>{{ data.revenue_invoice.paymentCompletionDate }}</td>
                    <td>{% for cm in data.revenue_invoice.revenue_invoice_client.all %}
                        {{ cm }}
                    {% endfor %}
                    </td>
                    <td>{% for coc in data.revenue_invoice.revenue_invoice_clientmanagement.all %}
                        {{ coc }}
                    {% endfor %}
                    </td>
                    <td>{% for t in data.revenue_invoice.revenue_deposit_info.all %}
                        {{ t }}
                    {% endfor %}
                    </td>
                    <td>
                        {{ data.connectedAmount }} {{ data.connectedCurrency }}
                    </td>
                    <td>
                        <input type="number" id="connectedamount{{ data.id }}">
                        <select id="deposit{{ data.id }}" class="currency">
                            {% for c in currency %}
                                {% if c.value == 'KRW' %}
                                    <option selected value={{ c.value }}>{{ c.value }}</option>
                                {% else %}
                                    <option value="{{ c.value }}">{{ c.value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button onclick="ajax_set_connectedamount_connectedcurrency('{{ data.id }}','deposit{{ data.id }}','connectedamount{{ data.id }}')">
                            저장
                        </button>
                    </td>


                </tr>
            {% endfor %}
        {% else %}
            <td>{{ _("nodata") }}</td>
        {% endif %}
    </table>

    <script>

        $(function () {


            $("#search_ourcompanyno").autocomplete({

                source: '{% url 'message:searchinmaster' 1 %}',

                select: function (event, ui) {

                    //ajax_get_case_by_ourcomnum(ui.item.value)
                    $("#id_ourcomno").val(ui.item.value)
                    $("#transaction_search_form").submit()


                },

                focus: function (event, ui) {

                    return false;

                    //event.preventDefault();

                }

            });
        });
        $("#id_case")
            .change(function () {
                const caseid = $("select#id_case option:selected").val();
                ajax_get_finalrevenueinvoice_bycase(caseid)
            });
        $("#id_revenue_invoice")
            .change(function () {
                const revenue_invoice_id = $("select#id_revenue_invoice option:selected").val();

                ajax_link_transactionhistory_revenue_invoice('{{tranid}}', revenue_invoice_id)
            });
        $(document).ready(function () {
            $('.ui-autocomplete').load(function () {
                $(this).css('max-width', '300px')
            })

            $('#id_ourcomno').val('{{ ourcom }}')


        });

        function ajax_get_case_by_ourcomnum(ourcomno) {
            if (ourcomno == '') {

                return
            }
            $.ajax({
                url: '{% url 'case:getcaseandpatent_bypatentourcom' %}',
                data: {
                    'ourcomno': ourcomno,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {
                        if (data.case.length != 0) {
                            $('#id_case').find('option').remove()
                            $('#id_case').append('<option value="">------</option>')
                            for (var i = 0; i < data.case.length; i++) {

                                $('#id_case').append('<option value="' + data.case[i].id + '">' + data.case[i].caseNumber + '</option>')
                            }
                        } else {
                            alert('no case');
                        }
                        if (data.patent.length != 0) {

                            make_patent_table(data.patent)
                        }


                    } else {
                        alert(data.result);
                    }

                }
            });
        }


        function ajax_link_transactionhistory_revenue_invoice(tranid, invoiceid) {

            if (tranid === '' || invoiceid === '') {

                return
            }
            $.ajax({
                url: '{% url 'case:link_transactionhistory_revenueinvoice' %}',
                data: {
                    'tranid': tranid,
                    'invoiceid': invoiceid,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {
                        location.href = '{% url 'case:transactionhistory_detail' pk=123 %}'.replace(/123/,tranid)
                    } else {
                        alert(data.result);
                    }

                }
            });
        }

        function ajax_get_finalrevenueinvoice_bycase(caseid) {
            if (caseid === '') {

                return
            }
            $.ajax({
                url: '{% url 'case:getfinalrevenueinvoicebycase' %}',
                data: {
                    'caseid': caseid,
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {

                        var obj = JSON.parse(data.final_revenue_invoice);

                        if (data.final_revenue_invoice.length !== 0) {
                            $('#id_revenue_invoice').find('option').remove()
                            $('#id_revenue_invoice').append('<option value="">------</option>')

                            $('#id_revenue_invoice').append('<option value="' + obj[0].pk + '">' + obj[0].fields.ourCompanyClaimNumber + '</option>')

                        }

                    } else {
                        alert(data.result);
                    }

                }
            });

        }

        function ajax_set_connectedamount_connectedcurrency(depositinfoid, currencyid, connectedamountid) {
            if (depositinfoid === '' || currencyid === '' || connectedamountid === '') {

                return
            }

            const currency = $('#' + currencyid).val()
            const connectedamount = $('#' + connectedamountid).val()
            if (currency === '' || connectedamount === '') {

                alert('empty value')
                return
            }
            $.ajax({
                url: '{% url 'case:set_depositinfo' %}',
                data: {
                    'depositinfoid': depositinfoid,
                    'currency': currency,
                    'connectedamount': connectedamount
                },
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {

                        location.reload();

                    } else {
                        alert(data.result);
                    }

                }
            });

        }

        function make_patent_table(patent) {
            let table = '<table id="basictable">'
            for (var i = 0; i < patent.length; i++) {


                if (i === 0) {
                    if (patent[i].patentType === 'P' && patent[i].nationType === 'D') {
                        table += '<tr>' +
                            '<th>' + '{{ patent_multilang.state }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.ourCompanyNumber }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicationNumber }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.inventNameKor }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicants }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicationDate }}' + '</th>' +
                            '</tr>'
                    } else if (patent[i].patentType === 'P' && (patent[i].nationType === 'O' || patent[i].nationType === 'I')) {
                        table += '<tr>' +
                            '<th>' + '{{ patent_multilang.state }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.ourCompanyNumber }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.countryCode }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicationNumber }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.inventNameKor }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.inventNameOrigin }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicants }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicationDate }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.pctBaseApplication }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.oversea_agent }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.foreignAgentCode }}' + '</th>' +
                            '</tr>'
                    } else if (patent[i].patentType === 'T' && patent[i].nationType === 'D') {
                        table += '<tr>' +
                            '<th>' + '{{ patent_multilang.state }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.ourCompanyNumber }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicationNumber }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.brandImage }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.brandName }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.productClassification }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.designatedProductKor }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicants }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicationDate }}' + '</th>' +
                            '</tr>'
                    } else if (patent[i].patentType === 'T' && (patent[i].nationType === 'O' || patent[i].nationType === 'I')) {
                        table += '<tr>' +
                            '<th>' + '{{ patent_multilang.state }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.ourCompanyNumber }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.countryCode }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicationNumber }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.brandImage }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.brandName }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.productClassification }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.designatedProductOrigin }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.designatedProductKor }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicants }}' + '</th>' +
                            '<th>' + '{{ patent_multilang.applicationDate }}' + '</th>' +
                            '</tr>'
                    }
                }


                if (patent[i].patentType === 'P' && patent[i].nationType === 'D') {
                    table += '<tr>' +
                        '<td>' + patent[i].state + '</td>' +
                        '<td>' + patent[i].ourCompanyNumber + '</td>' +
                        '<td>' + patent[i].applicationNumber + '</td>' +
                        '<td>' + patent[i].inventNameKor + '</td>' +
                        '<td>' + patent[i].applicants + '</td>' +
                        '<td>' + patent[i].applicationDate + '</td>' +

                        '</tr>'
                } else if (patent[i].patentType === 'P' && (patent[i].nationType === 'O' || patent[i].nationType === 'I')) {
                    table += '<tr>' +
                        '<th>' + '{{ patent_multilang.state }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.ourCompanyNumber }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.countryCode }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicationNumber }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.inventNameKor }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.inventNameOrigin }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicants }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicationDate }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.pctBaseApplication }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.oversea_agent }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.foreignAgentCode }}' + '</th>' +
                        '</tr>'
                } else if (patent[i].patentType === 'T' && patent[i].nationType === 'D') {
                    table += '<tr>' +
                        '<th>' + '{{ patent_multilang.state }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.ourCompanyNumber }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicationNumber }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.brandImage }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.brandName }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.productClassification }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.designatedProductKor }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicants }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicationDate }}' + '</th>' +
                        '</tr>'
                } else if (patent[i].patentType === 'T' && (patent[i].nationType === 'O' || patent[i].nationType === 'I')) {
                    table += '<tr>' +
                        '<th>' + '{{ patent_multilang.state }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.ourCompanyNumber }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.countryCode }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicationNumber }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.brandImage }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.brandName }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.productClassification }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.designatedProductOrigin }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.designatedProductKor }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicants }}' + '</th>' +
                        '<th>' + '{{ patent_multilang.applicationDate }}' + '</th>' +
                        '</tr>'
                }

            }
            table += '</table>'
            $("#patentdiv").append(table);
        }

        function get_case_patent_info(ourcomno) {
            let formData = new FormData()
            formData.append('ourcomno', ourcomno)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fetch('{% url 'case:getcaseandpatent_bypatentourcom' %}', {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {

                        location.reload()
                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }
    </script>
{% endblock %}

