{% extends "case/casebase.html" %}
{% block content %}
    {{ block.super }}
    <h2>거래내역</h2>
     <table border="1" class="model_list basictable">
                <tr>
                    <th>
                        <input id="checkall" type="checkbox" value="">
                    </th>
                    <th>{{ _("edit") }}</th>

                        <th>{{ model_list.0.order }}</th>
                        <th>{{ model_list.0.transactionDate}}</th>
                        <th>{{ model_list.0.breifs }}</th>
                        <th>{{ model_list.0.recipient }}</th>
                        <th>{{ model_list.0.currency }}</th>
                        <th>{{ model_list.0.depositAmount }}</th>
                         <th>{{ model_list.0.withdrawalAmount }}</th>
                        <th>{{ model_list.0.balance }}</th>
                        <th>{{ model_list.0.type }}</th>
                        <th>{{ model_list.0.transactionOffice }}</th>
                        <th>{{ model_list.0.client_receiver }}</th>


                </tr>
                {% if model_list.1 %}
                    {% for data in model_list.1 %}
                        <tr class="clicktr" data-id="{% url 'case:transactionhistory_detail' data.id %}" id="">
                            <td class="checked">
                                <a href="JavaScript:deleteModel('{% url 'case:deletetransactionhistory' %}','{{ data.id }}');">삭제</a>
                            </td>
                            <td class="clicktrexcept">
                                <a href="JavaScript:newPopup('{% url 'case:edittransactionhistory' data.id %}');">{{ _("edit") }}</a>
                            </td>

                            <td>{{ data.order }}</td>
                            <td>{{ data.transactionDate|date:"Y-m-d H:i:s"  }}</td>
                            <td>{{ data.breifs }}</td>
                            <td>{{ data.recipient }}</td>
                            <td>{{ data.currency }}</td>

                            <td>{{ data.depositAmount }}</td>
                            <td>{{ data.withdrawalAmount }}</td>
                             <td>{{ data.balance }}</td>
                         <td>{{ data.type }}</td>
                        <td>{{ data.transactionOffice }}</td>
                        <td>{% for cm in data.client_receiver.all %}
                            {{ cm }}
                        {% endfor %}
                        </td>



                        </tr>
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>


            <span class="tableopt">
                <a class="btn btn-primary"
                   onclick="newPopup('{% url 'case:createtransactionhistory' %}')">{{ _("create") }}</a>
            </span>
            <br>
        </form>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
    <script>
     $(document).on("dblclick", "td", function () {
            var clickedBtnID = $(this).attr('class');
            if (clickedBtnID != 'clicktrexcept') {   //e.preventDefault();
                var did = $(this).parent().attr('data-id');
                location.href = did
            }

        });
    </script>
{% endblock %}