{% extends "People/peoplesbase.html" %}
{% block content %}
    {{ block.super }}

    <h2>{{_("clienttable")}}</h2>

    <div>
        <table border="1" class="client_list">
            <tr>
                <th>
                    <input id="checkall" type="checkbox" value="">
                </th>
                <th>{{_("edit")}}</th>
                <th>{{  model_list.0.code}}</th>
                <th>{{  model_list.0.past_id}}</th>
                <th>{{  model_list.0.creationDate}}</th>
                <th>{{  model_list.0.isCorporation}}</th>
                <th>{{  model_list.0.isCompany}}</th>
                <th>{{  model_list.0.originLastName}}</th>
                <th>{{  model_list.0.originFirstName}}</th>
                <th>{{  model_list.0.originFullName}}</th>
                <th>{{  model_list.0.originAddress}}</th>
                <th>{{  model_list.0.engLastName}}</th>
                <th>{{  model_list.0.engFirstName}}</th>
                <th>{{  model_list.0.engFullName}}</th>
                <th>{{  model_list.0.engAddress}}</th>
                <th>{{  model_list.0.korLastName}}</th>
                <th>{{  model_list.0.korFirstName}}</th>
                <th>{{  model_list.0.korFullName}}</th>
                <th>{{  model_list.0.korAddress}}</th>



            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr data-id="{{ data.id }}">
                        <td class="checked">
                           <a href="JavaScript:deleteModel('{% url 'People:delete_applicantinformation'%}')">삭제</a>
                        </td>
                        <td>
                            <a href="JavaScript:newPopup('{% url 'People:edit_applicantinformation' data.id %}');">{{_("edit")}}</a>
                        </td>
                     <td>{{ data.code }}</td>
                    <td>{{ data.past_id }}</td>
                    <td>{{ data.creationDate }}</td>
                    <td>{{ data.isCorporation }}</td>
                    <td>{{ data.isCompany }}</td>
                    <td>{{ data.originLastName }}</td>
                    <td>{{ data.originFirstName }}</td>
                    <td>{{ data.originFullName }}</td>
                    <td>{{ data.originAddress }}</td>
                    <td>{{ data.engLastName }}</td>
                    <td>{{ data.engFirstName }}</td>
                    <td>{{ data.engFullName }}</td>
                    <td>{{ data.engAddress }}</td>
                    <td>{{ data.korLastName }}</td>
                    <td>{{ data.korFirstName }}</td>
                    <td>{{ data.korFullName }}</td>
                    <td>{{ data.korAddress }}</td>


                    </tr>
                {% endfor %}
            {% else %}
                <td>{{_("nodata")}}</td>
            {% endif %}
        </table>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list1.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
        <span class="tableopt">
            <a class="btn btn-primary" onclick="newPopup('{% url 'People:create_applicantinformation' %}')">{{_("create")}}</a>
        </span>
    </div>

{% endblock %}