{% extends "People/peoplesbase.html" %}
{% block content %}
    {% load people_tags %}
    {{ block.super }}

    <h2>고객</h2>

    <div>
        <table border="1" class="client_list">
            <tr>
                <th>
                    <input id="checkall" type="checkbox" value="">
                </th>

                <th>{{ _("edit") }}</th>
                <th>{{ model_list.0.korCorporationName }}</th>
                <th>{{ model_list.0.manager }}</th>
                <th>{{ model_list.0.accounting_manager }}</th>
                <th>국내 특허출원</th>
                <th>해외 특허출원</th>
                <th>인커밍 특허출원</th>
                <th>국내 상표출원</th>
                <th>해외 상표출원</th>
                <th>인커밍 상표출원</th>
                <th>국내 디자인출원</th>
                <th>해외 디자인출원</th>
                <th>인커밍 디자인 출원</th>
                <th>컨설팅</th>


            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr data-id="{{ data.id }}">
                        <td class="checked">
                            <a href="JavaScript:deleteModel('{% url 'People:client_delete' %}','{{ data.id }}')">삭제</a>
                        </td>
                        <td>
                            <a href="JavaScript:newPopup('{% url 'People:client_edit' data.id %}');">{{ _("edit") }}</a>
                        </td>
                        <td><p>{{ data }}</p>
                        </td>
                        <td>{% for mg in data.manager.all %}
                            {{ mg }}
                        {% endfor %}
                        </td>
                        <td>{% for mg in data.accounting_manager.all %}
                            <p>{{ mg }}</p>
                        {% endfor %}
                        </td>

                        {% if current_client_type == 'Client' %}
                        <td>
                            {% get_count data.patent.all 'P' 'D' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'P' 'O' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'P' 'I' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'T' 'D' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'T' 'O' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'T' 'I' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'D' 'D' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'D' 'O' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'D' 'I' %}
                        </td>
                        <td>
                            {% get_count data.patent.all 'R' '' %}
                        </td>
                        {% elif current_client_type == 'OverseaAgent' %}
                            <td>
                                {% get_count data.oversea_agent.all 'P' 'D' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'P' 'O' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'P' 'I' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'T' 'D' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'T' 'O' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'T' 'I' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'D' 'D' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'D' 'O' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'D' 'I' %}
                            </td>
                            <td>
                                {% get_count data.oversea_agent.all 'R' '' %}
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}
            {% else %}
                <td>{{ _("nodata") }}</td>
            {% endif %}
        </table>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list1.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
        <span class="tableopt">
            <a class="btn btn-primary"
               onclick="newPopup('{% url 'People:client_create' %}?client_type={{ current_client_type }}')">{{ _("create") }}</a>
        </span>
    </div>

{% endblock %}