{% extends "People/peoplesbase.html" %}
{% block content %}
    {{ block.super }}



    <div>
        <table border="1" class="client_list">
            <tr>
                <th>
                    <input id="checkall" type="checkbox" value="">
                </th>
                <th>{{_("edit")}}</th>
                <th>이메일주소</th>
                <th>이름</th>

            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr data-id="{{ data.id }}">
                        <td class="checked">
                           <a href="JavaScript:deleteModel('{% url 'People:emailcontact_delete'%}')">삭제</a>
                        </td>
                        <td>
                            <a href="JavaScript:newPopup('{% url 'People:emailcontact_edit' data.id %}');">{{_("edit")}}</a>
                        </td>

                    <td>{{ data.email }}</td>
                    <td>{{ data.emailName }}</td>


                    </tr>
                {% endfor %}
            {% else %}
                <td>{{_("nodata")}}</td>
            {% endif %}
        </table>
      <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>

      <span class="tableopt">
            <a class="btn btn-primary" onclick="newPopup('{% url 'People:emailcontact_create' %}')">{{_("create")}}</a>
        </span>
    </div>

{% endblock %}