{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div>LOG IN STATUS</div>
        <a class="btn btn-primary" href="{% url 'People:logout' %}">Logout</a>
    {% else %}
    <form action="{% url 'People:login' %}" method="post">

        {% csrf_token %}
        Email ID
        <br>
        <input name="emailId" type="email">
        <br>

        Password
        <br>
        <input name="password" type="password">
    <br>
    <br>
      <a class="alert-danger">
        {% if errors %}
            {% for error in errors %}
                        <strong>{{ error|escape }}</strong>
            {% endfor %}
             </a>

        {% endif %}
        <br>
         <br>

        <input type="submit" class="btn btn-primary" value="Log In">
    </form>
    {% endif %}

{% endblock %}