{% extends "base.html" %}
{% block content %}
    <div class="container">
        {% block mainnav %}
             <div class="innernav">
             <span><a id="client"  href="{% url 'People:client' %}?ClientType=Client">{{_("client")}}</a></span>
                 <span><a id="oversea_agent"  href="{% url 'People:client' %}?ClientType=OverseaAgent">해외대리인</a></span>
                <span><a id="applicants"  href="{% url 'application_patent_domestic:applicant' %}">{{_("applicants")}}</a></span>

                 <span><a id="applicantinformation"  href="{% url 'People:applicantinformation' %}">출원인정보</a></span>

                <span><a id="person"  href="{% url 'People:person' %}">{{_("person")}}</a></span>
             <span><a id="maininventor"  href="{% url 'application_patent_domestic:inventorview' %}">발명자</a></span>
             <span><a id="agent" href="{% url 'application_patent_domestic:agentview' %}">에이전트</a></span>
             <span><a id="emailcontact"  href="{% url 'People:emailcontact' %}">이메일연락처</a></span>

           </div>
        {% endblock %}
    </div>
{% endblock %}