{% extends "People/peoplesbase.html" %}
{% block content %}
    {{ block.super }}

    <h2>사람</h2>

    <div>
        <table border="1" class="model_list basictable">
            <tr>
                <th>
                    <input id="checkall" type="checkbox" value="">
                </th>

                <th>{{ _("edit") }}</th>
                <th>{{ model_list.0.companyName }}</th>
                <th>성명</th>
                <th>이메일주소</th>
                <th>{{ model_list.0.department }}</th>
                <th>{{ model_list.0.position }}</th>
                <th>{{ model_list.0.phoneNumber }}</th>
                <th>{{ model_list.0.companyPhoneNumber }}</th>


            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr data-id="{% url 'People:person_detail' data.id %}">
                        <td class="clicktrexcept">
                            <a href="JavaScript:deleteModel('{% url 'People:person_delete' %}','{{ data.id }}')">삭제</a>
                        </td>
                        <td class="clicktrexcept">
                            <a href="JavaScript:newPopup('{% url 'People:person_edit' data.id %}');">{{ _("edit") }}</a>
                        </td>

                        <td>{% for client in data.company.all %}
                            {{ client }}
                        {% endfor %}
                        </td>
                        <td>
                            {{ data }}
                        </td>
                        <td>{% for em in data.workemail_person.all %}
                            <p>{{ em }} <button class="btn btn-primary" onclick="unlink_person_email('{{ em.id }}')">unlink</button></p>
                        {% endfor %}

                            <div>
         <span class="ui-widget">
        <label for="search_email">이메일검색: </label>
        <input class="search_email" id="{{ data.id }}">
    </span>
                                <form method="post" action="{% url 'People:workemail_save_peson_link' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk" value="{{ data.id }}">
                                    <br>
                                    <label>직접 입력</label>
                                    <br>
                                    <span>
                                    <label>주소</label>
                                    <input type="email" name="email">
                                    </span>
                                    <br>
                                    <span>
                                    <label>이름</label>
                                    <input type="text" name="name">
                                    <p><input type="submit" value="저장"></p>
                                </span>
                                </form>
                            </div>
                        </td>
                        <td>{{ data.department }}</td>
                        <td>{{ data.position }}</td>
                        <td>{{ data.phoneNumber }}</td>
                        <td>{{ data.companyPhoneNumber }}</td>


                    </tr>
                {% endfor %}
            {% else %}
                <td>{{ _("nodata") }}</td>
            {% endif %}
        </table>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
        <span class="tableopt">
            <a class="btn btn-primary" onclick="newPopup('{% url 'People:person_create' %}')">{{ _("create") }}</a>

        </span>
    </div>
    <style>
        .ui-autocomplete {
            max-width: 300px !important;
            max-height: 600px;
            overflow-y: auto; /* prevent horizontal scrollbar */
            overflow-x: hidden; /* add padding to account for vertical scrollbar */
            z-index: 1000 !important;
        }
    </style>
    <script>

        $(document).on("dblclick", "td", function () {

            var clickedBtnID = $(this).attr('class');
            if (clickedBtnID != 'clicktrexcept') {   //e.preventDefault();
                var did = $(this).parent().attr('data-id');
                MoveLocation(did);
            }

        });
        function unlink_person_email(pk) {

            $.ajax({
                url: '{% url 'People:workemail_peson_unlink' %}',
                data: {'pk': pk},
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {
                        location.reload();

                    } else {
                        alert(data.result);
                    }

                }
            });
        }

        function link_person_email(workemail, pk) {

            $.ajax({
                url: '{% url 'People:person_workemail_link' %}',
                data: {'workemail': workemail, 'pk': pk},
                type: 'GET',
                dataType: 'json',
                success: function (data) {

                    if (data.state == 'success') {
                        location.reload();

                    } else {
                        alert(data.result);
                    }

                }
            });
        }

        $(function () {


            $(".search_email").autocomplete({

                source: '{% url 'People:person_workemail_search' %}',

                select: function (event, ui) {

                    var pid = $(this).attr('id')
                    console.log(pid)
                    link_person_email(ui.item.value, pid)


                },

                focus: function (event, ui) {

                    return false;

                    //event.preventDefault();

                }

            });
        });
    </script>
{% endblock %}