{% extends "People/peoplesbase.html" %}
{% block content %}
    {{ block.super }}

    <h2>사람 세부정보</h2>

    <div>
        <table border="1" class="person_list">
            <tr>
                <th>{{ model_list.0.companyName }}</th>
                <th>성명</th>
                <th>이메일주소</th>
                <th>{{ model_list.0.department }}</th>
                <th>{{ model_list.0.position }}</th>
                <th>{{ model_list.0.phoneNumber }}</th>
                <th>{{ model_list.0.companyPhoneNumber }}</th>


            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr>

                        <td>{% for client in data.company.all %}
                            {{ client }}
                        {% endfor %}
                        </td>
                        <td>
                            {{ data }}
                        </td>
                        <td>{% for em in data.workemail_person.all %}
                            {{ em.email }}
                        {% endfor %}
                        </td>
                        <td>{{ data.department }}</td>
                        <td>{{ data.position }}</td>
                        <td>{{ data.phoneNumber }}</td>
                        <td>{{ data.companyPhoneNumber }}</td>


                    </tr>
                {% endfor %}
            {% else %}
                <td>{{ _("nodata") }}</td>
            {% endif %}
        </table>
    </div>
    <div>
    <p>메시지 리스트</p>
      <table border="1" class="model_list basictable">
            <colgroup>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="60%"/>
                <col width="10%"/>
            </colgroup>
                <tr>
                    {% if email_multilanguage %}
                        <th>파일이름</th>
                        <th>{{ email_multilanguage.fromEmail }}</th>
                        <th>{{ email_multilanguage.to_person }}</th>
                        <th>{{ email_multilanguage.subject }}</th>
                        <th>{{ email_multilanguage.sentDate }}</th>



                    {% endif %}
                </tr>
                {% if message_list.1 %}
                    {% for data in message_list.1 %}
                        <tr data-id="{{ data.email.id }}" onclick="window.location.href='{% url "emailsystem:email_content" data.email.id %}'">
                        <td>{{ data.email.emailFileName }}</td>
                            <td>{{ data.email.fromEmail.email }}</td>
                        <td>{% for to in data.email.to_person.all %}
                            <p>{{ to.emailName }}</p>
                            {% endfor %}
                            </td>
                            <td>{{ data.email.subject }}</td>

                            <td>{{ data.email.sentDate }}</td>
                            </td>


                        </tr>
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>
    <br>
    <span class="pagination">
        <span class="step-links">
        {% with message_list.1 as page_model %}

        {% if page_model.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ page_model.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ page_model.number }} of {{ page_model.paginator.num_pages }}.
        </span>
        {% for pn in page_model.paginator.customrange %}
                {% if pn == page_model.number %}
                    <strong><a href="?page={{pn}}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{pn}}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if page_model.has_next %}
                <a href="?page={{ page_model.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ page_model.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        {% endwith %}
        </span>
            </span>
    </div>
    <script>
    </script>
{% endblock %}