{% extends 'patentro/patentro_base.html' %}
{% block content %}
    {{ block.super }}

    <form method="POST" action="">

        {% csrf_token %}
        {{ form.as_p }}
        <input type=submit value="호출">
    </form>

    <br><br>
    {% for key, value in result.items %}
        {% if key == 'resultListData' %}
            {% for resultD in value %}
                {% for k, v in resultD.items %}
                    <p>{{ k }} : {{ v }}</p>
                    <br>
                {% endfor %}
            {% endfor %}
            {% else %}
            <p>{{ key }} : {{ value }}</p>
        <br>
        {% endif %}
    {% endfor %}
{% endblock %}