{% extends 'patentro/patentro_base.html' %}
{% block content %}
    {{ block.super }}

{% if api_list %}

        {% for api in api_list %}
            <div>
                <span><label>{{ api.func_no }}</label><a href="{% url 'patentro:patentroapidetail' api.func_no %}">{{ api.service_name }}</a></span>
            </div>
        {% endfor %}

{% endif %}
{% endblock %}