{% extends 'patentro/patentro_base.html' %}
{% block content %}
    {{ block.super }}

    <form method="post" action="{% url 'patentro:patentro_api_setting' %}">
    {% csrf_token %}
        <input type="hidden" name="pk" value="{{ model.id }}">
    {{ form.as_p }}
    <input type="submit" value="저장" class="btn btn-primary">
    </form>

{% endblock %}