{% extends "base.html" %}
{% block content %}


    <div class="container">

        <div class="innernav">
            <span>
                <a id="patentro" href="{% url 'patentro:patentroapilist' %}">Patent Ro</a></span>
               <span> <a id="patentro_setting" href="{% url 'patentro:patentro_api_setting' %}">Patent Ro Setting</a></span>

        </div>

    </div>
{% endblock %}