{% extends "emailsystem/emailsystembase.html" %}
{% block content %}
    {{ block.super }}

    <h2>이메일메시지</h2>
    <div>미분류: {{ classifiedcount }}</div>

      <form action="{% url 'message:searchemailmessage' %}" method="get">
            {% csrf_token %}
            <select name="SearchColumn" id="SelectList">
                <option value="subject" selected>제목</option>
                <option value="body">본문</option>


            </select>
            <input id="search" name="Search" type="text" placeholder="Search..."
                   value="{{ searchtxt }}"> <input name="searchbtn" type="submit" value="{{ _("search") }}">
      </form>
    <br>
    <div style="display: flex;">
    <span>
 <label>받는사람</label><br>

    <form action="{% url 'message:emailmessage' %}" method="post">
    {% csrf_token %}
     <input type="radio" class="to_input" id="to_all" name="toemail" value="to_all" {% if not selectedto %} checked {% endif %}>
    <label for="all">all</label><br>
    {% for to in toemail %}
        <input type="radio" class="to_input" id="{{ to.id }}"  name="toemail" value="{{ to.email }}">
     <label for="{{ to.id }}">{{ to.email }}</label><br>
    {% endfor %}
    </form>
    </span>


    <span >
         <label>보낸사람</label><br>
     <form  action="{% url 'message:emailmessage' %}" method="post">
    {% csrf_token %}
     <input type="radio" class="from_input" id="from_all" name="fromemail" value="from_all" {% if not selectedfrom %} checked {% endif %}>
    <label for="all">all</label><br>
    {% for from in fromemail %}
        <input type="radio" class="from_input" id="{{ from.id }}"  name="fromemail" value="{{ from.email }}">
     <label for="{{ from.id }}">{{ from.email }}</label><br>
    {% endfor %}
    </form>
    </span>
    <span >
         <label>분류형식</label><br>
     <form  action="{% url 'message:emailmessage' %}" method="post">
    {% csrf_token %}
     <input type="radio" class="classification_input" id="classification_all" name="classificationemail" value="classification_all" {% if not selectedclassification %} checked {% endif %}>
     <label for="classification_all">all</label><br>
     <input type="radio" class="classification_input" id="classification_not" name="classificationemail" value="classification_not">
     <label for="classification_not">미분류</label><br>
     <input type="radio" class="classification_input" id="classification" name="classificationemail" value="classification" >
     <label for="classification">분류(Exist relation)</label><br>
     <input type="radio" class="classification_input" id="classification_norelation" name="classificationemail" value="classification_norelation" >
     <label for="classification_norelation">분류(No relation)</label><br>


    </form>
    </span>
     <span >
         <label>세금계산서</label><br>
     <form  action="{% url 'message:emailmessage' %}" method="post">
    {% csrf_token %}
     <input type="radio" class="taxinvoice_input" id="taxinvoice_all" name="taxinvoice" value="taxinvoice_all" {% if not selectedtaxinvoice %} checked {% endif %}>
     <label for="taxinvoice_all">all</label><br>
     <input type="radio" class="taxinvoice_input" id="taxinvoice_hasinvoice" name="taxinvoice" value="taxinvoice_hasinvoice">
     <label for="taxinvoice_hasinvoice">세금계산서</label><br>
     <input type="radio" class="taxinvoice_input" id="taxinvoice_hasinvoicexml" name="taxinvoice" value="taxinvoice_hasinvoicexml" >
     <label for="taxinvoice_hasinvoicexml">세금계산서 + xml</label><br>


    </form>
    </span>
    <span >
         <label>이메일 타입</label><br>
     <form  action="{% url 'message:emailmessage' %}" method="post">
    {% csrf_token %}
     <input type="radio" class="emailtype_input" id="emailtype_all" name="emailtype" value="emailtype_all" {% if not selectedemailtype %} checked {% endif %}>
     <label for="emailtype_all">all</label><br>
     <input type="radio" class="emailtype_input" id="emailtype_realtime" name="emailtype" value="emailtype_realtime">
     <label for="emailtype_realtime">실시간</label><br>
     <input type="radio" class="emailtype_input" id="emailtype_file" name="emailtype" value="emailtype_file" >
     <label for="emailtype_file">파일</label><br>


    </form>
    </span>
    <span><a class="btn btn-primary" href="{% url 'message:classifyingallmsg' %}">전체확정</a></span>
    </div>
    <br>

        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>
{% for pn in model_list.1.paginator.customrange %}
                {% if pn == model_list.1.number %}
                    <strong><a href="?page={{pn}}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{pn}}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
    <div>
        <table border="1" class="emalimsgtable model_list basictable" >
         <colgroup>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="50%"/>
             <col width="10%"/>
             <col width="10%"/>
            </colgroup>
            <tr>
                {% if model_list.0 %}
                    <th>{{ model_list.0.master_message }}</th>
                    <th>보낸날짜</th>
                    <th>보낸사람</th>
                    <th>제목</th>
                    <th>첨부파일</th>
                    <th>확정체크</th>


                {% endif %}
            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <p hidden id="p{{data.id}}" class="{% url 'emailsystem:email_content' data.email.id  %}"></p>
                    <tr data-id="{{ data.id }}" >
                        <td class="clicktrexcept">
                            <button class="btn-primary btn" id="{{ data.id }}" onclick="popupdialogbox(this,'{% url 'message:searchmasterinemailmessage' data.id %}')">ADD
                            </button>
                            {% if data.master_message.all %}
                                {% for master_message in data.master_message.all %}
                                <p>출원번호: {{ master_message.applicationNumber }}, 당소번호: {{ master_message.ourCompanyNumber }}</p>
                                    <a class="btn-danger btn" onclick="deleterelation('{% url "message:dellinkpatentmastermessage" %}',{{ data.id }},{{ master_message.id }})">delete</a>
                                {% endfor %}
                            {% else %}
                                <br>None
                            {% endif %}

                        </td>
                        <td>{{ data.email.sentDate }}</td>
                        <td>
                            {{ data.email.fromEmail }}
                        </td>
                        <td title="{{ data.email.textBody }}">{{ data.email.subject }}

                        </td>
                        <td class="clicktrexcept">


                            {% for file in data.email.email_file.all %}
                                <a href="{{ file.path.url  }}">{{ file.originFileName }}</a><br>
                            {% endfor %}
                        <br>
                            <button class="btn btn-primary" onclick="JavaScript:newPopup('{% url 'message:addattachmentdraganddropview' data.id %}');">add</button>
                        </td>
                        <td  class="clicktrexcept">
                            <p>확정 여부 :{{ data.isClassified }}</p>
                            <button {% if data.isClassified %}class="btn btn-danger"{% else %}class="btn btn-primary"{% endif %} onclick="setClassfied({{ data.id }})">{% if data.isClassified %}미확정{% else %}확정{% endif %}
                            </button>
                        </td>

                    </tr>
                {% endfor %}
            {% else %}
                <td>{{ _("nodata") }}</td>
            {% endif %}
        </table>


        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>
            {% for pn in model_list.1.paginator.customrange %}
                {% if pn == model_list.1.number %}
                    <strong><a href="?page={{pn}}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{pn}}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
    </div>


    <div id="dialog">

    </div>



    <script type="text/javascript">

 function setClassfied(msgid)
 {
     let formData = new FormData()
                        formData.append('msgid', msgid)
                        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                        fetch('{% url 'message:setclassfied' %}', {
                            method: 'POST',
                            body: formData,
                            credentials: 'same-origin',
                        })
                            .then(response => {

                                    location.reload()
                                }
                            )
                            .catch(() => {
                                alert('fail')
                            })
 }
 function deleterelation(url, msgid, masterid)
    {
         let formData = new FormData()
                        formData.append('msgid', msgid)
                        formData.append('masterid', masterid)
                        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                        fetch(url, {
                            method: 'POST',
                            body: formData,
                            credentials: 'same-origin',
                        })
                            .then(response => {

                                    location.reload()
                                }
                            )
                            .catch(() => {
                                alert('fail')
                            })
    }
    function popupdialogbox(e, url)
    {
         let target = $(e)

                var yourPosition = {
                    my: "center top",
                    at: "center bottom",
                    of: target
                };

                //$( "#dialog" ).dialog( "option", "position", yourPosition );

                $("#dialog").dialog({position: yourPosition});
                $("#dialog").load(url);
                $("#dialog").dialog("open");
    }
        $(function () {

            $( document ).tooltip();


            $("#dialog").dialog({
                autoOpen: false, //자동으로 열리지않게

                //"center", "left", "right", "top", "bottom"
                modal: true, //모달대화상자
                resizable: false, //크기 조절 못하게
                buttons: {
                    "확인": function () {
                        var pid = $('#pid').text()
                        let formData = new FormData()
                        formData.append('pid', pid)
                        formData.append('searchContent', $("#selecteditem").text())
                        formData.append('searchType', $("#selecteditem").attr('class'))
                        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                        fetch('{% url 'message:linkpatentmastermessage' %}', {
                            method: 'POST',
                            body: formData,
                            credentials: 'same-origin',
                        })
                            .then(response => {

                                    location.reload()
                                }
                            )
                            .catch(() => {
                                alert('fail')
                            })


                        $(this).dialog("close");

                    }, "취소": function () {
                        $(this).dialog("close");

                    }
                }
            });

            //창 열기 버튼을 클릭했을경우


        });


        $(document).ready(function () {

                var value = "{{selectedto}}";
                var inputs = document.getElementsByClassName('to_input');
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value == value) {
                        inputs[i].checked = true;
                    }
                }

                var value = "{{selectedfrom}}";
                var inputs = document.getElementsByClassName('from_input');
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value == value) {
                        inputs[i].checked = true;
                    }
                }
                var value = "{{selectedclassification}}";
                var inputs = document.getElementsByClassName('classification_input');
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value == value) {
                        inputs[i].checked = true;
                    }
                }
                 var value = "{{selectedtaxinvoice}}";
                var inputs = document.getElementsByClassName('taxinvoice_input');
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value == value) {
                        inputs[i].checked = true;
                    }
                }
                 var value = "{{selectedemailtype}}";
                var inputs = document.getElementsByClassName('emailtype_input');
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value == value) {
                        inputs[i].checked = true;
                    }
                }



               $('input[type=radio]').on('change', function() {
                $(this).closest("form").submit();
            });

                 $(document).on("click","td", function () {
           var clickedBtnID = $(this).attr('class');
           if (clickedBtnID != 'clicktrexcept')
            {   //e.preventDefault();
                var did = $(this).parent().attr('data-id');
                urls = $("#p"+did).attr('class');
                location.href = urls
            }

        });

        });


    </script>
{% endblock %}