<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static "css/common/fileupload.css" %}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
<input class="addattachurl" hidden id="{% url 'message:addattachment' pk %}">
 <div id="drop-area">
        <form class="my-form">
            {% csrf_token %}
            <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed
                region</p>
        </form>
        <div id="gallery"></div>
        <progress id="progress-bar" max=100 value=0></progress>
    </div>
</body>

<script type="text/javascript">







        function preventDefaults(e) {
            e.preventDefault()
            e.stopPropagation()
        }

        function highlight(e) {
            dropArea.classList.add('highlight')
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight')
        }


        function handleDrop(e) {
            let dt = e.dataTransfer
            let files = dt.files

            handleFiles(files)
        }

        function handleFiles(files) {
            files = [...files]
            initializeProgress(files.length)
            uploadFile(files)
            //files.forEach(previewFile)
        }


        function uploadFile(files) {
            //let url = 'http://127.0.0.1:8000/emailsystem/emailuploading'


            var uploadurl = $('.addattachurl').attr('id')

            let formData = new FormData()

            for (var i=0; i<files.length; i++)
                {
                    formData.append('files[]', files[i])
                }
            formData.append('csrfmiddlewaretoken', $('#csrf-helper input[name="csrfmiddlewaretoken"]').attr('value'));
            fetch(uploadurl, {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response  =>
            {
                window.close(); window.opener.location.reload()
                //location.reload()
            }
        )
        .
            catch(() => { alert('fail')
            })
        }

        function uploadFile1(file) {
            var url = 'YOUR URL HERE'
            var xhr = new XMLHttpRequest()
            var formData = new FormData()
            xhr.open('POST', url, true)

            // Add following event listener
            xhr.upload.addEventListener("progress", function (e) {
                updateProgress(i, (e.loaded * 100.0 / e.total) || 100)
            })

            xhr.addEventListener('readystatechange', function (e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Done. Inform the user
                } else if (xhr.readyState == 4 && xhr.status != 200) {
                    // Error. Inform the user
                }
            })

            formData.append('file', file)
            xhr.send(formData)
        }

        function previewFile(file) {
            let reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onloadend = function () {
                let img = document.createElement('img')
                img.src = reader.result
                document.getElementById('gallery').appendChild(img)
            }
        }


        function progressDone() {
            filesDone++
            progressBar.value = filesDone / filesToDo * 100
        }


        function initializeProgress(numFiles) {
            progressBar.value = 0
            uploadProgress = []

            for (let i = numFiles; i > 0; i--) {
                uploadProgress.push(0)
            }
        }

        function updateProgress(fileNumber, percent) {
            uploadProgress[fileNumber] = percent
            let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
            progressBar.value = total
        }


         let dropArea = document.getElementById('drop-area')
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)

            ;['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, highlight, false)
            })

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, unhighlight, false)
            })

            dropArea.addEventListener('drop', handleDrop, false)
        })

        let filesDone = 0
        let filesToDo = 0
        let progressBar = document.getElementById('progress-bar')
    </script>
</html>