{% extends "base.html" %}
{% block content %}


    <div class="container">
        <div class="innernav"></div>

        </div>
    <h2>메시지</h2>

    <div>
        <table border="1" class="model_list">
            <tr>
                <th>
                    <input id="checkall" type="checkbox" value="">
                </th>
                <th>{{ _("edit") }}</th>
                {% if model_list.0 %}

                    <th>{{ model_list.0.type }}</th>
                    <th>{{ model_list.0.user }}</th>
                    <th>{{ model_list.0.state }}</th>
                    <th>{{ model_list.0.createdDate }}</th>
                    <th>{{ model_list.0.modifiedDate }}</th>
                    <th>{{ model_list.0.master_message }}</th>
                    <th>{{ model_list.0.case }}</th>
                    <th>{{ model_list.0.task }}</th>
                    <th>{{ model_list.0.email }}</th>
                    <th>{{ model_list.0.patent_docu }}</th>
                    <th>{{ model_list.0.basic_message }}</th>
                    <th>{{ model_list.0.isClassified }}</th>

                {% endif %}

            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr class="clicktr" data-id="{{ data.id }}">
                       <td class="checked">
                                <a href="JavaScript:deleteModel('{% url 'message:delete_messagemgr' %}','{{ data.id }}');">삭제</a>
                            </td>
                            <td class="clicktrexcept">
                                <a href="JavaScript:newPopup('{% url 'message:edit_messagemgr' data.id %}');">{{ _("edit") }}</a>
                            </td>


                        <td>{{ data.type }}</td>
                        <td>{% for d in data.user.all %}
                            {{ d.username }}
                            {% endfor %}
                            </td>
                        <td>{{ data.state }}</td>
                        <td>{{ data.createdDate }}</td>
                        <td>{{ data.modifiedDate }}</td>
                        <td>{% for d in data.master_message.all %}
                            {{ d }}
                            {% endfor %}</td>
                        <td>{% for d in data.case.all %}
                            {{ d }}
                            {% endfor %}</td>
                    <td>{% for d in data.task.all %}
                            {{ d }}
                            {% endfor %}</td>
                        <td>{{ data.email.emailId }}</td>
                        <td>{{ data.patent_docu.docuCode }}</td>
                        <td>{{ data.basic_message.title }}</td>
                        <td>{{ data.isClassified }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <td>{{ _("nodata") }}</td>
            {% endif %}
        </table>
     <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list1.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
        <span class="tableopt">
            <a class="btn btn-primary" onclick="newPopup('{% url 'message:create_messagemgr' %}')">{{_("create")}}</a>
        </span>
    </div>

{% endblock %}