{% extends "message/patentdocubase.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/message/messages.css" %}">
    <script>
  function hideAndshowGrid(elementID) {
    var x = document.getElementById(elementID);
    if (x.style.display === 'none') {
        x.style.display = 'grid';
    } else {
        x.style.display = 'none';
    }
}
    </script>
    {{ block.super }}

    {% for data in application_patent_domestic %}
        <div class="gridmain">
        <div class="mainheader" onclick="hideAndshowGrid({{ data.id }})" >{{data.applicationNumber}}</div>
        <div class="grid-container" id="{{ data.id }}">
            <div class="item1" >Header</div>
            <div class="item2">Menu</div>
            <div class="item3">Main</div>
            <div class="item4">Right</div>
            <div class="item5">Footer</div>
        </div>
        </div>
    {% endfor %}


{% endblock %}