{% extends "message/patentdocubase.html" %}
{% block content %}
    {{ block.super }}
    <h2>통지서메시지</h2>

    <div>
        <table border="1" class="model_list basictable">
            <tr>
                {% if model_list.0 %}
                    <th>{{ model_list.0.master_message }}</th>
                    <th>{{ model_list.0.case }}</th>
                    <th>patent</th>
                    <th>{{ Patent_Document_multilang.docuCode }}</th>
                    <th>{{ Patent_Document_Attachment_multilang.sendDocuName }}</th>
                    <th>{{ Patent_Document_multilang.receiptSendCode }}</th>
                    <th>{{ Patent_Document_Attachment_multilang.deadLineDate }}</th>
                    <th>첨부문서</th>


                {% endif %}
            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr data-id="{{ data.id }}">
                        <td>
                            <button class="btn btn-primary" id="{{ data.id }}"
                                    onclick="btnclick(this,'{% url 'message:searchmasterinemailmessage' data.id %}')">
                                ADD
                            </button>
                            {% if data.master_message.all %}
                                {% for master_message in data.master_message.all %}
                                    <p>{{ master_message.applicationNumber }}</p><a class="btn btn-danger"
                                                                                    onclick="deleterelation('{% url 'message:dellinkpatentmastermessage' %}',{{ data.id }},{{ master_message.id }})">delete</a>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}

                        </td>
                        <td> {% if data.master_message.all %}
                            <a class="btn btn-primary"
                               href="JavaScript:newPopup('{% url 'case:customcasepopupform' data.id %}?type=patent')">사건추가</a>
                        {% endif %}
                        </td>
                        <td>
                           <table class="table-bordered" style="table-layout: fixed; width: 850px; overflow: auto">
                            {% for master in data.master_message.all %}


                                    {% if forloop.first %}
                                        {% include 'forinclude/patent/patent_simpleinfo_th.html' with h=masterfield_multiplelang patent=master.patentType nation=master.nationType %}
                                    {% endif %}
                                    {% include 'forinclude/patent/patent_simpleinfo_td.html' with data=master patent=master.patentType nation=master.nationType %}

                            {% endfor %}
                      </table>

                        </td>
                        <td>{{ data.patent_docu.docuCode }}</td>
                        <td>
                            {% for attach in data.patent_docu.patentofficedocu_attachment.all %}
                                {{ attach.sendDocuName }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {{ data.patent_docu.receiptSendCode }}
                        </td>
                        <td>
                            {% for attach in data.patent_docu.patentofficedocu_attachment.all %}
                                {{ attach.deadLineDate }}<br>
                            {% endfor %}
                        </td>
                        <td>


                            {% for file in data.patent_docu.patentofficedocu_attachment.all %}
                                {% if file.parent %}
                                    <p>child</p>
                                {% endif %}
                                <a href="{{ file.path.url }}">{{ file.sendDocuName }}</a>

                            {% endfor %}

                        </td>


                    </tr>
                {% endfor %}
            {% else %}
                <td>{{ _("nodata") }}</td>
            {% endif %}
        </table>


        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>
            {% for pn in model_list.1.paginator.customrange %}
                {% if pn == model_list.1.number %}
                    <strong><a href="?page={{ pn }}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{ pn }}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
    </div>


    <div id="dialog">

    </div>



    <script type="text/javascript">

        function setClassfied(msgid) {
            let formData = new FormData()
            formData.append('msgid', msgid)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fetch('{% url 'message:setclassfied' %}', {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {

                        location.reload()
                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }

        function deleterelation(url, msgid, masterid) {
            let formData = new FormData()
            formData.append('msgid', msgid)
            formData.append('masterid', masterid)
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            fetch(url, {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {

                        location.reload()
                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }

        function btnclick(e, url) {
            let target = $(e)

            var yourPosition = {
                my: "center top",
                at: "center bottom",
                of: target
            };

            //$( "#dialog" ).dialog( "option", "position", yourPosition );

            $("#dialog").dialog({position: yourPosition});
            $("#dialog").load(url);
            $("#dialog").dialog("open");
        }

        $(function () {


            $("#dialog").dialog({
                autoOpen: false, //자동으로 열리지않게

                //"center", "left", "right", "top", "bottom"
                modal: true, //모달대화상자
                resizable: false, //크기 조절 못하게
                buttons: {
                    "확인": function () {

                        var pid = $('#pid').text()
                        let formData = new FormData()
                        formData.append('pid', pid)
                        formData.append('searchContent', $("#selecteditem").text())
                        formData.append('searchType', $("#selecteditem").attr('class'))
                        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                        fetch('{% url 'message:linkpatentmastermessage' %}', {
                            method: 'POST',
                            body: formData,
                            credentials: 'same-origin',
                        })
                            .then(response => {

                                    location.reload()
                                }
                            )
                            .catch(() => {
                                alert('fail')
                            })


                        $(this).dialog("close");

                    }, "취소": function () {
                        $(this).dialog("close");

                    }
                }
            });

            //창 열기 버튼을 클릭했을경우


        });


        $(document).ready(function () {


        });


    </script>
{% endblock %}