{% extends "message/patentdocubase.html" %}
{% block content %}
    {{ block.super }}
    <style>
        .ui-autocomplete {
            max-width: 300px !important;
            max-height: 600px;
            overflow-y: auto; /* prevent horizontal scrollbar */
            overflow-x: hidden; /* add padding to account for vertical scrollbar */
            z-index: 1000 !important;
        }
    </style>
    <h2>통지서제출문서 업로드</h2>

    <div id="drop-area">
        <form class="my-form">
            {% csrf_token %}
            <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed
                region</p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
            <label class="button" for="fileElem">Select some files</label>
        </form>
        <div id="gallery"></div>
        <progress id="progress-bar" max=100 value=0></progress>
    </div>

    <input type="file" onchange="getfolder(event)" id="ctrl" webkitdirectory directory/>
    <br>
    <br>
    <form action="{% url 'message:patentdocusubmitupload' %}" method="post" id="patentdocusubmitupload_form">
        {% csrf_token %}

        <div>
         <span class="ui-widget">
        <label for="search_ourcompanyno">당소번호검색: </label>
        <input id="search_ourcompanyno">
    </span>
        </div>
        <span><label>당소번호 : </label>




        <input type="text" name="ourcomno" id="ourcomno" readonly value="{{ patent_list.0.ourCompanyNumber }}">
        <input type="submit" class="btn btn-primary" value="sync">
    </span>
    </form>
    <lable id="filename">{{ file_name }}</lable>
    <br>
    <br>
    <h3>조회 정보</h3>
    <div id="master">
        {% if patent_list %}
            <table class="basictable">
                <thead>
                <tr>
                    <th>{{ masterfield_multiplelang.state }}</th>
                    <th>{{ masterfield_multiplelang.ourCompanyNumber }}</th>
                    <th>{{ masterfield_multiplelang.applicationNumber }}</th>
                    <th>{{ masterfield_multiplelang.inventNameKor }}</th>
                    <th>{{ masterfield_multiplelang.applicants }}</th>
                    <th>{{ masterfield_multiplelang.applicationDate }}</th>
                </tr>
                </thead>
                <tbody>
                {% for patent in patent_list %}
                    <tr>
                        <td>{{ patent.state }}</td>
                        <td>{{ patent.ourCompanyNumber }}</td>
                        <td>{{ patent.applicationNumber }}</td>
                        <td>{{ patent.inventNameKor }}</td>
                        <td>{% for applicant in patent.applicants.all %}
                            {{ applicant }}
                        {% endfor %}</td>
                        <td>{{ patent.applicationDate | date:'Y-m-d' }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        {% endif %}
    </div>

    </div>


    <script type="text/javascript">

      $(document).ready(function () {
            $("#patentdocusubmitupload_form").submit(function (){

                if ($("#ourcomno").val() === "")
                {
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
            })

        });
        $(function () {


            $("#search_ourcompanyno").autocomplete({

                source: '{% url 'message:searchinmaster' 1 %}',

                select: function (event, ui) {

                    $("#ourcomno").val(ui.item.value)

                    ajax_get_patent(ui.item.value)

                },

                focus: function (event, ui) {

                    return false;

                    //event.preventDefault();

                }

            });
        });

        function getfolder(e) {

            var files = e.target.files;
            files = [...files]
            uploadFile(files)

        }

        let uploadurl = '{% url 'message:patentsubmitdocu_uploading' %}'


        function preventDefaults(e) {
            e.preventDefault()
            e.stopPropagation()
        }

        function highlight(e) {
            dropArea.classList.add('highlight')
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight')
        }


        function handleDrop(e) {
            let dt = e.dataTransfer
            let files = dt.files
            handleFiles(files)
        }

        function handleFiles(files) {
            files = [...files]
            initializeProgress(files.length)
            //uploadFile(files)
            ajax_upload_file(files)

            //files.forEach(previewFile)
        }

        function post(files) {


            const form = document.createElement('form');
            form.method = 'post';
            form.action = uploadurl;
            var f = files[0]


            //form.appendChild('{{ csrf_token }}');


            const hiddenField = document.createElement('input');
            hiddenField.type = 'file';

            hiddenField.className = 'hiddeninput'
            hiddenField.name = 'myfile';

            form.appendChild(hiddenField);


            $(".hiddeninput input[type='file']").prop("files", files);
            document.body.appendChild(form);
            form.submit();
        }

        function ajax_get_patent(ourcomno) {


            $.ajax({
                url: '{% url 'message:patentsubmitdocu_patent_get' %}',
                data: {'ourcomno': ourcomno},
                type: 'GET',

                success: function (data) {
                    if (data.state === 'success') {
                        $("#master").empty();
                        var tds = ''
                        var applicants = ''
                        for (var i = 0; i < data.patent_list.length; i++) {

                            for (var j = 0; j < data.patent_list[i].applicants.length; j++) {
                                applicants += data.patent_list[i].applicants[j].korFullName + '\n'
                            }

                            var d = new Date(data.patent_list[i].applicationDate);


                            $("#ourcomno").val(data.patent_list[i].ourCompanyNumber)
                            tds += '<tr>' +
                                '<td>' + data.patent_list[i].state + '</td>' +
                                '<td>' + data.patent_list[i].ourCompanyNumber + '</td>' +
                                '<td>' + data.patent_list[i].applicationNumber + '</td>' +
                                '<td>' + data.patent_list[i].inventNameKor + '</td>' +
                                '<td>' + applicants + '</td>' +
                                '<td>' + formatDate(d) + '</td>' +
                                '</tr>'

                        }
                        const mm = data.masterfield_multiplelang


                        $("#master").append(
                            ' <table class="basictable">' +
                            ' <thead><tr>\n' +
                            '            <th>' + mm.state + '</th>\n' +
                            '            <th>' + mm.ourCompanyNumber + '</th>' +
                            '            <th>' + mm.applicationNumber + '</th>' +
                            '            <th>' + mm.inventNameKor + '</th>' +
                            '            <th>' + mm.applicants + '</th>' +
                            '            <th>' + mm.applicationDate + '</th>\n' +
                            '        </tr></thead>' +
                            '<tbody>' +
                            tds + '</tbody></table>'
                        );


                    } else {
                        alert(data.result);
                    }

                }
            });
        }

        function ajax_upload_file(files) {
            if (files.length > 1) {
                alert('multiple file.')
                return false
            }

            let formData = new FormData()
            formData.append('file', files[0])
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                url: uploadurl,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,


                success: function (data) {
                    if (data.state === 'success') {
                        $("#master").empty();
                        $("#filename").empty();
                        $("#filename").text(data.filename);
                        var tds = ''
                        var applicants = ''
                        for (var i = 0; i < data.patent_list.length; i++) {

                            for (var j = 0; j < data.patent_list[i].applicants.length; j++) {
                                applicants += data.patent_list[i].applicants[j].korFullName + '\n'
                            }

                            var d = new Date(data.patent_list[i].applicationDate);


                            $("#ourcomno").val(data.patent_list[i].ourCompanyNumber)
                            tds += '<tr>' +
                                '<td>' + data.patent_list[i].state + '</td>' +
                                '<td>' + data.patent_list[i].ourCompanyNumber + '</td>' +
                                '<td>' + data.patent_list[i].applicationNumber + '</td>' +
                                '<td>' + data.patent_list[i].inventNameKor + '</td>' +
                                '<td>' + applicants + '</td>' +
                                '<td>' + formatDate(d) + '</td>' +
                                '</tr>'

                        }
                        const mm = data.masterfield_multiplelang


                        $("#master").append(
                            ' <table class="basictable">' +
                            ' <thead><tr>\n' +
                            '            <th>' + mm.state + '</th>\n' +
                            '            <th>' + mm.ourCompanyNumber + '</th>' +
                            '            <th>' + mm.applicationNumber + '</th>' +
                            '            <th>' + mm.inventNameKor + '</th>' +
                            '            <th>' + mm.applicants + '</th>' +
                            '            <th>' + mm.applicationDate + '</th>\n' +
                            '        </tr></thead>' +
                            '<tbody>' +
                            tds + '</tbody></table>'
                        );


                    } else {
                        alert(data.msg);
                    }

                }
            });

        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        function uploadFile(files) {
            //let url = 'http://127.0.0.1:8000/emailsystem/emailuploading'

            let formData = new FormData()
            if (files.length > 1) {
                alert('multiple file.')
                return false
            }

            formData.append('file', files[0])
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            fetch(uploadurl, {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',

            })
                .then(response => {
                        console.log(response)

                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }

        function uploadFile1(file) {
            var url = 'YOUR URL HERE'
            var xhr = new XMLHttpRequest()
            var formData = new FormData()
            xhr.open('POST', url, true)

            // Add following event listener
            xhr.upload.addEventListener("progress", function (e) {
                updateProgress(i, (e.loaded * 100.0 / e.total) || 100)
            })

            xhr.addEventListener('readystatechange', function (e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Done. Inform the user
                } else if (xhr.readyState == 4 && xhr.status != 200) {
                    // Error. Inform the user
                }
            })

            formData.append('file', file)
            xhr.send(formData)
        }

        function previewFile(file) {
            let reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onloadend = function () {
                let img = document.createElement('img')
                img.src = reader.result
                document.getElementById('gallery').appendChild(img)
            }
        }


        function progressDone() {
            filesDone++
            progressBar.value = filesDone / filesToDo * 100
        }


        function initializeProgress(numFiles) {
            progressBar.value = 0
            uploadProgress = []

            for (let i = numFiles; i > 0; i--) {
                uploadProgress.push(0)
            }
        }

        function updateProgress(fileNumber, percent) {
            uploadProgress[fileNumber] = percent
            let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
            progressBar.value = total
        }


        let dropArea = document.getElementById('drop-area')
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)

            ;['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, highlight, false)
            })

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, unhighlight, false)
            })

            dropArea.addEventListener('drop', handleDrop, false)
        })

        let filesDone = 0
        let filesToDo = 0
        let progressBar = document.getElementById('progress-bar')
    </script>
{% endblock %}