{% extends "message/patentdocubase.html" %}
{% block content %}
    {{ block.super }}

    <h2>통지서 업로드</h2>

 <div>
    <a class="btn btn-primary" href="{% url 'message:syncpatentdocu' %}">Sync PatentDocu</a>
    </div>
    <div id="drop-area">
        <form class="my-form">
            {% csrf_token %}
            <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed
                region</p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
            <label class="button" for="fileElem">Select some files</label>
        </form>
        <div id="gallery"></div>
        <progress id="progress-bar" max=100 value=0></progress>
    </div>

    <input type="file" onchange="getfolder(event)" id="ctrl" webkitdirectory directory multiple/>
    <br>
    <div>
    {% if file_list %}
        {% for file in file_list %}
        <div >{{ file }}</div>
        {% endfor %}
    {% endif %}
    </div>

    </div>
  <script type="text/javascript">


function getfolder(e) {

    var files = e.target.files;
     files = [...files]
        uploadFile(files)

    //var path = files[0].webkitRelativePath;
    //var Folder = path.split("/");

}
        let uploadurl = '{% url 'message:patentdocuuploading' %}'



        function preventDefaults(e) {
            e.preventDefault()
            e.stopPropagation()
        }

        function highlight(e) {
            dropArea.classList.add('highlight')
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight')
        }


        function handleDrop(e) {
            let dt = e.dataTransfer
            let files = dt.files

            handleFiles(files)
        }

        function handleFiles(files) {
            files = [...files]
            initializeProgress(files.length)
            uploadFile(files)
            //files.forEach(previewFile)
        }


        function uploadFile(files) {
            //let url = 'http://127.0.0.1:8000/emailsystem/emailuploading'

            let formData = new FormData()

            for (var i=0; i<files.length; i++)
                {
                    formData.append('files[]', files[i])
                }
            formData.append('csrfmiddlewaretoken', $('#csrf-helper input[name="csrfmiddlewaretoken"]').attr('value'));
            fetch(uploadurl, {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response  =>
            {
                alert('success.')
                location.reload()
            }
        )
        .
            catch(() => { alert('fail')
            })
        }

        function uploadFile1(file) {
            var url = 'YOUR URL HERE'
            var xhr = new XMLHttpRequest()
            var formData = new FormData()
            xhr.open('POST', url, true)

            // Add following event listener
            xhr.upload.addEventListener("progress", function (e) {
                updateProgress(i, (e.loaded * 100.0 / e.total) || 100)
            })

            xhr.addEventListener('readystatechange', function (e) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Done. Inform the user
                } else if (xhr.readyState == 4 && xhr.status != 200) {
                    // Error. Inform the user
                }
            })

            formData.append('file', file)
            xhr.send(formData)
        }

        function previewFile(file) {
            let reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onloadend = function () {
                let img = document.createElement('img')
                img.src = reader.result
                document.getElementById('gallery').appendChild(img)
            }
        }


        function progressDone() {
            filesDone++
            progressBar.value = filesDone / filesToDo * 100
        }


        function initializeProgress(numFiles) {
            progressBar.value = 0
            uploadProgress = []

            for (let i = numFiles; i > 0; i--) {
                uploadProgress.push(0)
            }
        }

        function updateProgress(fileNumber, percent) {
            uploadProgress[fileNumber] = percent
            let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
            progressBar.value = total
        }


         let dropArea = document.getElementById('drop-area')
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)

            ;['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, highlight, false)
            })

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, unhighlight, false)
            })

            dropArea.addEventListener('drop', handleDrop, false)
        })

        let filesDone = 0
        let filesToDo = 0
        let progressBar = document.getElementById('progress-bar')
    </script>
{% endblock %}