{% extends "base.html" %}
{% block content %}


    <div class="container">

                  <div class="innernav">
                      <span><a id="patentdocu_msg"  href="patentdocumsg">통지서 메시지</a></span>
                       <span><a id="patentsubmitdocu_msg"  href="{% url 'message:patentsubmitdocumsg' %}">통지서 제출문서</a></span>
                    <span><a id="patentdocu_upload"  href="patentdocuupload">통지서 업로드</a></span>
                      <span><a id="patentsubmitdocu_upload"  href="{% url 'message:patentdocusubmitupload' %}">특허청 제출문서 업로드</a></span>


                  </div>

    </div>
{% endblock %}