{% extends "message/patentdocubase.html" %}
{% block content %}
    {{ block.super }}
    <h2>통지서메시지</h2>
    <div>
        <table border="1" class="model_list basictable">
            <tr>

                    <th>{{ Patent_Document_multilang.updateDateApp }}</th>
                    <th>{{ Patent_Document_multilang.receiptSendCode }}</th>
                     <th>{{ Patent_Document_multilang.receiptSendDate }}</th>
                    <th>patent</th>
                   <th>{{ Patent_Document_multilang.sendSubmitDocuName }}</th>
                    <th>{{ Patent_Document_multilang.refNumKIPO }}</th>
                    <th>{{ Patent_Document_multilang.receiptState }}</th>
                    <th>{{ Patent_Document_multilang.ofiicialFee }}</th>

            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr data-id="{{ data.id }}">
                        <td>
                            {{ data.patent_docu.updateDateApp | date:'Y-m-d' }}
                            <br>
                            <a class="btn btn-primary" id="{{ data.id }}" href="{% url 'message:patentsubmitdocu_patent_sync' %}?pk={{ data.id }}">
                            출원입력</a>

                        </td>
                        <td>
                             {{ data.patent_docu.receiptSendCode }}
                        </td>
                        <td>
                             {{ data.patent_docu.receiptSendDate | date:'Y-m-d' }}
                        </td>
                        <td>
                           <table class="table-bordered" style="table-layout: fixed; width: 850px; overflow: auto">
                           <span> 사건 번호 :
                            {% for master in data.master_message.all %}

                                    {% for case in master.case.all %}
                                        {{ case.caseNumber }},
                                        {% endfor %}</span>
                                    {% if forloop.first %}
                                        {% include 'forinclude/patent/patent_simpleinfo_th.html' with h=masterfield_multiplelang patent=master.patentType nation=master.nationType %}
                                    {% endif %}
                                    {% include 'forinclude/patent/patent_simpleinfo_td.html' with data=master patent=master.patentType nation=master.nationType %}

                            {% endfor %}
                      </table>

                        </td>
                        <td>
                             {{ data.patent_docu.sendSubmitDocuName }}
                        </td>
                     <td>
                             {{ data.patent_docu.refNumKIPO }}
                        </td>
                    <td>
                             {{ data.patent_docu.receiptState }}
                        </td>
                    <td>
                             {{ data.patent_docu.ofiicialFee }}
                        </td>


                    </tr>
                {% endfor %}
            {% else %}
                <td>{{ _("nodata") }}</td>
            {% endif %}
        </table>


        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>
            {% for pn in model_list.1.paginator.customrange %}
                {% if pn == model_list.1.number %}
                    <strong><a href="?page={{ pn }}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{ pn }}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
    </div>


    <div id="dialog">

    </div>



    <script type="text/javascript">


        $(document).ready(function () {


        });


    </script>
{% endblock %}