<div>
    <p hidden id="pid">{{ pid }}</p>
    <div class="ui-widget">
        <label for="search_applno">출원번호검색: </label>

        <input id="search_applno">
    </div>

    <div class="ui-widget">
        <label for="search_ourcompanyno">당소번호검색: </label>

        <input id="search_ourcompanyno">
    </div>

    <select id="masterApplno" onchange="onApplNoselected()">
        <option value='-------'>-------</option>
        {% for data in applno %}

            <option value={{ data }}>{{ data }}</option>

        {% endfor %}
    </select>

    <select id="masterOurCompanyNo" onchange="onOurCompanyNoselected()">
        <option value='-------'>-------</option>
        {% for data in ourcomno %}

            <option value={{ data }}>{{ data }}</option>

        {% endfor %}
    </select>
</div>
<div>
    <span>선택 : </span><span id="selecteditem"></span>
</div>

<div>
    <button onclick="onclicknone()">없음</button>
</div>
<script>
    function onclicknone() {
        $("#selecteditem").text('None')
    }

    function check() {
        alert('check');
    }

    function onApplNoselected() {
        var masterSelect = document.getElementById("masterApplno");

        // select element에서 선택된 option의 value가 저장된다.
        var selectValue = masterSelect.options[masterSelect.selectedIndex].value;
        $("#selecteditem").text(selectValue)
        $("#selecteditem").attr("class", "applicationNumber");

        var buttons = document.getElementsByTagName('button');
        for (var i = 0; i < buttons.length; i++) {
            if (buttons[i].innerText == '확인') {
                buttons[i].click()
            }
        }

    }

    function onOurCompanyNoselected() {
        var masterSelect = document.getElementById("masterOurCompanyNo");

        // select element에서 선택된 option의 value가 저장된다.
        var selectValue = masterSelect.options[masterSelect.selectedIndex].value;
        $("#selecteditem").text(selectValue)
        $("#selecteditem").attr("class", "ourCompanyNumber");
        var buttons = document.getElementsByTagName('button');
        for (var i = 0; i < buttons.length; i++) {
            if (buttons[i].innerText == '확인') {
                buttons[i].click()
            }
        }
    }

    $(function () {


        $("#search_applno").autocomplete({

            source: '{% url 'message:searchinmaster' 0 %}',

            select: function (event, ui) {

                $("#selecteditem").text(ui.item.value)
                $("#selecteditem").attr("class", "applicationNumber");
                var buttons = document.getElementsByTagName('button');
                for (var i = 0; i < buttons.length; i++) {
                    if (buttons[i].innerText == '확인') {
                        buttons[i].click()
                    }
                }
            },

            focus: function (event, ui) {

                return false;

                //event.preventDefault();

            }

        });

        $("#search_ourcompanyno").autocomplete({

            source: '{% url 'message:searchinmaster' 1 %}',

            select: function (event, ui) {

                $("#selecteditem").text(ui.item.value)
                $("#selecteditem").attr("class", "ourCompanyNumber");

                var buttons = document.getElementsByTagName('button');
                for (var i = 0; i < buttons.length; i++) {
                    if (buttons[i].innerText == '확인') {
                        buttons[i].click()
                    }
                }
            },

            focus: function (event, ui) {

                return false;

                //event.preventDefault();

            }

        });
    });

</script>
