{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/Treant.css" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/subnav.css" %}">
    <link rel="stylesheet" href="{% static "css/application_patent_domestic/main_models.css" %}">
    <link rel="stylesheet" href="{% static "css/common/fileupload.css" %}">
    <link rel="stylesheet" href="{% static "css/management/main.css" %}">
    <link rel="stylesheet" href="{% static "css/emailsystem/main.css" %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



    <title>{% block title %}Lipis System{% endblock %}</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/application_patent_domestic/adjust_model.js" %}"></script>
<script src="{% static "js/jquery.bootstrap.modal.forms.js" %}"></script>
<script src="{% static "js/jquery.bootstrap.modal.forms.min.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>


    $(document).ready(function () {

        var mainleftapplied = localStorage.getItem("mainleftid");
        var applied = localStorage.getItem("id");
        $('#' + applied).css('color', 'yellow');
        $('#' + mainleftapplied).css('color', 'white');

        $(document).ajaxComplete(function () {
            //window.location.reload();
        });

        $('.innernav span a').click(function (){

            menuclick($(this).attr('id'))
        })

    });

    function changelang(action, lang) {
        /*
                   $.ajax({
                       url: action,
                       type: 'POST',
                       data: {
                           'lang': lang, 'csrfmiddlewaretoken': '
        {{ csrf_token }}',
                            success: function (json) {
                            },
                        },

                    })*/
        let formData = new FormData()

        formData.append('lang', lang)
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch(action, {
            method: 'POST',
            body: formData,
            credentials: 'same-origin',
        })
            .then(response => {

                    location.reload()
                }
            )
            .catch(() => {
                alert('fail')
            })

    }
     function MoveLocation(e) {
            location.href = e

        }
</script>
<div class="main">
    <div id="sidemenu" class="sidenav">

        <select name="langselect" onchange="javascript:changelang('/changelang',this.value)">
            {% for codes in countryCodes %}
                <option value="{{ codes.languageCode }}"
                        {% if codes.languageCode == selectedlang %}selected="selected"{% endif %}>
                    >{{ codes.languageName }}</option>
            {% endfor %}
        </select>
        <a id="mainleftmenulogin" href="{% url 'People:login' %}"
           onclick="javascript:mainleftmenuclick('mainleftmenulogin','')">{{ _("login") }}</a>
     {% if user.is_authenticated %}
        <a id="mainleftmenumanagement" href="{% url 'management:common_mgr' %}"
           onclick="javascript:mainleftmenuclick('mainleftmenumanagement','commonmgrname')">{{ _("manager") }}</a>

         <a id="api" href="{% url 'patentro:patentroapilist' %}"
           onclick="javascript:mainleftmenuclick('api','patentro')">API</a>

          <a id="kipo_goods" href="{% url 'application_patent_domestic:kipo_goods' %}"
           onclick="javascript:mainleftmenuclick('kipo_goods','kipo_goods_list')">특허청 고시 상품명칭</a>


        <u class="side-top">{{ _("patent") }}/등록관리</u>

        <a id="P"  href="{% url 'application_patent_domestic:patent_master' %}?ptype=P&ntype=D"
           onclick="javascript:mainleftmenuclick('P','ND')">특허</a>
        <a id="T" href="{% url 'application_patent_domestic:patent_master' %}?ptype=T&ntype=D"
        onclick="javascript:mainleftmenuclick('T','ND')">상표</a>
         <a id="D" href="{% url 'application_patent_domestic:patent_master' %}?ptype=D&ntype=D"
        onclick="javascript:mainleftmenuclick('D','ND')">디자인</a>
        <a id="R" href="{% url 'application_patent_domestic:patent_master' %}?ptype=R&ntype=D"
        onclick="javascript:mainleftmenuclick('R','ND')">컨설팅</a>



         <u class="side-top">사건관리</u>
         <a id="mainleftmenucasemanagement" href="{% url 'case:cases' %}"
           onclick="javascript:mainleftmenuclick('mainleftmenucasemanagement','case')">사건</a>

        <u class="side-top">{{ _("client") }}/협력사 관리</u>
        <a id="mainleftmenuperson" href="{% url 'People:client' %}?ClientType=Client"
           onclick="javascript:mainleftmenuclick('mainleftmenuperson','client')">{{ _("personmanagement") }}</a>
        <u class="side-top">메시지/문서관리</u>
        <a class="side-sub" id="mainleftmenuemail" href="{% url 'message:emailmessage' %}"
           onclick="javascript:mainleftmenuclick('mainleftmenuemail','emailsmsg')">이메일</a>

        <a class="side-sub" id="mainleftmenupatentdocu" href="{% url 'message:patentdocumsg' %}"
           onclick="javascript:mainleftmenuclick('mainleftmenupatentdocu','patentdocu_msg')">특허청문서</a>
        <a class="side-sub" id="mainleftmenumessagemgr" href="{% url 'message:messagemgr' %}"
           onclick="javascript:mainleftmenuclick('mainleftmenumessagemgr','')">메시지관리</a>
    {% endif %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>