{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/subnav.css" %}">
    <link rel="stylesheet" href="{% static "css/application_patent_domestic/main_models.css" %}">
    <link rel="stylesheet" href="{% static "css/common/fileupload.css" %}">
    <link rel="stylesheet" href="{% static "css/management/main.css" %}">
    <link rel="stylesheet" href="{% static "css/emailsystem/main.css" %}">


</head>
<body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!--<script src="{% static "js/bootstrap.js" %}"></script>-->
<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/application_patent_domestic/adjust_model.js" %}"></script>
<script src="{% static "js/jquery.bootstrap.modal.forms.js" %}"></script>
<script src="{% static "js/jquery.bootstrap.modal.forms.min.js" %}"></script>
 {% block content %}

 {% endblock %}
</body>
</html>