{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static "css/homepagebase.css" %}">

    <title>{% block title %}Lipis System Home{% endblock %}</title>
</head>
<body>
 <div>
     {% block basicnav %}
    <nav class="uppernav">
         <a href="/">{{_("languages")}}</a>
    </nav>
     {% endblock %}
 </div>
 <div class="container">
     {% block mainnav %}
         <ul>
         <li><a href="/">LIPIS</a></li>
         <li><a href="/application_patent_domestic">출원</a></li>
         </ul>
     {% endblock %}
 </div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<footer>
    {% block foot %}
    <div class="myfooter">footer</div>
    {% endblock %}
</footer>
</body>
</html>