<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static "js/common.js" %}"></script>
<script src="{% static "js/application_patent_domestic/adjust_model.js" %}"></script>
<script src="{% static "js/People/adjust_model.js" %}"></script>

<form method="post">
  {% csrf_token %}
  <div class="modal-header">
    <h3 class="modal-title">INSERT OR UPDATE</h3>
  </div>
    {% block formblock %}

    {% endblock %}
  <div class="modal-footer">
      <input type="button" value="Close this window" onclick="javascript:windowClose();">
      <input type="submit" name="save" value="SAVE"  />
  </div>
</form>
{% block footer %}
{% endblock %}

</body>
</html>