{% extends "People/peoplesbase.html" %}
{% block content %}
    {{ block.super }}

    <h2>{{_("applicantstable")}}</h2>

    <div>

        <table border="1" class="model_list">
            <tr>
                <th>출원연결</th>
                <th>삭제
                </th>
                <th>{{_("edit")}}</th>
                {% if model_list.0 %}

                    <th>{{ model_list.0.code }}</th>
                <th>{{ model_list.0.isCorporation }}</th>
                <th>{{ model_list.0.korFullName }}</th>
                <th>{{ model_list.0.engFullName }}</th>
                <th>{{ model_list.0.creationDate }}</th>



                {% endif %}
            </tr>
            {% if model_list.1 %}
                {% for data in model_list.1 %}
                    <tr data-id="{{ data.id }}">
                    <td>
                        <button class="btn btn-primary" id="{{ data.id }}" onclick="btnclick(this,'{% url 'message:searchmasterinemailmessage' data.id %}')">ADD
                            </button>
                    <br>
                         {% if data.master.all %}
                                {% for ma in data.master.all %}
                                {{ ma.applicationNumber }}
                                    <br>
                                    {{ ma.ourCompanyNumber }}
                                    <br>
                                    <a class="btn btn-danger" onclick="deleterelation('{% url "application_patent_domestic:applicant_deletemaster" %}',{{ data.id }},{{ ma.id }})">delete</a>
                                    <br>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}


                    </td>
                        <td >
                            <a class="btn btn-danger" href="JavaScript:deleteModel('{% url 'application_patent_domestic:applicant_delete'  %}','{{ data.id }}');">삭제</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="JavaScript:newPopup('{% url 'application_patent_domestic:applicant_edit' data.id %}');">{{_("edit")}}</a>
                        </td>
                        <td>{{ data.code }}</td>
                        <td>{{ data.isCorporation }}</td>
                        <td>{{ data.korFullName }}</td>
                        <td>{{ data.engFullName }}</td>
                        <td>{{ data.creationDate }}</td>


                    </tr>
                {% endfor %}
            {% else %}
                <td>{{_("nodata")}}</td>
            {% endif %}
        </table>
          <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
        <span class="tableopt">
            <a class="btn btn-primary" onclick="newPopup('{% url 'application_patent_domestic:applicant_create' %}')">{{_("create")}}</a>
            <!--<button class="delete-btn" onclick="deleteData('applicant_list', '{% url 'application_patent_domestic:applicant_delete' %}')">{{_("delete")}}</button>-->
            <!--<button onclick="deleteapplicant('{% url 'application_patent_domestic:applicant_delete' %}',{{ data.id }})" class="btn btn-primary">{{ _('delete') }}</button>-->
        </span>

    </div>
 <div id="dialog">

    </div>

     <script type="text/javascript">
 function deleterelation(url, applid, maid)
    {



         let formData = new FormData()
        formData.append('applid', applid)
        formData.append('maid', maid)
                        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                        fetch(url, {
                            method: 'POST',
                            body: formData,
                            credentials: 'same-origin',
                        })
                            .then(response => {

                                    location.reload()
                                }
                            )
                            .catch(() => {
                                alert('fail')
                            })
    }
     function deleteapplicant(url)
    {



         let formData = new FormData()
         $('.checked:checkbox:checked').each(function () {
            formData.append('ids[]',$(this).attr('id'))
        });

                        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                        fetch(url, {
                            method: 'POST',
                            body: formData,
                            credentials: 'same-origin',
                        })
                            .then(response => {

                                    location.reload()
                                }
                            )
                            .catch(() => {
                                alert('fail')
                            })
    }
        // Popup window code
    function btnclick(e, url)
    {
         let target = $(e)

                var yourPosition = {
                    my: "center top",
                    at: "center bottom",
                    of: target
                };

                //$( "#dialog" ).dialog( "option", "position", yourPosition );

                $("#dialog").dialog({position: yourPosition});
                $("#dialog").load(url);
                $("#dialog").dialog("open");
    }
        $(function () {

            $( document ).tooltip();


            $("#dialog").dialog({
                autoOpen: false, //자동으로 열리지않게

                //"center", "left", "right", "top", "bottom"
                modal: true, //모달대화상자
                resizable: false, //크기 조절 못하게
                buttons: {
                    "확인": function () {

                        var pid = $('#pid').text()
                        let formData = new FormData()
                        formData.append('pid', pid)
                        formData.append('searchContent', $("#selecteditem").text())
                        formData.append('searchType', $("#selecteditem").attr('class'))
                        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                        fetch('{% url 'application_patent_domestic:applicant_addmaster' %}', {
                            method: 'POST',
                            body: formData,
                            credentials: 'same-origin',
                        })
                            .then(response => {

                                    location.reload()
                                }
                            )
                            .catch(() => {
                                alert('fail')
                            })


                        $(this).dialog("close");

                    }, "취소": function () {

                        $(this).dialog("close");

                    }
                }
            });

            //창 열기 버튼을 클릭했을경우


        });





        $(document).ready(function () {


});






            $(document).on('submit', '#model_table',function(e){

        var datas = getCheckedTable('model_list')

    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            //csrfmiddlewaretoken:csrftoken

    $.ajax({
        type:'POST',
        url:'{% url 'application_patent_domestic:applicant_delete' %}',
        async:false,
        data:{
            'm_list_ids': datas,
            csrfmiddlewaretoken:csrftoken
        },
        success:function (data) {
            if(data.status=='ok')
            {

            }

        },

    });
            event.preventDefault();
});
    </script>
{% endblock %}