{% extends "application_patent_domestic/kipo_goods_base.html" %}
{% block content %}
    {{ block.super }}

    <h2>특허청 고시 상품 동기화</h2>


    <div id="drop-area">
        <form class="my-form">
            {% csrf_token %}
            <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed
                region</p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
            <label class="button" for="fileElem">Select some files</label>
        </form>
        <div id="gallery"></div>
        <progress id="progress-bar" max=100 value=0></progress>
    </div>

    <input type="file" onchange="getfolder(event)" id="ctrl" webkitdirectory directory multiple/>
    <br>

    <br>
    <div>


         <span>
             <label for="noticeNumber">고시번호</label>
             <input type="text" id="noticeNumber">
             <label for="effectiveDate">시행일</label>
             <input type="text" id="effectiveDate">
             <label for="sheetIndex">시트 position(start:0)</label>
             <input type="number" id="sheetIndex">
              <label for="rangeIndex">range: 10000 X number</label>
             <input type="number" id="rangeIndex">
             </span>

        <br>
        <br>
        <p><strong>파일 선택</strong></p>
        {% if file_list %}
            {% for file in file_list %}
                <div>
                    <label for="kipo_goods_file">{{ file }}</label>


                    <input {% if forloop.first %}checked{% endif %} class="kipo-goods-file" type="radio" name="kipo_goods_file" value="{{ file }}">
                </div>
            {% endfor %}
        {% endif %}
        <button class="btn btn-primary" onclick="post_sync_kipofile()">클릭 시 동기화</button>


    </div>
    <br>
    <br>



    <script type="text/javascript">

        $(document).ready(function () {
            flatpickr("#effectiveDate", {});

        })


        function post_sync_kipofile() {
             var kipogoodsfile = $("input[name='kipo_goods_file']:checked").val();
            const noticeNumber = $("#noticeNumber").val()
            const effectiveDate = $("#effectiveDate").val()
             var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            var sheetIndex = $("#sheetIndex").val();
            var rangeIndex = $("#rangeIndex").val();
            if (noticeNumber === '' || effectiveDate === '' || kipogoodsfile === '')
            {
                alert('notice number or effective date is blank.')
                return
            }

            $.post('{% url 'application_patent_domestic:kipo_goods_filesync' %}',
                {
                    'noticeNumber': noticeNumber,
                    'effectiveDate': effectiveDate,
                    'kipogoodsfile': kipogoodsfile,
                    'sheetIndex': sheetIndex,
                    'rangeIndex': rangeIndex,
                     csrfmiddlewaretoken: csrftoken
                }, function(result){
                    alert(result);

                });





        }

        function getfolder(e) {

            var files = e.target.files;
            alert(files)
            files = [...files]
            uploadFile(files)
        }


        let uploadurl = '{% url 'application_patent_domestic:kipo_goods_fileupload' %}'


        function preventDefaults(e) {
            e.preventDefault()
            e.stopPropagation()
        }

        function highlight(e) {
            dropArea.classList.add('highlight')
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight')
        }


        function handleDrop(e) {
            let dt = e.dataTransfer
            let files = dt.files

            handleFiles(files)
        }

        function handleFiles(files) {
            files = [...files]
            initializeProgress(files.length)
            uploadFile(files)
        }


        function uploadFile(files) {

            let formData = new FormData()

            for (var i = 0; i < files.length; i++) {
                formData.append('files[]', files[i])
            }
            formData.append('csrfmiddlewaretoken', $('#csrf-helper input[name="csrfmiddlewaretoken"]').attr('value'));
            fetch(uploadurl, {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response => {
                        alert('success.')
                        location.reload()
                    }
                )
                .catch(() => {
                    alert('fail')
                })
        }

        function previewFile(file) {
            let reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onloadend = function () {
                let img = document.createElement('img')
                img.src = reader.result
                document.getElementById('gallery').appendChild(img)
            }
        }


        function progressDone() {
            filesDone++
            progressBar.value = filesDone / filesToDo * 100
        }


        function initializeProgress(numFiles) {
            progressBar.value = 0
            uploadProgress = []

            for (let i = numFiles; i > 0; i--) {
                uploadProgress.push(0)
            }
        }

        function updateProgress(fileNumber, percent) {
            uploadProgress[fileNumber] = percent
            let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
            progressBar.value = total
        }


        let dropArea = document.getElementById('drop-area')
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)

            ;['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, highlight, false)
            })

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, unhighlight, false)
            })

            dropArea.addEventListener('drop', handleDrop, false)
        })

        let filesDone = 0
        let filesToDo = 0
        let progressBar = document.getElementById('progress-bar')
    </script>
{% endblock %}