{% extends "base.html" %}
{% block content %}


    <div class="container">
        {% block mainnav %}
            <div class="innernav">
                <span><a id="kipo_goods_list"
                         href="{% url 'application_patent_domestic:kipo_goods' %}">검색</a></span>
                <span><a id="kipo_goods_sync"
                         href="{% url 'application_patent_domestic:kipo_goods_sync' %}">동기화</a></span>


            </div>
        {% endblock %}
    </div>
{% endblock %}