{% extends "People/peoplesbase.html" %}
{% block content %}
    {{ block.super }}
     <table border="1" class="model_list">
                <tr>
                    <th>
                        <input id="checkall" type="checkbox" value="">
                    </th>
                    <th>{{ _("edit") }}</th>
                    {% if model_list.0 %}

                        <th>{{ model_list.0.nationality }}</th>
                        <th>{{ model_list.0.korId }}</th>
                        <th>{{ model_list.0.zipCode }}</th>
                        <th>{{ model_list.0.korName }}</th>
                        <th>{{ model_list.0.korAddress }}</th>
                         <th>{{ model_list.0.engName }}</th>
                        <th>{{ model_list.0.engAddress }}</th>

                    {% endif %}

                </tr>
                {% if model_list.1 %}
                    {% for data in model_list.1 %}
                        <tr class="clicktr" data-id="{{ data.id }}" id="">
                            <td class="checked">
                                <a href="JavaScript:deleteModel('{% url 'application_patent_domestic:maininventor_delete'  %}','{{ data.id }}');">삭제</a>
                            </td>
                            <td class="clicktrexcept">
                                <a href="JavaScript:newPopup('{% url 'application_patent_domestic:maininventor_edit' data.id %}');">{{ _("edit") }}</a>
                            </td>
                            <td>{{ data.nationality }}</td>
                            <td>{{ data.korId }}</td>
                            <td>{{ data.zipCode }}</td>
                            <td>{{ data.korName }}</td>
                            <td>{{ data.korAddress }}</td>

                            <td>{{ data.engName }}</td>
                            <td>{{ data.engAddress }}</td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>


            <span class="tableopt">
                <a class="btn btn-primary"
                   onclick="newPopup('{% url 'application_patent_domestic:maininventor_create' %}')">{{ _("create") }}</a>
            </span>
            <br>
        </form>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>

            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
{% endblock %}