{% extends "base.html" %}
{% block content %}


    <div class="container">
        {% block mainnav %}
            <div class="innernav">
                <span><a id="ND"
                         href="{% url 'application_patent_domestic:patent_master' %}?ntype=D&ptype={{ patentType }}">국내</a></span>
                <span><a id="NO"
                         href="{% url 'application_patent_domestic:patent_master' %}?ntype=O&ptype={{ patentType }}">해외</a></span>
                <span><a id="NI"
                         href="{% url 'application_patent_domestic:patent_master' %}?ntype=I&ptype={{ patentType }}">인커밍</a></span>

            </div>
        {% endblock %}
    </div>
    <script>


        $(document).ready(function () {




        });
    </script>
{% endblock %}