{% extends "application_patent_domestic/patentbase.html" %}
{% block content %}
    {{ block.super }}
    <h2>특허현황</h2>
    <div class="wrapper">
        <div class="h header_conutry">국가</div>
        <div class="c conutry">{{ master.patent_country.nationalName }}</div>
        <div class="h header_ourcompanynumber">당소번호</div>
        <div class="c ourcompanynumber">{{ master.ourCompanyNumber }}</div>

        <div class="h header_clientnumber">의뢰인 번호</div>
        <div class="c clientnumber">{{ master.id }}</div>
        <div class="h header_applicationnumber">출원번호</div>
        <div class="c applicationnumber">{{ master.applicationNumber }}</div>
        <div class="h header_registrationnumber">등록번호</div>
        <div class="h header_inventname">발명의명칭</div>
        <div class="c inventname">{{ master.inventName }}</div>
        <div class="h header_applicant">출원인</div>
        <div class="c applicant">{% for p in master.applicants.all %}
            {{ p }}
        {% endfor %}</div>

        <div class="h header_client">의뢰인</div>
        <div class="h header_timeline">타임라인</div>
        <div class="h header_priorityclaim">우선권주장</div>
        <div class="c priorityclaim">{{ master.priorityClaim }}</div>
        <div class="h header_requestforexamination">심사청구</div>
        <div class="c requestforexamination">{{ master.applicationRequestFixedDate|date:"Y-m-d" }}</div>
        <div class="h header_inventor">발명자</div>
        <div class="c inventor">{% for p in master.mainInventor.all %}
            {{ p }}
        {% endfor %}</div>
        <div class="h header_currentclaims">현재 청구항</div>
        <div class="h header_representativedrawings">대표 도면</div>
        <div class="h header_familyapplication">패밀리 출원</div>
        <div class="h header_caselist_cost">사건 리스트 및 비용</div>


    </div>
    <div class="h header_patentoffice_docuhistory">특허청 서류 이력</div>
    <div>
        <table class="basictable">
            <colgroup>
                <col width="10%"/>
                <col width="10%"/>
                <col width="15%"/>
                 <col width="10%"/>
                <col width="15%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
                <col width="10%"/>
            </colgroup>
            <tr>
                <th>출원변경</th>
                <th>상태</th>
                <th>문서코드</th>
                <th>접수/발송번호</th>
                <th>발송문서일련번호</th>
                <th>수신인</th>
                <th>첨부파일</th>
                <th>발송일자</th>
                <th>제출마감일자</th>
                <th>사건추가</th>
                <th>업무추가</th>
            </tr>

         {% for pd in patent_document %}

                    <tr>
                        <td>
                            {% if pd.msgid %}
                            <a href="JavaScript:newPopup('{% url 'message:message_patent_edit' pd.msgid %}')">patent
                                edit</a>
                            {% endif %}
                        </td>
                    <td>
                        {{ pd.processingState }}
                    </td>
                        <td>
                            {{ pd.docuCode }}
                        </td>
                    <td>
                        {{ pd.receiptSendCode }}
                    </td>
                        <td>
                            {% for attach in pd.patentofficedocu_attachment.all %}
                                {{ attach.sendDocuSerialNumber }}
                            {% endfor %}

                        </td>
                        <td>
                            {{ pd.receiverName }}
                        </td>
                        <td>
                        {% if pd.rcptSendDocNm %}
                            {{ pd.rcptSendDocNm }}
                        {% else %}
                            {% for attach in pd.patentofficedocu_attachment.all %}
                                {% if attach.parent %}
                                    <p>child</p>
                                {% endif %}
                                {% if attach.deadLineDate %}
                                    <p>제출마감일자 : {{ attach.deadLineDate|date:"Y-m-d H:i:s" }}</p>
                                {% endif %}

                                <a href="{{ attach.path.url }}">파일이름 : {{ attach.sendDocuName }}</a>
                            {% endfor %}
                        {% endif %}

                        </td>
                        <td>
                            {% if pd.receiptSendDate %}
                                {{ pd.receiptSendDate|date:"Y-m-d" }}
                            {% endif %}
                        </td>
                        <td>
                            {% for attach in pd.patentofficedocu_attachment.all %}
                                {% if attach.deadLineDate %}
                                    <p>{{ attach.deadLineDate|date:"Y-m-d H:i:s" }}</p>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="clicktrexcept">
                            {% if pd.msgid %}
                            <a class="btn btn-primary"
                               href="JavaScript:newPopup('{% url 'case:customcasepopupform' pd.msgid %}');">add case</a>
                            {% endif %}
                        </td>
                        <td class="clicktrexcept">
                            {% if pd.msgid %}
                            <a class="btn btn-primary"
                               href="JavaScript:newPopup('{% url 'case:customtaskpopupform' pd.msgid %}');">add task</a>
                            {% endif %}
                        </td>
                    </tr>

            {% endfor %}


        </table>

    </div>
    <div class="h header_messagehistory">메시지 이력</div>
    <div>
        <table class="basictable">
            <colgroup>
                <col width="5%"/>
                <col width="5%"/>
                <col width="5%"/>
                <col width="10%"/>
                <col width="55%"/>
                <col width="5%"/>
                <col width="5%"/>
                <col width="5%"/>
                <col width="5%"/>
            </colgroup>
            <tr>
                <th>출원변경</th>
                <th>보낸사람</th>
                <th>받은사람</th>
                <th>제목</th>
                <th>내용</th>
                <th>첨부파일</th>
                <th>발신일</th>
                <th>사건추가</th>
                <th>업무추가</th>
            </tr>

            {% for msg in master.msgs %}
                {% if msg.email %}
                    <input class="hidden{{ msg.email.id }}" name="{% url 'emailsystem:emailtextbody' msg.email.id %}" hidden>
                    <tr class="emailtr" id="{{ msg.email.id }}" >
                        <td class="clicktrexcept">
                            <a href="JavaScript:newPopup('{% url 'message:message_patent_edit' msg.id %}')">patent
                                edit</a>
                        </td>
                        <td>
                            <p>{{ msg.email.fromEmail.email }}</p>
                        </td>
                        <td>

                            {% for to in msg.email.to_person.all %}
                                <p>{{ to.email }}</p>
                            {% endfor %}

                        </td>
                        <td>
                            {{ msg.email.subject }}
                        </td>
                        <td>
                            <div id="emailcontentdiv" style="display: none" class="emailbody{{ msg.email.id }}">
                                <iframe id="emailcontent" class="emailcontentframe{{ msg.email.id }}" frameBorder="0">

                                </iframe>
                            </div>
                        </td>
                        <td class="clicktrexcept">
                            {% for attach in msg.email.email_file.all %}
                                <a href="{{ attach.path.url }}">{{ attach.originFileName }}</a>
                                <br>
                            {% endfor %}

                        </td>
                        <td>
                            {% if msg.email.sentDate %}
                                {{ msg.email.sentDate|date:"Y-m-d H:i:s" }}
                            {% endif %}
                        </td>
                        <td class="clicktrexcept">

                            <a class="btn btn-primary"
                               href="JavaScript:newPopup('{% url 'case:customcasepopupform' msg.id %}');">add case</a>
                        </td>
                        <td class="clicktrexcept">
                            <a class="btn btn-primary"
                               href="JavaScript:newPopup('{% url 'case:customtaskpopupform' msg.id %}');">add task</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}


        </table>

    </div>
    <div>
        <table>

        </table>
    </div>
    <div class="h header_currentprogresscase">현재 진행 사건</div>
    <div class="h header_currentrequesttask">현재 요청 업무</div>

    <style>
        .wrapper {
            display: grid;
            grid-template-columns: [first] 10% [line2] 15% [line3] 10% [line4] 15% [line5] 50% [end];
            grid-template-rows: [top-row] 50px [row2] 50px [row3] 50px [row4] 50px [row5] 50px [row6] 50px [row7] 50px [row8] 50px [row9] 50px [row10] 50px [row11] 50px [row12] 50px [row13] 50px [row14] 50px [row15] 50px [row16] 50px;
            background: rgba(78, 85, 91, 0.08);
            grid-gap: 10px;


        }

        .h {
            font-size: 18px;
            color: #4e555b;
            font-weight: bolder;
            font-family: 돋움체;
            padding: 5px;
        }

        .c {
            font-size: 18px;
            font-weight: bolder;
            font-family: 돋움체;
            padding: 5px;
        }

        .header_conutry {
            grid-column: 1;
            grid-row: 1;

        }

        .conutry {
            grid-column: 2;
            grid-row: 1;

        }

        .header_ourcompanynumber {
            grid-column: 1;
            grid-row: 2;

        }

        .ourcompanynumber {
            grid-column: 2;
            grid-row: 2;

        }

        .header_clientnumber {
            grid-column: 3;
            grid-row: 2;

        }

        .clientnumber {
            grid-column: 4;
            grid-row: 2;

        }

        .header_applicationnumber {
            grid-column: 1;
            grid-row: 3;

        }

        .applicationnumber {
            grid-column: 2;
            grid-row: 3;

        }

        .header_registrationnumber {
            grid-column: 3;
            grid-row: 3;

        }

        .header_inventname {
            grid-column: 1;
            grid-row: 4;

        }

        .inventname {
            grid-column: 2/6;
            grid-row: 4;

        }

        .header_applicant {
            grid-column: 1;
            grid-row: 5;

        }

        .applicant {
            grid-column: 2;
            grid-row: 5;

        }

        .header_client {
            grid-column: 3;
            grid-row: 5;

        }

        .header_timeline {
            grid-column: 1;
            grid-row: 6;

        }

        .header_priorityclaim {
            grid-column: 1;
            grid-row: 7;

        }

        .priorityclaim {
            grid-column: 2;
            grid-row: 7;
        }

        .header_requestforexamination {
            grid-column: 3;
            grid-row: 7;

        }

        .requestforexamination {
            grid-column: 4;
            grid-row: 7;
        }

        .header_inventor {
            grid-column: 1;
            grid-row: 8;

        }

        .inventor {
            grid-column: 2;
            grid-row: 8;
        }

        .header_currentclaims {
            grid-column: 1;
            grid-row: 9;

        }

        .header_representativedrawings {
            grid-column: 1;
            grid-row: 10;

        }

        .header_familyapplication {
            grid-column: 1;
            grid-row: 11;

        }

        .header_caselist_cost {
            grid-column: 1;
            grid-row: 12;

        }

        .header_patentoffice_docuhistory {
            grid-column: 1;
            grid-row: 13;

        }

        .header_messagehistory {
            grid-column: 1;
            grid-row: 14;

        }

        .header_currentprogresscase {
            grid-column: 1;
            grid-row: 15;

        }

        .header_currentrequesttask {
            grid-column: 1;
            grid-row: 16;

        }


    </style>

    <script type="text/javascript">
        function clickemailcontent(source, id) {
            $('.emailtr' + id).find('td').each(function () {
                alert(this.className)
            })
            if ($('.emailbody' + id).is(":visible")) {

                $('.emailbody' + id).toggle();
                $('.emailcontentframe' + id).attr('src', null);
                $('.emailcontentframe' + id).attr('width', '50px');
                $('.emailcontentframe' + id).attr('height', '50px');

            } else {

                $('.emailbody' + id).toggle();
                $('.emailcontentframe' + id).attr('src', source);
                $('.emailcontentframe' + id).attr('width', '500px');
                $('.emailcontentframe' + id).attr('height', '500px');

            }

        }



        $(document).ready(function () {

            $("#emailcontent").each(function () {
                //Using closures to capture each one
                var iframe = $(this);
                iframe.on("load", function () { //Make sure it is fully loaded
                    iframe.contents().click(function (event) {
                        iframe.trigger("click");


                    });


                });

                iframe.click(function () {

                });
            });


            $(document).on("click",".emailtr td", function () {
           var clickedBtnID = $(this).attr('class');
           var parentId = $(this).parent().attr('id')
           var url = $('.hidden'+parentId).attr('name')

        if (clickedBtnID != 'clicktrexcept')
            {
                $(this).onclick = clickemailcontent(url,parentId)
            }

        });
        });
    </script>
{% endblock %}