{% extends "application_patent_domestic/patentbase.html" %}
{% block content %}
    {{ block.super }}
    <h2>{{ _("patenttable") }}</h2>


    <div>
        <form action="{% url 'application_patent_domestic:patent_master' %}" method="GET">
            {% csrf_token %}
            <select name="SearchColumn" id="SelectList">

                <option value="state">{{ _("dbcol_patent_domestic_master_state") }}</option>
                <option value="applicants">{{ _("dbcol_patent_domestic_master_applicants") }}</option>
                <option value="clientCompany">{{ _("dbcol_patent_domestic_master_clientCompany") }}</option>
                <option value="applicationNumber">출원번호</option>
                <option value="ourCompanyNumber" selected>{{ _("dbcol_patent_domestic_master_ourCompanyNumber") }}</option>
                <option value="inventNameKor">{{ _("dbcol_patent_domestic_master_inventName") }}</option>
                <option value="mainInventor">{{ _("dbcol_patent_domestic_master_mainInventor") }}</option>

            </select>
            <input id="search" name="Search" type="text" placeholder="Search..."
                   value="{{ searchtxt }}"> <input
                name="searchbtn" type="submit" value="{{ _("search") }}">
        </form>
    <label>고객 타입</label>


        <label>All</label><input type="radio" value="All" name="patent_client_type" class="patent_client_type" {% if not patent_client_type %}checked{% endif %}>
        <label>Client</label><input type="radio" value="Client" name="patent_client_type" class="patent_client_type">
        <label>OverseaAgent</label><input type="radio" value="OverseaAgent" name="patent_client_type" class="patent_client_type">

    <br>
    <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>
            {% for pn in model_list.1.paginator.customrange %}
                {% if pn == model_list.1.number %}
                    <strong><a href="?page={{pn}}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{pn}}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>
        <form id="model_form" method="post">
            {% csrf_token %}
            <table border="1" class="model_list" >
                <tr>
                    <th>
                        <!--<input id="checkall" type="checkbox" value="">-->
                        삭제
                    </th>
                    <th>{{ _("edit") }}</th>
                    {% if model_list.0 %}
                        {% include 'forinclude/patent/patent_th.html' with data=model_list.0 patent=patentType nation=nationType %}


                    {% endif %}

                </tr>
                {% if model_list.1 %}
                    {% for data in model_list.1 %}
                        <tr class="clicktr" data-id="{{ data.id }}" id="">
                        <p hidden id="p{{data.id}}" class="{% url 'application_patent_domestic:master_detail' data.id  %}"></p>

                            <td class="clicktrexcept">
                                {% if data.id %}
                                <a class="btn btn-danger" href="JavaScript:deleteModel('{% url 'application_patent_domestic:master_delete' %}','{{ data.id }}');">삭제</a>
                                {% endif %}
                            </td>
                            <td class="clicktrexcept">
                                <a class="btn-primary btn" href="JavaScript:newPopup('{% url 'application_patent_domestic:master_edit' data.id %}');">{{ _("edit") }}</a>
                            </td>
                              {% include 'forinclude/patent/patent_td.html' with data=data patent=patentType nation=nationType %}

                        </tr>
                    {% endfor %}
                {% else %}
                    <td>{{ _("nodata") }}</td>
                {% endif %}
            </table>


            <span class="tableopt">
                <a class="btn btn-primary"
                   onclick="newPopup('{% url 'application_patent_domestic:master_create' %}')">{{ _("create") }}</a>

                <!--<button type="submit" class="btn btn-primary">{{ _('delete') }}</button>-->
            </span>
        </form>
        <span class="pagination">
        <span class="step-links">
        {% if model_list.1.has_previous %}
            <a href="?page=1">&laquo; {{ _("first") }}</a>

            <a href="?page={{ model_list.1.previous_page_number }}">{{ _("previous") }}</a>
        {% endif %}

            <span class="current">
            Page {{ model_list.1.number }} of {{ model_list.1.paginator.num_pages }}.
        </span>
            {% for pn in model_list.1.paginator.customrange %}
                {% if pn == model_list.1.number %}
                    <strong><a href="?page={{pn}}">{{ pn }}</a></strong>
                {% else %}
                    <a href="?page={{pn}}">{{ pn }}</a>
                {% endif %}
            {% endfor %}
            {% if model_list.1.has_next %}
                <a href="?page={{ model_list.1.next_page_number }}">{{ _("next") }}</a>
                <a href="?page={{ model_list.1.paginator.num_pages }}">{{ _("last") }} &raquo;</a>
            {% endif %}
        </span>
            </span>

    </div>






    <script type="text/javascript">
  $(document).ready(function () {

        $('input[type=radio]').on('change', function () {
            var name = this.name;
            var val = this.value;
            ajax_set_patentfilter(name, val)
            });

         var value = "{{patent_client_type}}";
            var inputs = document.getElementsByClassName('patent_client_type');
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].value == value) {
                    inputs[i].checked = true;
                }
            }

  });

  function ajax_set_patentfilter(patenttype, patentvalue) {


        if (patenttype === "" || patentvalue ==="") {

            return
        }
        const pdata = {}
        pdata[patenttype] = patentvalue
        $.ajax({
            url: '{% url 'application_patent_domestic:master_filter_set' %}',
            data: pdata,
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                if (data.state == 'success') {
                  location.reload();

                } else {
                    alert(data.result);
                }

            }
        });
    }

    function getfolder(e, url) {

    var files = e.target.files;
     files = [...files]
      uploadFile(files, url)

    //var path = files[0].webkitRelativePath;
    //var Folder = path.split("/");

}

function uploadFile(files, url) {
            //let url = 'http://127.0.0.1:8000/emailsystem/emailuploading'

            let formData = new FormData()

            for (var i=0; i<files.length; i++)
                {
                    formData.append('files[]', files[i])
                }
            formData.append('csrfmiddlewaretoken', $('#csrf-helper input[name="csrfmiddlewaretoken"]').attr('value'));
            fetch(url, {
                method: 'POST',
                body: formData,
                credentials: 'same-origin',
            })
                .then(response  =>
            {
                alert('success.')
                location.reload()
            }
        )
        .
            catch(() => { alert('fail')
            })
        }

        function MoveLocation(e) {
            location.href=e

        }




        function choiceoption() {

            var $option = $('#SelectList').children('option[value="' + "{{ searchcolumn }}" + '"]');

            $option.attr('selected', true);
        }

        function Getvalue(id) {
            return document.getElementById(id).value;
        }

        window.onunload = refreshParent;

        function refreshParent() {
             window.opener.location.reload();

            }
        $(document).ready(function () {

        $(document).ajaxComplete(function(){
            window.location.reload();
        });


        $(document).on("click","td", function () {
           var clickedBtnID = $(this).attr('class');
           if (clickedBtnID != 'clicktrexcept')
            {   //e.preventDefault();
                var did = $(this).parent().attr('data-id');
                urls = $("#p"+did).attr('class');
                 MoveLocation(urls);
            }

        });
    /*
     $("tr.clicktr").on('click','td',function(e){


            var id = $(this).attr('class');
            if (id != 'clicktrexcept')
            {   e.preventDefault();
                var did = $("tr.clicktr").attr('data-id');
                alert(did)
                urls = $("#p"+did).attr('class');
                alert(urls);
                MoveLocation(urls)
            }

        });*/

            choiceoption();
            /*
            $(document).on('submit', '#model_form', function (e) {

                var datas = getCheckedTable('model_list')

                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                //csrfmiddlewaretoken:csrftoken

                $.ajax({
                    type: 'POST',
                    url: '{% url 'application_patent_domestic:master_delete' %}',
                    async: false,
                    data: {
                        'm_list_ids': datas,
                        csrfmiddlewaretoken: csrftoken
                    },
                    success: function (data) {
                        if (data.status == 'ok') {

                        }

                    },

                });
                event.preventDefault();
            });
            */
        });


        /*
                $(document).on('submit', '#patent_table',function(e){

                var datas = getCheckedTable('master_list')

            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                    //csrfmiddlewaretoken:csrftoken

            $.ajax({
                type:'POST',
                url:'{% url 'application_patent_domestic:master_delete' %}',
        async:false,
        data:{
            'm_list_ids': datas,
            csrfmiddlewaretoken:csrftoken
        },
        success:function (data) {
            if(data.status=='ok')
            {

            }

        },

    });
            event.preventDefault();
});
*/


    </script>
{% endblock content %}



