<p>이메일 분류</p>
<p>연결된 이메일</p>
{% load emailsystem_tags %}
<span style="float: left">필터</span>
<span style="float: left">
        <input type="radio" class="email_filter_input" id="none" name="email_for_classifying_filter" value="none"
               checked>
         <label class="emailfilter_label" for="none">none</label><br>
       </span>
<span style="float: left">
        <input type="radio" class="email_filter_input" id="patent" name="email_for_classifying_filter" value="patent">
         <label class="emailfilter_label" for="patent">patent</label><br>
       </span>
<span style="float: left">
        <input type="radio" class="email_filter_input" id="case" name="email_for_classifying_filter" value="case">
        <label for="case">case</label><br>
     </span>
<span>
        <input type="radio" class="email_filter_input" id="task" name="email_for_classifying_filter" value="task">
        <label for="task">task</label><br>
        </span>


<p>RE, FW</p>

<div class="email_relation_re_fw">

</div>


<p>ACK </p>
<div class="email_relation_ack">

</div>
<div><a class="btn btn-primary" onclick="send_ack_mail()">ACK 보내기</a></div>


<script type="text/javascript">
    $(document).ready(function () {
        // 최초 re/fw/ack 탐색
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: 'POST',
            url: '{% url 'emailsystem:responseemailfilter' %}',
            data: {
                'emailid': '{{ emaildetail.id }}',
                csrfmiddlewaretoken: csrftoken
            },
            dataType: 'json',
            success: function (data) {


                Get_RE_FW_ACK(data)

            }
        });


        $('input[type=radio][name=email_for_classifying_filter]').on('change', function () {

            // 옵션 변경 시 re/fw/ack 탐색
            var radioval = $(this).val();
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                type: 'POST',
                url: '{% url 'emailsystem:responseemailfilter' %}',
                data: {
                    'emailid': '{{ emaildetail.id }}',
                    'filtername': radioval,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                success: function (data) {

                    Get_RE_FW_ACK(data)
                }
            });


        });
    });
    function popemaildetail(url)
    {
       newPopup(url);
    }
    function Get_RE_FW_ACK(data) {

        $('.email_relation_re_fw').empty()
        for (var i in data.re_fw_message) {
            var refwhtml = ''
            var did = data.re_fw_message[i].id
            var emaildetaiid = data.re_fw_message[i].email_id

            var url = "{% url 'emailsystem:emailcontentiframe' 1111 %}".replace(/1111/,emaildetaiid.toString());
            refwhtml = refwhtml +

                '<div> <a onclick="popemaildetail(\''+url+'\')">' + data.re_fw_message[i].email_subject + '</a>' +
                '<select class="emailrelation" id=\"' + did + '\">\n' +
                '\n' +
                '<option value="none">------</option>\n' +
                '        <option value="RE">RE</option>\n' +
                '        <option value="FW">FW</option>\n' +
                '    </select>' +
                '<div>'

            $('.email_relation_re_fw').append(refwhtml)

        }

        $('.email_relation_ack').empty()
        for (var i in data.ack_message) {

            var refwhtml = ''
            var did = data.ack_message[i].id
            var emaildetaiid = data.ack_message[i].email_id

            var url = "{% url 'emailsystem:emailcontentiframe' 1111 %}".replace(/1111/,emaildetaiid.toString());
            refwhtml = refwhtml +
                '<div> <a onclick="popemaildetail(\''+url+'\')">' + data.ack_message[i].email_subject + '</a>' +
                '<select class="emailrelation" id=\"' + did + '\">\n' +
                '\n' +
                '<option value="none">------</option>\n' +
                '        <option value="AK">AK</option>\n' +
                '    </select>' +
                '<div>'
            $('.email_relation_ack').append(refwhtml)
        }

        for (var i in data.re_fw_message) {
            var type = data.re_fw_message[i].emailfilter
            var did = data.re_fw_message[i].id
            $("#" + did).val(type).prop("selected", true);

        }


        for (var i in data.ack_message) {
            var type = data.ack_message[i].emailfilter
            var did = data.ack_message[i].id
            $("#" + did).val(type).prop("selected", true);

        }
        $('select[class=emailrelation]').change(function () {


            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                type: 'POST',
                url: '{% url 'emailsystem:email_change_relation' %}',
                data: {
                    'parent_msgid': '{{ emaildetail.msg }}',
                    'child_msgid': $(this).attr('id'),
                    'relationtype': this.value,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                success: function (data) {
                    if (data.result != 'success')
                    {
                         sendMsgToParent('{{ emaildetail.msg }}');
                    }
                }
            });
        })


    }
    var doubleSubmitFlag = false;
    function doubleSubmitCheck(){
        if(doubleSubmitFlag){
            return doubleSubmitFlag;
        }else{
            doubleSubmitFlag = true;
            return false;
        }
    }

    function send_ack_mail() {
            if(doubleSubmitCheck()) return;

          var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                type: 'POST',
                url: '{% url 'emailsystem:email_ack_send' %}',
                data: {
                    'emailid_foreply': '{{ emaildetail.id }}',
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                success: function (data) {

                         alert(data.result);
                         location.reload();

                },
                error: function(xhr, ajaxOptions, thrownError) {
                alert(xhr.status + ' Error: ' + thrownError);
            }
            });

    }
</script>