.title a {
    font-size: 13px;
    font-weight: bold;
}



div.codenames {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;

    overflow: auto;
    font-size: 10pt;
    font-weight: normal;
    padding-left: 0px;

}
div span.spandelete
{
    float: right;
}
div.codeul
{




}
span.codetype {
    display: block;
    font-size: 13pt;
    font-weight: bold;
    float: left;
	width: 120px;
	text-align: center;
	border-right: 1px solid #ddd;
}


