{% if patent == 'P' and nation == 'D' %}
    <colgroup>
        <col style="width:10%;"/>
        <col style="width:10%;"/>
        <col style="width:10%;"/>
        <col style="width:50%;"/>
        <col style="width:10%;"/>
        <col style="width:10%;"/>
    </colgroup>
    <thead>
    <tr>
        <th>{{ h.state }}</th>
        <th>{{ h.ourCompanyNumber }}</th>
        <th>{{ h.applicationNumber }}</th>
        <th>{{ h.inventNameKor }}</th>
        <th>{{ h.applicants }}</th>
        <th>{{ h.applicationDate }}</th>
    </tr>
    </thead>
{% elif patent == 'P' and nation == 'O' or patent == 'P' and nation == 'I' %}
    <tr>
        <th>{{ h.state }}</th>
        <th>{{ h.ourCompanyNumber }}</th>
        <th>{{ h.countryCode }}</th>
        <th>{{ h.applicationNumber }}</th>
        <th>{{ h.inventNameKor }}</th>
        <td>{{ h.inventNameOrigin }}</td>
        <th>{{ h.applicants }}</th>
        <th>{{ h.applicationDate }}</th>
        <th>{{ h.pctBaseApplication }}</th>
        <th>{{ h.oversea_agent }}</th>
        <th>{{ h.foreignAgentCode }}</th>
    </tr>
{% elif patent == 'T' and nation == 'D' %}
    <tr>
        <th>{{ h.state }}</th>
        <th>{{ h.ourCompanyNumber }}</th>
        <th>{{ h.applicationNumber }}</th>
        <th>{{ h.brandImage }}</th>
        <th>{{ h.brandName }}</th>
        <th>{{ h.productClassification }}</th>
        <th>{{ h.designatedProductKor }}</th>
        <th>{{ h.applicants }}</th>
        <th>{{ h.applicationDate }}</th>
    </tr>
{% elif patent == 'T' and nation == 'O' or patent == 'T' and nation == 'I' %}
    <tr>
        <th>{{ h.state }}</th>
        <th>{{ h.ourCompanyNumber }}</th>
        <th>{{ h.countryCode }}</th>
        <th>{{ h.applicationNumber }}</th>
        <th>{{ h.brandImage }}</th>
        <th>{{ h.brandName }}</th>
        <th>{{ h.productClassification }}</th>
        <th>{{ h.designatedProductOrigin }}</th>
        <th>{{ h.designatedProductKor }}</th>
        <th>{{ h.applicants }}</th>
        <th>{{ h.applicationDate }}</th>
    </tr>
{% endif %}

