<!-- 특허 / 국내 -->
{% if patent == 'P' and nation == 'D' %}
    <td>
        {% for c in code_multiplelang_all %}
            {% if c.0 == data.state %}
                {{ c.1 }}
            {% endif %}
        {% endfor %}

    </td>
    <td>{{ data.receptionDate|date:"Y-m-d" }}</td>
    <td>{{ data.ourCompanyNumber }}</td>
    <td>{{ data.applicationNumber }}</td>
    <td>{{ data.inventNameKor }}</td>
     <td>{% for p in data.client.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.applicants.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.applicationRequestFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
    <td>{{ data.priorityClaim }}</td>
    <td>{{ data.priorityDate|date:"Y-m-d" }}</td>
    <td>{{ data.registrationNumber }}</td>
    <td>{{ data.registrationDate }}</td>
    <td>{% for p in data.holder.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.mainInventor.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfApplicant.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfOurCompany.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.draftFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.draftSendDate|date:"Y-m-d" }}</td>
    <td>{{ data.currentProgress }}</td>
    <td>{{ data.currentProgressDate|date:"Y-m-d" }}</td>
    <td>{{ data.remarks }}</td>

    <!-- 특허 / 해외 -->
{% elif patent == 'P' and nation == 'O' %}
    <td>
        {% for c in code_multiplelang_all %}
            {% if c.0 == data.state %}
                {{ c.1 }}
            {% endif %}
        {% endfor %}
    </td>
    <td>{{ data.receptionDate|date:"Y-m-d" }}</td>
    <td>{{ data.ourCompanyNumber }}</td>
    <td>
        {% for cc in countryCode %}
            {% if cc.0 == data.countryCode %}
                {{ cc.1 }}
            {% endif %}
        {% endfor %}

    </td>
    <td>{{ data.applicationNumber }}</td>
    <td>{{ data.inventNameKor }}</td>
    <td>{{ data.inventNameOrigin }}</td>
        <td>{% for p in data.client.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.applicants.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.applicationRequestFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
    <td>{{ data.pctBaseApplication }}</td>
    <td>{% for p in data.oversea_agent.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.foreignAgentCode }}</td>
    <td>{{ data.registrationNumber }}</td>
    <td>{{ data.registrationDate }}</td>
    <td>{% for p in data.holder.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.mainInventor.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfApplicant.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfOurCompany.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.draftFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.draftSendDate|date:"Y-m-d" }}</td>
    <td>{{ data.currentProgress }}</td>
    <td>{{ data.currentProgressDate|date:"Y-m-d" }}</td>
    <td>{{ data.remarks }}</td>

    <!-- 특허 / 인커밍 -->
{% elif patent == 'P' and nation == 'I' %}

    <td>
        {% for c in code_multiplelang_all %}
            {% if c.0 == data.state %}
                {{ c.1 }}
            {% endif %}
        {% endfor %}
    </td>
    <td>{{ data.receptionDate|date:"Y-m-d" }}</td>
    <td>{{ data.ourCompanyNumber }}</td>
    <td>{{ data.applicationNumber }}</td>
    <td>{{ data.inventNameKor }}</td>
        <td>{% for p in data.client.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.applicants.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.applicationRequestFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
    <td>{{ data.pctBaseApplication }}</td>
    <td>{{ data.priorityClaim }}</td>
    <td>{{ data.priorityDate|date:"Y-m-d" }}</td>
    <td>{{ data.registrationNumber }}</td>
    <td>{{ data.registrationDate }}</td>
    <td>{% for p in data.holder.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.oversea_agent.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.foreignAgentCode }}</td>
    <td>{% for p in data.mainInventor.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfApplicant.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfOurCompany.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.draftFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.draftSendDate|date:"Y-m-d" }}</td>
    <td>{{ data.currentProgress }}</td>
    <td>{{ data.currentProgressDate|date:"Y-m-d" }}</td>
    <td>{{ data.remarks }}</td>

    <!-- 상표 / 국내 -->
{% elif patent == 'T' and nation == 'D' %}

    <td>

        {% for c in code_multiplelang_all %}
            {% if c.0 == data.state %}
                {{ c.1 }}
            {% endif %}
        {% endfor %}
    </td>
    <td>{{ data.receptionDate|date:"Y-m-d" }}</td>
    <td>{{ data.ourCompanyNumber }}</td>
    <td>{{ data.applicationNumber }}</td>
    <td class="clicktrexcept">
        {% if data.brandImage %}
            <a href="{{ data.brandImage.url }}">brandattach</a>
        {% endif %}
        <input type="file"
               onchange="getfolder(event,'{% url 'application_patent_domestic:upload_brandimage' data.id %}')"
               id="ctrl"/>
    </td>
    <td>{{ data.brandName }}</td>
    <td>{{ data.productClassification }}</td>
    <td>{{ data.designatedProductKor }}</td>
        <td>{% for p in data.client.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.applicants.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
    <td>{{ data.remarks }}</td>

    <!-- 상표 / 해외 -->
{% elif patent == 'T' and nation == 'O' %}


    <td>
        {% for c in code_multiplelang_all %}
            {% if c.0 == data.state %}
                {{ c.1 }}
            {% endif %}
        {% endfor %}
    </td>
    <td>{{ data.receptionDate|date:"Y-m-d" }}</td>
    <td>{{ data.ourCompanyNumber }}</td>
    <td>
      {% for cc in countryCode %}
            {% if cc.0 == data.countryCode %}
                {{ cc.1 }}
            {% endif %}
        {% endfor %}

    </td>
    <td>{{ data.applicationNumber }}</td>

    <td class="clicktrexcept">
        {% if data.brandImage %}
            <a href="{{ data.brandImage.url }}">brandattach</a>
        {% endif %}
        <input type="file"
               onchange="getfolder(event,'{% url 'application_patent_domestic:upload_brandimage' data.id %}')"
               id="ctrl"/>
    </td>
    <td>{{ data.brandName }}</td>
    <td>{{ data.productClassification }}</td>
    <td>{{ data.designatedProductOrigin }}</td>
    <td>{{ data.designatedProductKor }}</td>
    <td>{{ data.designatedProductEng }}</td>
        <td>{% for p in data.client.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.applicants.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
    <td>{% for p in data.oversea_agent.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.foreignAgentCode }}</td>
    <td>{% for p in data.managerOfApplicant.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfOurCompany.all %}
        {{ p }}
    {% endfor %}</td>


    <td>{{ data.remarks }}</td>


{% elif patent == 'R' %}

    <td>
        {% for c in code_multiplelang_all %}
            {% if c.0 == data.state %}
                {{ c.1 }}
            {% endif %}
        {% endfor %}
    </td>
    <td>{{ data.receptionDate|date:"Y-m-d" }}</td>
    <td>{{ data.ourCompanyNumber }}</td>
    <td>{{ data.inventNameKor }}</td>
    <td>
        {% for cl in data.client.all %}

            {% for c in cl.client_clienttype.all %}
                {% if c.typeName == 'Client' %}
                    {{ cl }}
                {% endif %}
            {% endfor %}

        {% endfor %}
    </td>
    <td>{% for p in data.managerOfApplicant.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfOurCompany.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.applicationRequestFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.draftFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.draftSendDate|date:"Y-m-d" }}</td>
    <td>{{ data.currentProgress }}</td>
    <td>{{ data.currentProgressDate|date:"Y-m-d" }}</td>
    <td>{{ data.remarks }}</td>



{% else %}




    <td>{{ data.patentType }}</td>
    <td>{{ data.nationType }}</td>
    <td>
        {% for c in code_multiplelang_all %}
            {% if c.0 == data.state %}
                {{ c.1 }}
            {% endif %}
        {% endfor %}
    </td>

    <td>
      {% for cc in countryCode %}
            {% if cc.0 == data.countryCode %}
                {{ cc.1 }}
            {% endif %}
        {% endfor %}
    </td>
    <td>{% for d in data.tag.all %}
        <p>{{ d }}</p>
    {% endfor %}</td>
    <td>{{ data.pctBaseApplication }}</td>
    <td class="clicktrexcept">
        {% if data.brandImage %}
            <a href="{{ data.brandImage.url }}">brandattach</a>
        {% endif %}
        <input type="file"
               onchange="getfolder(event,'{% url 'application_patent_domestic:upload_brandimage' data.id %}')"
               id="ctrl"/>
    </td>
    <td>{{ data.brandName }}</td>
    <td>{{ data.productClassification }}</td>
    <td>{{ data.designatedProductOrigin }}</td>
    <td>{{ data.designatedProductKor }}</td>
    <td>{{ data.designatedProductEng }}</td>
    <td>{% for p in data.applicants.all %}
        {{ p }}
    {% endfor %}</td>
    <td>
        {% for cl in data.client.all %}

            {% for c in cl.client_clienttype.all %}
                {% if c.typeName == 'Client' %}
                    {{ c.typeName }}
                {% endif %}
            {% endfor %}

        {% endfor %}
    </td>
    <td>{{ data.ourCompanyNumber }}</td>
    <td>{{ data.inventNameKor }}</td>
    <td>{{ data.inventNameOrigin }}</td>
    <td>{% for p in data.mainInventor.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfApplicant.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.managerOfOurCompany.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.holder.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.agent.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{% for p in data.oversea_agent.all %}
        {{ p }}
    {% endfor %}</td>
    <td>{{ data.receptionDate|date:"Y-m-d" }}</td>
    <td>{{ data.priorityClaim }}</td>
    <td>{{ data.priorityDate|date:"Y-m-d" }}</td>
    <td>{{ data.applicationRequestFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.draftFixedDate|date:"Y-m-d" }}</td>
    <td>{{ data.draftSendDate|date:"Y-m-d" }}</td>
    <td>{{ data.currentProgress }}</td>
    <td>{{ data.currentProgressDate|date:"Y-m-d" }}</td>
    <td>{{ data.applicationNumber }}</td>
    <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
    <td>{{ data.remarks }}</td>

{% endif %}