{% if patent == 'P' and nation == 'D' %}
    <th>{{ data.state }}</th>
    <th>{{ data.receptionDate }}</th>
    <th>{{ data.ourCompanyNumber }}</th>
    <th>{{ data.applicationNumber }}</th>
    <th>{{ data.inventNameKor }}</th>
     <th>{{ data.client }}</th>
    <th>{{ data.applicants }}</th>
    <th>{{ data.applicationRequestFixedDate }}</th>
    <th>{{ data.applicationDate }}</th>
     <th>{{ data.priorityClaim }}</th>
    <th>{{ data.priorityDate }}</th>
    <th>{{ data.registrationNumber }}</th>
    <th>{{ data.registrationDate }}</th>
    <th>{{ data.holder }}</th>
    <th>{{ data.mainInventor }}</th>
    <th>{{ data.managerOfApplicant }}</th>
    <th>{{ data.managerOfOurCompany }}</th>
    <th>{{ data.draftFixedDate }}</th>
    <th>{{ data.draftSendDate }}</th>
    <th>{{ data.currentProgress }}</th>
    <th>{{ data.currentProgressDate }}</th>
    <th>{{ data.remarks }}</th>

{% elif patent == 'P' and nation == 'O' %}
    <th>{{ data.state }}</th>
    <th>{{ data.receptionDate }}</th>
    <th>{{ data.ourCompanyNumber }}</th>
    <th>{{ data.countryCode }}</th>
    <th>{{ data.applicationNumber }}</th>
    <th>{{ data.inventNameKor }}</th>
    <th>{{ data.inventNameOrigin }}</th>
     <th>{{ data.client }}</th>
    <th>{{ data.applicants }}</th>
    <th>{{ data.applicationRequestFixedDate }}</th>
    <th>{{ data.applicationDate }}</th>
    <th>{{ data.pctBaseApplication }}</th>
    <th>{{ data.oversea_agent }}</th>
    <th>{{ data.foreignAgentCode }}</th>
    <th>{{ data.registrationNumber }}</th>
    <th>{{ data.registrationDate }}</th>
    <th>{{ data.holder }}</th>
    <th>{{ data.mainInventor }}</th>
    <th>{{ data.managerOfApplicant }}</th>
    <th>{{ data.managerOfOurCompany }}</th>
    <th>{{ data.draftFixedDate }}</th>
    <th>{{ data.draftSendDate }}</th>
    <th>{{ data.currentProgress }}</th>
    <th>{{ data.currentProgressDate }}</th>
    <th>{{ data.remarks }}</th>

{% elif patent == 'P' and nation == 'I' %}
    <th>{{ data.state }}</th>
    <th>{{ data.receptionDate }}</th>
    <th>{{ data.ourCompanyNumber }}</th>
    <th>{{ data.applicationNumber }}</th>
    <th>{{ data.inventNameKor }}</th>
     <th>{{ data.client }}</th>
    <th>{{ data.applicants }}</th>
    <th>{{ data.applicationRequestFixedDate }}</th>
    <th>{{ data.applicationDate }}</th>
    <th>{{ data.pctBaseApplication }}</th>
    <th>{{ data.priorityClaim }}</th>
    <th>{{ data.priorityDate }}</th>
    <th>{{ data.registrationNumber }}</th>
    <th>{{ data.registrationDate }}</th>
    <th>{{ data.holder }}</th>
    <th>{{ data.oversea_agent }}</th>
    <th>{{ data.foreignAgentCode }}</th>
    <th>{{ data.mainInventor }}</th>
    <th>{{ data.managerOfApplicant }}</th>
    <th>{{ data.managerOfOurCompany }}</th>
    <th>{{ data.draftFixedDate }}</th>
    <th>{{ data.draftSendDate }}</th>
    <th>{{ data.currentProgress }}</th>
    <th>{{ data.currentProgressDate }}</th>
    <th>{{ data.remarks }}</th>

{% elif patent == 'T' and nation == 'D' %}

    <th>{{ data.state }}</th>
    <th>{{ data.receptionDate }}</th>
    <th>{{ data.ourCompanyNumber }}</th>
    <th>{{ data.applicationNumber }}</th>
    <th>{{ data.brandImage }}</th>
    <th>{{ data.brandName }}</th>
    <th>{{ data.productClassification }}</th>
    <th>{{ data.designatedProductKor }}</th>
     <th>{{ data.client }}</th>
    <th>{{ data.applicants }}</th>
    <th>{{ data.applicationDate }}</th>
    <th>{{ data.remarks }}</th>

{% elif patent == 'T' and nation == 'O' %}

    <th>{{ data.state }}
    </th>
    <th>{{ data.receptionDate }}
    </th>
    <th>{{ data.ourCompanyNumber }}
  </th>
    <th>{{ data.countryCode }}
    </th>
    <th>{{ data.applicationNumber }}
    </th>
    <th>{{ data.brandImage }}
    </th>
    <th>{{ data.brandName }}
    </th>
    <th>{{ data.productClassification }}
   </th>
    <th>{{ data.designatedProductOrigin }}
   </th>
    <th>{{ data.designatedProductKor }}
    </th>
    <th>{{ data.designatedProductEng }}
   </th>
     <th>{{ data.client }}</th>
    <th>{{ data.applicants }}
   </th>
    <th>{{ data.applicationDate }}
    </th>
    <th>{{ data.oversea_agent }}
   </th>
    <th>{{ data.foreignAgentCode }}
   </th>
    <th>{{ data.managerOfApplicant }}
    </th>
    <th>{{ data.managerOfOurCompany }}
   </th>
    <th>{{ data.remarks }}
   </th>

        {% elif patent == 'R' %}

    <th>{{ data.state }}</th>
    <th>{{ data.receptionDate }}</th>
    <th>{{ data.ourCompanyNumber }}</th>
    <th>{{ data.inventNameKor }}</th>
    <th>{{ data.client }}</th>
    <th>{{ data.managerOfApplicant }}</th>
    <th>{{ data.managerOfOurCompany }}</th>
    <th>{{ data.applicationRequestFixedDate }}</th>
    <th>{{ data.draftFixedDate }}</th>
    <th>{{ data.draftSendDate }}</th>
    <th>{{ data.currentProgress }}</th>
    <th>{{ data.currentProgressDate }}</th>
    <th>{{ data.remarks }}</th>


{% else %}
    <th>{{ data.patentType }}</th>
    <th>{{ data.nationType }}</th>
    <th>{{ data.state }}</th>
    <th>{{ data.countryCode }}</th>
    <th>{{ data.tag }}</th>
    <th>{{ data.pctBaseApplication }}</th>
    <th>{{ data.brandImage }}</th>
    <th>{{ data.brandName }}</th>
    <th>{{ data.productClassification }}</th>
    <th>{{ data.designatedProductOrigin }}</th>
    <th>{{ data.designatedProductKor }}</th>
    <th>{{ data.designatedProductEng }}</th>
    <th>{{ data.applicants }}</th>
    <th>{{ data.client }}</th>
    <th>{{ data.ourCompanyNumber }}</th>
    <th>{{ data.inventNameKor }}</th>
    <th>{{ data.inventNameOrigin }}</th>
    <th>{{ data.mainInventor }}</th>
    <th>{{ data.managerOfApplicant }}</th>
    <th>{{ data.managerOfOurCompany }}</th>
    <th>{{ data.holder }}</th>
    <th>{{ data.agent }}</th>
    <th>{{ data.oversea_agent }}</th>
    <th>{{ data.receptionDate }}</th>
    <th>{{ data.priorityClaim }}</th>
    <th>{{ data.priorityDate }}</th>
    <th>{{ data.applicationRequestFixedDate }}</th>
    <th>{{ data.draftFixedDate }}</th>
    <th>{{ data.draftSendDate }}</th>
    <th>{{ data.currentProgress }}</th>
    <th>{{ data.currentProgressDate }}</th>
    <th>{{ data.applicationNumber }}</th>
    <th>{{ data.applicationDate }}</th>
    <th>{{ data.remarks }}</th>
{% endif %}