
<tbody>
    {% if patent == 'P' and nation == 'D' %}

        <tr>
            <td>{{ data.state }}</td>
            <td>{{ data.ourCompanyNumber }}</td>
            <td>{{ data.applicationNumber }}</td>
            <td>{{ data.inventNameKor }}</td>

            <td>{% for p in data.applicants.all %}
                {{ p }}
            {% endfor %}</td>
            <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
        </tr>
    {% elif patent == 'P' and nation == 'O' or patent == 'P' and nation == 'I' %}

        <tr>
            <td>{{ data.state }}</td>
            <td>{{ data.ourCompanyNumber }}</td>
            <td>{{ data.countryCode }}</td>
            <td>{{ data.applicationNumber }}</td>
            <td>{{ data.inventNameKor }}</td>
            <td>{{ data.inventNameOrigin }}</td>
            <td>{% for p in data.applicants.all %}
                {{ p }}
            {% endfor %}</td>
            <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
            <td>{{ data.pctBaseApplication }}</td>
            <td>{% for p in data.oversea_agent.all %}
                {{ p }}
            {% endfor %}</td>
            <td>{{ data.foreignAgentCode }}</td>

        </tr>


    {% elif patent == 'T' and nation == 'D' %}

        <tr>

            <td>{{ data.state }}</td>
            <td>{{ data.ourCompanyNumber }}</td>
            <td>{{ data.applicationNumber }}</td>
            <td class="clicktrexcept">
                {% if data.brandImage %}
                    <a href="{{ data.brandImage.url }}">brandattach</a>
                {% endif %}
                <input type="file"
                       onchange="getfolder(event,'{% url 'application_patent_domestic:upload_brandimage' data.id %}')"
                       id="ctrl"/>
            </td>
            <td>{{ data.brandName }}</td>

            <td>{{ data.productClassification }}</td>
            <td>{{ data.designatedProductKor }}</td>
            <td>{% for p in data.applicants.all %}
                {{ p }}
            {% endfor %}</td>
            <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
        </tr>
    {% elif patent == 'T' and nation == 'O' or patent == 'T' and nation == 'I' %}

        <tr>
            <td>{{ data.state }}</td>
            <td>{{ data.ourCompanyNumber }}</td>
            <td>{{ data.countryCode }}</td>
            <td>{{ data.applicationNumber }}</td>
            <td class="clicktrexcept">
                {% if data.brandImage %}
                    <a href="{{ data.brandImage.url }}">brandattach</a>
                {% endif %}
                <input type="file"
                       onchange="getfolder(event,'{% url 'application_patent_domestic:upload_brandimage' data.id %}')"
                       id="ctrl"/>
            </td>
            <td>{{ data.brandName }}</td>

            <td>{{ data.productClassification }}</td>
            <td>{{ data.designatedProductOrigin }}</td>
            <td>{{ data.designatedProductKor }}</td>
            <td>{% for p in data.applicants.all %}
                {{ p }}
            {% endfor %}</td>
            <td>{{ data.applicationDate|date:"Y-m-d" }}</td>
        </tr>
    {% endif %}

</tbody>